<div class="welcome-message text-center row">
    <div class="col-xs-12 offset-md-2 col-md-8">
        <p>{{ welcome_message }}</p>
        <p>{{ __( 'From your account dashboard you can view your <button class="btn btn-text"><strong data-accordion-trigger="orders">recent orders</strong></button>, manage your <button class="btn btn-text"><strong data-accordion-trigger="edit-addresses">shipping and billing addresses</strong></button>, and <button class="btn btn-text"><strong data-accordion-trigger="edit-account">edit your password and account details</strong></button>.', 'woocommerce' ) }}</p>
    </div>
</div>

{% do action( 'woocommerce_account_dashboard' ) %}
{% do action( 'woocommerce_before_my_account' ) %}
{% do action( 'woocommerce_after_my_account' ) %}
