<div class="row">
    <div class="offset-1 col-xs-10">
        <form method="post" class="woocommerce-ResetPassword lost_reset_password text-center">
            <h1 class="font-primary font-italic display-2">{{ __('Lost your password?', 'woocommerce') }}</h1>
            <p>{{ __( 'Please enter your username or email address. You will receive a link to create a new password via email.', 'woocommerce' )|e('esc_html')|apply_filters( 'woocommerce_lost_password_message') }}</p>

            <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first input-type-text display-3">
        <span class="woocommerce-input-wrapper">
        <label for="user_login">{{ __( 'Username or email', 'woocommerce' )|e('esc_html') }}</label>
        <input class="woocommerce-Input woocommerce-Input--text input-text" type="text" name="user_login" id="user_login" autocomplete="username" />
        </span>
            </p>

            <div class="clear"></div>

            {% do action( 'woocommerce_lostpassword_form' )  %}

            <p class="woocommerce-form-row form-row">
                <input type="hidden" name="wc_reset_password" value="true" />
                <button type="submit" class="btn btn--full" value="{{ __( 'Reset password', 'woocommerce' )|e('html_attr') }}">{{ __( 'Reset password', 'woocommerce' )|e('esc_html') }}</button>
            </p>

            {{ wp_nonce_field('lost_password', 'woocommerce-lost-password-nonce', true, false ) }}

        </form>
    </div>
</div>