<form class="woocommerce-EditAccountForm edit-account" action="" method="post">

    {% do action( 'woocommerce_edit_account_form_start' ) %}

    <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first input-type-text">
    <span class="woocommerce-input-wrapper">
        <label for="account_first_name">{{ __( 'First name', 'woocommerce' )|e('esc_html') }}&nbsp;<span class="required">*</span></label>
        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="account_first_name" id="account_first_name" autocomplete="given-name" value="{{ user.first_name|e('html_attr') }}" />
    </span>
    </p>
    <p class="woocommerce-form-row woocommerce-form-row--last form-row form-row-last input-type-text ">
    <span class="woocommerce-input-wrapper">
        <label for="account_last_name">{{ __( 'Last name', 'woocommerce' )|e('esc_html') }}&nbsp;<span class="required">*</span></label>
        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="account_last_name" id="account_last_name" autocomplete="family-name" value="{{ user.last_name|e('html_attr') }}" />
    </span>
    </p>
    <div class="clear"></div>

    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide input-type-text display-4">
    <span class="woocommerce-input-wrapper">
        <label for="account_display_name">{{ __( 'Display name', 'woocommerce' )|e('esc_html') }}&nbsp;<span class="required">*</span></label>
        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="account_display_name" id="account_display_name" value="{{  user.display_name|e('html_attr') }} " />
    </span>
        <small class="form-notice mt-2">{{ __( 'This will be how your name will be displayed in the account section and in reviews', 'woocommerce' )|e('esc_html') }}</small>
    </p>
    <div class="clear"></div>

    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide input-type-text">
    <span class="woocommerce-input-wrapper">
        <label for="account_email">{{ __( 'Email address', 'woocommerce' )|e('esc_html') }} &nbsp;<span class="required">*</span></label>
        <input type="email" class="woocommerce-Input woocommerce-Input--email input-text" name="account_email" id="account_email" autocomplete="email" value="{{  user.user_email|e('html_attr') }}" />
    </span>
    </p>

    <fieldset class="mt-5">
        <legend>{{ __( 'Password change', 'woocommerce' )|e('esc_html') }}</legend>

        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide input-type-text">
        <span class="woocommerce-input-wrapper">
            <label for="password_current">{{ __( 'Current password', 'woocommerce' ) }}</label>
            <input type="password" class="woocommerce-Input woocommerce-Input--password input-text" name="password_current" id="password_current" autocomplete="off" placeholder="{{__('Leave blank to leave unchanged', 'woocommerce')}}" />
        </span>
        </p>
        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide input-type-text">
        <span class="woocommerce-input-wrapper">
            <label for="password_1">{{ __( 'New password', 'woocommerce' ) }}</label>
            <input type="password" class="woocommerce-Input woocommerce-Input--password input-text" name="password_1" id="password_1" autocomplete="off" placeholder="{{__('Leave blank to leave unchanged', 'woocommerce')}}"/>
        </span>
        </p>
        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide input-type-text">
        <span class="woocommerce-input-wrapper">
            <label for="password_2">{{ __( 'Confirm new password', 'woocommerce' )|e('esc_html') }}</label>
            <input type="password" class="woocommerce-Input woocommerce-Input--password input-text" name="password_2" id="password_2" autocomplete="off" />
        </span>
        </p>
    </fieldset>
    <div class="clear"></div>

    {% do action( 'woocommerce_edit_account_form' ) %}

    <p>
        {% do wp_nonce_field( 'save_account_details', 'save-account-details-nonce' ) %}
        <button type="submit" class="btn btn--full mt-5" name="save_account_details" value="{{ __( 'Save changes', 'woocommerce' )|e('html_attr') }}">{{ __( 'Save changes', 'woocommerce' )|e('esc_html') }}</button>
        <input type="hidden" name="action" value="save_account_details" />
    </p>

    {% do action( 'woocommerce_edit_account_form_end' ) %}
</form>

{% do action( 'woocommerce_after_edit_account_form' ) %}
