{% do action( 'woocommerce_before_edit_account_address_form' ) %}

{% if not load_address %}
{{ fn('wc_get_template', 'myaccount/my-address.php' ) }}
{% else %}
<form action="{{ site.link }}/my-account/" method="post">

    <h4 class="edit-address-title text-center font-primary font-italic color-primary mb-5">{{ page_title |apply_filters( 'woocommerce_my_account_edit_address_title', load_address ) }}</h4>

    <div class="woocommerce-address-fields">
        {% do action( "woocommerce_before_edit_address_form_"~load_address ) %}

        <div class="woocommerce-address-fields__field-wrapper">
            {{ fn('loop_print_form_fields', address) }}
        </div>

        {% do action( "woocommerce_after_edit_address_form_"~load_address ) %}

        <div class="text-center">
            <button type="submit" class="btn btn-text btn--full mt-5" name="save_address" value="{{ __( 'Save address', 'woocommerce' )|e('html_attr') }}">{{ __( 'Save address', 'woocommerce' )|e('esc_html') }}</button>
            {{ wp_nonce_field('woocommerce-edit_address', 'woocommerce-edit-address-nonce', true, false ) }}
            <input type="hidden" name="action" value="edit_address" />
        </div>
    </div>

</form>

{% endif %}

{% do action( 'woocommerce_after_edit_account_address_form' )  %}
