{% do action( 'woocommerce_before_account_navigation' ) %}
<nav class="woocommerce-MyAccount-navigation mb-5 mt-5">
    <ul id="accordion" class="accordion list-unstyled text-center">
        {% for endpoint, label in menu_items %}
            {% set labelesc = label|e('esc_html') %}
            <li class="accordion__element accordion__element-{{ endpoint|slugify }}">
                {% if not (endpoint|slugify == 'customer-logout') %}
                    <div class="accordion__element--header" id="{{ endpoint|slugify }}">
                        <button class="btn btn-link font-primary font-italic color-primary" data-toggle="collapse" data-target="#{{ endpoint|slugify }}-collapsible" aria-expanded="false" aria-controls="{{ labelesc|slugify }}-collapsible">
                            {{ labelesc }}
                        </button>
                    </div>

                    <div id="{{ endpoint|slugify }}-collapsible" class="collapse" aria-labelledby="{{ endpoint|slugify }}" data-parent="#accordion">
                        <div class="accordion__element--body mt-5 mb-5">
                            {% set wc_action = 'woocommerce_account_' ~ endpoint ~ '_endpoint' %}
                            {% if (wc_action == 'woocommerce_account_edit-address_endpoint') %}
                                {% do action(wc_action, '') %}
                            {% else %}
                                {% do action(wc_action) %}
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <a id="logout-btn" class="btn btn-link font-primary font-italic display-2 color-primary" href="{{ fn('wc_get_account_endpoint_url', endpoint )|e('esc_url') }}">{{ labelesc }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>

{% do action( 'woocommerce_after_account_navigation' ) %}
