<p class="text-center mb-4">
    {{ (__( 'The following addresses will be used on the checkout page by default.', 'woocommerce' ))|apply_filters('woocommerce_my_account_my_address_description') }}
</p>

{% if shipping_enabled_and_not_only_to_billing_address  %}
<div class="u-columns woocommerce-customer-details col2-set addresses d-md-flex d-lg-flex align-items-stretch">
    {% endif %}

    {% for name, title in addresses %}
        {% set address = fn('get_customer_address', customer_id, name) %}
        <div class="addresses col-xs-12 col-md-6 d-md-flex d-lg-flex">
            <div class="woocommerce-Address floating-table flex-fill">
                <div class="floating-table__header">
                    <h3 class="woocommerce-column__title">{{ title }}</h3>
                    <a class="btn" href="{{ fn('wc_get_endpoint_url', 'edit-address' ) }}/{{ name }}" data-address-target="form-{{ name }}-address" aria-label="{{ __('Modifica indirizzo di spedizione', THEME_CONTEXT ~ '-aria') }}">
                        {{ edit_icon }}
                    </a>
                </div>
                {% if address %}
                    <address class="pl-5 pt-4 pr-5 pb-4 display-4">
                        {% if address.company %}<p>{{ address.company }}</p>{% endif %}
                        {% if address.first_name %}<p><strong>{{ address.first_name }} {{ address.last_name }}</strong>{% endif %}
                            {% if address.address_1 %}</br>{{ address.address_1 }}{% endif %}
                            {% if address.address_2 %}</br>{{ address.address_2 }}{% endif %}
                            {% if address.city %}</br>{{ address.city }}{% endif %}
                            {% if address.postcode and address.state %}</br>{{ address.postcode }} {{ address.state }}{% endif %}
                        </p>

                        {% if (name == 'billing') %}
                            <p class="woocommerce-customer-details--phone">{{ address.phone }}</p>
                            <p class="woocommerce-customer-details--email">{{ address.email }}</p>
                        {% endif %}
                    </address>
                {% else %}
                    <p>{{  __( 'You have not set up this type of address yet.', 'woocommerce' )|e('esc_html') }}</p>
                {% endif %}
            </div>
        </div>

    {% endfor %}

    {% if shipping_enabled_and_not_only_to_billing_address  %}
</div>
{% endif %}
