{% do action( 'woocommerce_before_account_navigation' ) %}
<nav class="woocommerce-MyAccount-navigation mb-5">
    <ul class="list-unstyled text-center">
        {% for endpoint, label in menu_items %}
        <li class="{{ fn('wc_get_account_menu_item_classes', endpoint) }}">
            <a href="{{ fn('wc_get_account_endpoint_url', endpoint )|e('esc_url') }}">{{ label|e('esc_html') }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% do action( 'woocommerce_after_account_navigation' ) %}
