{% if has_orders %}
    <table class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table">
        <thead>
        <tr>
            {% for column_id, column_name in columns %}
                <th class="woocommerce-orders-table__header woocommerce-orders-table__header-{{ column_id|e('html_attr') }}"><span class="nobr">{{ column_name|e('esc_html') }}</span></th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for customer_order in customer_orders.orders %}
            {% set order = fn('wc_get_order', customer_order ) %}
            {% set item_count = order.get_item_count %}
            <tr class="woocommerce-orders-table__row woocommerce-orders-table__row--status-{{ order.get_status|e('html_attr') }} order">
                {% for column_id, column_name in columns %}
                    <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-{{ column_id|e('html_attr') }}" data-title="{{ column_name|e('html_attr') }}">
                        {% if fn('has_action', ('woocommerce_my_account_my_orders_column_' ~ column_id)) %}
                            {% do action( ('woocommerce_my_account_my_orders_column_' ~ column_id) , order )  %}
                        {% elseif ( 'order-number'is same as(column_id) ) %}
                            <a href="{{ order.get_view_order_url|e('esc_url') }} ">
                                {{ _x('#', 'hash before order number', 'woocommerce') ~ order.get_order_number }}
                            </a>
                        {% elseif ( 'order-date' is same as(column_id)  ) %}
                            <time datetime="{{ fn('get_order_date', order) }}">{{ fn('wc_format_datetime', order.get_date_created ) }}</time>
                        {% elseif ( 'order-status' is same as(column_id) ) %}
                            {{ fn('wc_get_order_status_name', order.get_status )|e('esc_html')  }}
                        {% elseif ( 'order-total' is same as(column_id) ) %}
                            {{ fn('print_total', order, item_count) }}
                        {% elseif ( 'order-actions' is same as(column_id) ) %}
                            {% set actions = fn('wc_get_account_orders_actions', order ) %}
                            {% if actions %}
                                {% for key, action in actions %}
                                    <a href="{{ action.url|e('esc_url') }}" class="btn btn--full {{ fn('sanitize_html_class', key ) }}">{{ action.name|e('esc_html') }}</a>
                                {% endfor %}
                            {% endif%}
                        {% endif%}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% do action( 'woocommerce_before_account_orders_pagination' ) %}

    {% if ( 1 < customer_orders.max_num_pages ) %}
        <div class="woocommerce-pagination woocommerce-pagination--without-numbers woocommerce-Pagination">
            {% if 1 is not same as(current_page) %}
                <a class="btn btn--full" href="{{ fn('wc_get_endpoint_url', 'orders', current_page - 1 )|e('esc_url') }}">{{ __( 'Previous', 'woocommerce' ) }}</a>
            {% endif %}

            {% if fn('intval', customer_orders.max_num_pages) is not same as(current_page) %}
                <a class="woocommerce-button woocommerce-button--next woocommerce-Button woocommerce-Button--next button" href="{{ fn('wc_get_endpoint_url', 'orders', current_page + 1 )|e('esc_url') }}">{{ __( 'Next', 'woocommerce' ) }}</a>
            {% endif %}
        </div>
    {% endif %}

{%  else %}
    <div class="woocommerce-message woocommerce-message--info woocommerce-Message woocommerce-Message--info woocommerce-info">
        <a class="woocommerce-Button button" href="{{ (fn('wc_get_page_permalink', 'shop')|apply_filters( 'woocommerce_return_to_shop_redirect' ))|e('esc_url') }}">
            {{ __( 'Go shop', 'woocommerce' ) }}
        </a>
        {{ __( 'No order has been made yet.', 'woocommerce' ) }}
    </div>
{%  endif %}

{% do action( 'woocommerce_after_account_orders', has_orders ) %}
