<h1 class="font-primary font-italic display-2">Order {{ order.get_order_number }}</h1>
<p class="mb-5">{{ order_status }}</p>

{% set notes = order.get_customer_order_notes %}
{% if notes %}
<h2>{{ __( 'Order updates', 'woocommerce' ) }}</h2>
<ol class="woocommerce-OrderUpdates commentlist notes">
    {% for note in notes %}
    <li class="woocommerce-OrderUpdate comment note">
        <div class="woocommerce-OrderUpdate-inner comment_container">
            <div class="woocommerce-OrderUpdate-text comment-text">
                <p class="woocommerce-OrderUpdate-meta meta">{{ fn('get_order_update_date', note) }}</p>
                <div class="woocommerce-OrderUpdate-description description">
                    {{ fn('get_order_update_content', note) }}
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </li>
    {% endfor %}
</ol>
{% endif %}

{% do action( 'woocommerce_view_order', order_id ) %}
