<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="main-title font-primary font-italic color-primary text-center">{{ __('Invia l\'ordine', THEME_CONTEXT ) }}</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% do action( 'woocommerce_before_checkout_form', checkout ) %}

            <form name="checkout" method="post" class="checkout woocommerce-checkout mt-5 pt-5" action="{{ checkout_url }}" enctype="multipart/form-data">

                {% if checkout_fields %}
                <div class="row d-flex align-items-start">
                    <div class="col-xs-12 col-md-6">
                        {% do action( 'woocommerce_checkout_before_customer_details' )  %}

                        <div id="customer_details">
                            {% do action( 'woocommerce_checkout_billing' ) %}
                            {% do action( 'woocommerce_checkout_shipping' ) %}
                        </div>

                        {% do action( 'woocommerce_checkout_after_customer_details' ) %}

                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-5 offset-md-1 position-sticky checkout__sticky-column">
                        {#<h3 id="order_review_heading mt-5" class="display-4 font-weight-bold text-uppercase mb-5"> {{ __( 'Your order', 'woocommerce' ) }}</h3>#}
                        {% do action( 'woocommerce_checkout_before_order_review' ) %}
                        <div id="order_review" class="woocommerce-checkout-review-order">
                            {% do action( 'woocommerce_checkout_order_review' ) %}
                        </div>
                        {% do action( 'woocommerce_checkout_after_order_review' ) %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% do action( 'woocommerce_after_checkout_form', checkout )  %}
