<div class="woocommerce-form-coupon-wrapper">
    <div class="woocommerce-form-coupon-toggle">
        {{ fn('wc_print_notice', coupon_message, 'notice') }}
    </div>

    <form class="checkout_coupon woocommerce-form-coupon" method="post" style="display:none">
        <p>{{ __( 'If you have a coupon code, please apply it below.', 'woocommerce' )|e('esc_html') }}</p>
        <div class="d-flex align-items-end">
            <div class="form-row form-row-first input-type-text d-flex flex-column flex-grow">
                <p class="woocommerce-input-wrapper">
                    <input type="text" name="coupon_code" class="input-text" placeholder="{{ __( 'Coupon code', 'woocommerce' )|e('html_attr') }}" id="coupon_code" value="" />
                </p>
            </div>

            <div class="form-row form-row-last">
                <button type="submit" class="btn btn--full ml-5" name="apply_coupon" value="{{ __( 'Apply coupon', 'woocommerce' )|e('html_attr') }}">{{ __( 'Apply coupon', 'woocommerce' )|e('esc_html') }}</button>
            </div>
        </div>

        <div class="clear"></div>
    </form>
</div>
