<div class="woocommerce-shipping-fields">
    {% if needs_shipping_address is same as(true) %}

        <h3 id="ship-to-different-address">
            <label class="woocommerce-form__label woocommerce-form__label-for-checkbox checkbox">
                <input id="ship-to-different-address-checkbox" class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox" {{ ship_to_different_address_checked }} type="checkbox" name="ship_to_different_address" value="1" /><span class="svg-wrapper">{{ tick }}</span> {{ __( 'Ship to a different address?', 'woocommerce' ) }}<span></span>
            </label>
        </h3>

        <div class="shipping_address">

            {% do action( 'woocommerce_before_checkout_shipping_form', checkout ) %}

            <div class="woocommerce-shipping-fields__field-wrapper d-flex">
                {% set fields = checkout.get_checkout_fields( 'shipping' ) %}
                {% for key, field in fields %}
                    {% set c_field = field['country_field'] %}
                    {% if c_field is defined and fields[ c_field ] is defined %}
                        {% set country_field = checkout.get_value( c_field ) %}
                        {% set field = field|merge({'country': country_field }) %}
                    {% endif %}
                    {{ fn('custom_woocommerce_form_field', key, field, checkout.get_value( key )) }}
                {% endfor %}
            </div>

            {% do action( 'woocommerce_after_checkout_shipping_form', checkout ) %}

        </div>

    {% endif %}
</div>
<div class="woocommerce-additional-fields mb-5">
    {% do action( 'woocommerce_before_order_notes', checkout ) %}
    {% set enable_order_comments = fn( 'get_option', 'woocommerce_enable_order_comments', 'yes' ) %}
    {% if ( 'woocommerce_enable_order_notes_field'|apply_filters( 'yes' is same as(enable_order_comments) ) ) %}

        {% if ( not needs_shipping or ship_to_billing_address_only ) %}

            <h3>{{ __( 'Additional information', 'woocommerce' ) }}</h3>

        {% endif %}

        <div class="woocommerce-additional-fields__field-wrapper">
            {% for key, field in checkout.get_checkout_fields( 'order' ) %}
                {{ fn('custom_woocommerce_form_field', key, field, checkout.get_value( key ) ) }}
            {% endfor %}
        </div>

    {% endif %}

    {% do action( 'woocommerce_after_order_notes', checkout ) %}
</div>