<div class="woocommerce-billing-fields">
    {% if ship_to_billing_address_only  %}

        <h3 class="display-4 font-weight-bold text-uppercase mb-5 pb-5">{{ __( 'Billing &amp; Shipping', 'woocommerce' ) }}</h3>

    {% else %}

        <h3 class="display-4 font-weight-bold text-uppercase mb-5 pb-5">{{ __( 'Billing details', 'woocommerce' ) }}</h3>

    {% endif %}

    {% do action( 'woocommerce_before_checkout_billing_form', checkout ) %}

    <div class="woocommerce-billing-fields__field-wrapper d-flex">
        {% set fields = checkout.get_checkout_fields( 'billing' ) %}

        {% for key,field in fields %}
            {% set c_field = field['country_field'] %}

            {% if c_field is defined and fields[c_field] is defined %}
                {% set country_field = checkout.get_value( field['country_field'] ) %}
                {% set field = field|merge({'country': country_field }) %}
            {% endif %}

            {% set key_value = checkout.get_value( key ) %}
            {{ fn('custom_woocommerce_form_field', key, field, key_value) }}

        {% endfor %}
    </div>

    {% do action( 'woocommerce_after_checkout_billing_form', checkout )  %}
</div>

{% if registration_on_checkout %}
    <div class="woocommerce-account-fields mt-5">
        {% if not ( checkout.is_registration_required ) %}

            <p class="form-row form-row-wide create-account">
                <label class="woocommerce-form__label woocommerce-form__label-for-checkbox checkbox">
                    <input class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox" id="createaccount" {{ checked }} type="checkbox" name="createaccount" value="1" /><span class="svg-wrapper">{{ tick }}</span> <span>{{ __( 'Create an account?', 'woocommerce' ) }}</span>
                </label>
            </p>

        {% endif %}

        {% do action( 'woocommerce_before_checkout_registration_form', checkout ) %}

        {% if ( checkout.get_checkout_fields( 'account' ) ) %}

            <div class="create-account">
                {% set account_fields = checkout.get_checkout_fields( 'account' ) %}
                {% for key,field in account_fields %}
                    {{ fn('custom_woocommerce_form_field', key, field, checkout.get_value( key ))  }}
                {% endfor %}
                <div class="clear"></div>
            </div>

        {% endif %}

        {% do action( 'woocommerce_after_checkout_registration_form', checkout ) %}
    </div>
{% endif %}
