<div id="payment" class="woocommerce-checkout-payment bg-background rounded-0">
    {% if needs_payment %}
	<ul class="wc_payment_methods payment_methods methods">

        {% if available_gateways is not empty %}
            {% for gateway in available_gateways %}
                {{ fn('wc_get_template', 'checkout/payment-method.php', { 'gateway' : gateway } ) }}
            {% endfor %}
        {% else %}
			{{ no_avail_payment_methods }}
        {% endif %}
	</ul>
	{% endif %}
    {{ fn('wc_get_template', 'checkout/terms.php') }}

	<div class="form-row place-order">
		<noscript>
			{{  __( 'Since your browser does not support JavaScript, or it is disabled, please ensure you click the <em>Update Totals</em> button before placing your order. You may be charged more than the amount stated above if you fail to do so.', 'woocommerce' )|e('esc_html') }}
			<br/><button type="submit" class="btn btn--full alt" name="woocommerce_checkout_update_totals" value="{{ __( 'Update totals', 'woocommerce' )|e('html_attr') }}">{{ __( 'Update totals', 'woocommerce' )|e('esc_html') }}</button>
		</noscript>

		{% do action( 'woocommerce_review_order_before_submit' ) %}

		{{ order_btn }}

		{% do action( 'woocommerce_review_order_after_submit' ) %}
		{{ fn('wp_nonce_field', 'woocommerce-process_checkout', 'woocommerce-process-checkout-nonce' ) }}
	</div>
</div>
