<div class="shop_table woocommerce-checkout-review-order-table floating-table mb-5">
    <div class="floating-table__header">
        <h3 class="product-name woocommerce-column__title float-left display-4 ls-0">{{ __( 'Product', 'woocommerce' ) }}</h3>
        <h3 class="product-total woocommerce-column__title float-right display-4 ls-0">{{ __( 'Total', 'woocommerce' ) }}</h3>
    </div>
    <div class="floating-table__body">
        <div class="single-product-review d-flex flex-column">
            {% do action( 'woocommerce_review_order_before_cart_contents' ) %}

            {% for cart_item_key, cart_item in _cart %}
                {% set _product = cart_item['data']|apply_filters('woocommerce_cart_item_product', cart_item, cart_item_key ) %}
                {% if _product and _product.exists and (cart_item['quantity'] > 0) and (1|apply_filters( 'woocommerce_checkout_cart_item_visible', cart_item, cart_item_key )) %}
                    <div class="{{ ('cart_item'|apply_filters( 'woocommerce_cart_item_class', cart_item, cart_item_key ))|e('html_attr')}} d-flex flex-row align-items-end">
                        <div class="product-name flex-grow-1">

                            {% set prod_name = _product.get_title %}
                            {{ (prod_name|apply_filters('woocommerce_cart_item_name', cart_item, cart_item_key ))|e('wp_kses_post') }}
                            {% do action( 'woocommerce_after_cart_item_name', cart_item, cart_item_key )  %}

                            {{ fn('custom_get_formatted_cart_item_data', cart_item, 0 ) }}

                            {% set has_selected_accessories = cart_item_key in selected_accessories|keys %}
                            {% if has_selected_accessories %}
                                <div class="accessories">
                                    <h5 class="text-uppercase font-weight-bold mb-2">{{ __('Accessori', THEME_CONTEXT) }}</h5>
                                    <ul class="list-unstyled">
                                        {% for accessory, acc_data in selected_accessories[cart_item_key] %}
                                            <li>
                                                <small>{{ acc_data.name }}</small>
                                                <small class="accessory-price">+{{ acc_data.price }}€</small>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="product-total flex-grow-1 text-right mb-4">
                            <div class="product-quantity">
                                {{ '<strong class="product-quantity">' ~ '&times; %s'|format( cart_item['quantity'] ) ~ '</strong>'|apply_filters( 'woocommerce_checkout_cart_item_quantity', cart_item, cart_item_key )}}
                            </div>
                            {% set subtotal = cart.get_product_subtotal( _product, cart_item['quantity'] ) %}
                            {{ subtotal|apply_filters('woocommerce_cart_item_subtotal', cart_item, cart_item_key ) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% do action( 'woocommerce_review_order_after_cart_contents' ) %}
        </div>

        <div class="cart-subtotal d-flex flex-row">
            <p>{{ __( 'Subtotal', 'woocommerce' ) }}</p>
            <p class="text-right flex-grow-1">{{ fn('wc_cart_totals_subtotal_html') }}</p>
        </div>

        {% for code, coupon in cart.get_coupons %}
            <div class="cart-discount coupon-{{ code|sanitize|e('html_attr') }}">
                <p>{{ fn('wc_cart_totals_coupon_label', coupon ) }}</p>
                <div>{{ fn('wc_cart_totals_coupon_html', coupon ) }}</div>
            </div>
        {% endfor %}

        {% if cart.needs_shipping and cart.show_shipping %}

            {% do action( 'woocommerce_review_order_before_shipping' ) %}

            {{ fn('wc_cart_totals_shipping_html')}}

            {% do action( 'woocommerce_review_order_after_shipping' ) %}

        {% endif %}
        {% for fee in cart.get_fees %}

            <div class="fee">
                <div>{{ fee.name|e('html_attr') }}</div>
                <div>{{ fn('wc_cart_totals_fee_html', fee) }}</div>
            </div>
        {% endfor %}

        {% if fn('wc_tax_enabled') and not cart.display_prices_including_tax %}
            {% if ( 'itemized' is same as(fn('get_option', 'woocommerce_tax_total_display' ) ) ) %}
                {% for code, tax in cart.get_tax_totals %}
                    <div class="tax-rate tax-rate-<?php echo sanitize_title( $code ); ?>">
                        <p>{{ tax.label|e('esc_html') }}</p>
                        <div>{{ tax.formatted_amount|e('wp_kses_post') }}</div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="tax-total">
                    <p>{{ countries.tax_or_vat|e('esc_html') }}</p>
                    <p>{{ fn('wc_cart_totals_taxes_total_html') }}</p>
                </div>
            {% endif %}
        {% endif %}

        {% do action( 'woocommerce_review_order_before_order_total' ) %}

        <div class="order-total d-flex flex-row align-content-stretch">
            <div>{{__( 'Total', 'woocommerce' ) }}</div>
            <p class="flex-grow-1 text-right">{{ fn('wc_cart_totals_order_total_html') }}</p>
        </div>

        {%  do action( 'woocommerce_review_order_after_order_total' ) %}
    </div>
</div>
