<div class="row">
    <div class="woocommerce-order col-xs-12">

        {% if order %}

            {% if order.has_status( 'failed' ) %}

                <p class="woocommerce-notice woocommerce-notice--error woocommerce-thankyou-order-failed">{{ __( 'Unfortunately your order cannot be processed as the originating bank/merchant has declined your transaction. Please attempt your purchase again.', 'woocommerce' ) }}</p>

                <p class="woocommerce-notice woocommerce-notice--error woocommerce-thankyou-order-failed-actions">
                    <a href="{{ order.get_checkout_payment_url()|e('esc_url') }}" class="button pay">{{ __( 'Pay', 'woocommerce' ) }}</a>
                    {% if is_user_logged_in %}
                        <a href="{{ fn('wc_get_page_permalink', 'myaccount')|e('esc_url') }}" class="button pay">{{ __( 'My account', 'woocommerce' ) }}</a>
                    {% endif %}
                </p>

            {% else %}

                <p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">{{ __( 'Thank you. Your order has been received.', 'woocommerce' )|apply_filters( 'woocommerce_thankyou_order_received_text', order ) }}</p>

                <ul class="woocommerce-order-overview woocommerce-thankyou-order-details order_details">

                    <li class="woocommerce-order-overview__order order">
                        {{ __( 'Order number:', 'woocommerce' ) }}
                        <strong>{{ order.get_order_number() }}</strong>
                    </li>

                    <li class="woocommerce-order-overview__date date">
                        {{ __( 'Date:', 'woocommerce' ) }}
                        <strong>{{ fn('wc_format_datetime', order.get_date_created()) }}</strong>
                    </li>

                    {% if is_user_logged_in and (order.get_user_id() is same as(fn('get_current_user_id'))) and order.get_billing_email() %}
                        <li class="woocommerce-order-overview__email email">
                            {{ __( 'Email:', 'woocommerce' ) }}
                            <strong>{{ order.get_billing_email() }}</strong>
                        </li>
                    {% endif %}

                    <li class="woocommerce-order-overview__total total">
                        {{ __( 'Total:', 'woocommerce' ) }}
                        <strong>{{ order.get_formatted_order_total() }}</strong>
                    </li>

                    {% if order.get_payment_method_title() %}
                        <li class="woocommerce-order-overview__payment-method method">
                            {{ __( 'Payment method:', 'woocommerce' ) }}
                            <strong>{{  order.get_payment_method_title()|e('wp_kses_post') }}</strong>
                        </li>
                    {% endif %}

                </ul>

            {% endif %}

            {% do action( 'woocommerce_thankyou_' ~ order.get_payment_method(), order.get_id() ) %}
            {% do action( 'woocommerce_thankyou', order.get_id() ) %}

        {% else %}

            <p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">{{ __( 'Thank you. Your order has been received.', 'woocommerce' )|apply_filters( 'woocommerce_thankyou_order_received_text', null ) }}</p>

        {% endif %}

    </div>