{% do action('woocommerce_before_customer_login_form') %}

{% if enable_my_account_registration %}
<div class="d-flex align-items-stretch flex-grow-1 position-relative" id="customer_login">
    <div class="img-wrapper overlay-100">
        {{ get_img({
            id: 34297,
            sizes_attr: '100vw',
            extra_classes: 'cover h-100',
            lazy: false
        }) }}
    </div>
    <div class="login__col col col-xs-12 col-md-6 d-flex align-items-stretch o-hidden">
        <div class="login__toggle text-center d-xs-none d-sm-none d-md-block">
            <p class="text-white">{{ __('Sei già registrato?', THEME_CONTEXT ) }}</p>
            <button class="btn btn--full mt-5">{{ __( 'Effettua il login', THEME_CONTEXT ) }}</button>
        </div>
        <div class="login__content row d-flex align-items-center flex-grow-1 flex-grow-1">
            <div class="offset-xs-1 col-xs-10 col-sm-10 offset-md-2 col-md-8 login__content-col">
                {% endif %}
                <h2 class="{% if not enable_my_account_registration %}text-center{% endif %} font-primary font-italic display-2">{{ __('Login', 'woocommmerce') }}</h2>

                <form action="#login" class="woocommerce-form woocommerce-form-login login" method="post">

                    {% do action( 'woocommerce_login_form_start' ) %}

                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide input-type-text display-3">
                        <span class="woocommerce-input-wrapper">
                        <label for="username">
                            {{ __( 'Username or email address', 'woocommerce' ) }}&nbsp;<span
                                    class="font-primary required">*</span>
                        </label>

                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username"
                               id="username" autocomplete="username" value="{{ username }}">
                        </span>
                    </p>

                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide input-type-text display-3 ls-2">
                        <span class="woocommerce-input-wrapper">
                        <label for="password">{{ __( 'Password', 'woocommerce' ) }} <span class="font-primary required">*</span></label>

                        <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password"
                               id="password" autocomplete="current-password"/>
                        </span>
                    </p>

                    {% do action( 'woocommerce_login_form' ) %}
                    <p class="form-row mt-5">
                        {{ wp_nonce_field('woocommerce-login', 'woocommerce-login-nonce', true, false) }}
                        <button type="submit" class="btn btn--full mr-5" name="login"
                                value="{{ __( 'Log in', 'woocommerce' ) }}">
                            {{ __( 'Log in', 'woocommerce' ) }}
                        </button>

                        <label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline cur-pointer">
                            <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme"
                                   type="checkbox" id="rememberme" value="forever"/>
                            <span class="svg-wrapper">{{ tick }}</span>
                            <span>{{ __( 'Remember me', 'woocommerce' ) }}</span>
                        </label>
                    </p>

                    <p class="woocommerce-LostPassword lost_password mt-5">
                        <a class="btn btn--text btn__underlined"
                           href="{{ lost_password_url }}">{{ __( 'Lost your password?', 'woocommerce' ) }}</a>
                    </p>
                    {% do action( 'woocommerce_login_form_end' ) %}
                </form>

                {% if enable_my_account_registration %}
            </div>
            <div class="register__toggle-wrapper col col-xs-12 d-md-none d-lg-none">
                <div class="register__toggle text-center">
                    <p>{{ __('Non sei ancora registrato?', THEME_CONTEXT ) }}</p>
                    <button class="btn btn--full mt-5">{{ __( 'Registrati', THEME_CONTEXT ) }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="register__col col col-xs-12 col-md-6 d-flex align-items-stretch o-hidden">
        <div class="register__toggle text-center d-xs-none d-sm-none d-md-block">
            <p class="text-white">{{ __('Non sei ancora registrato?', THEME_CONTEXT ) }}</p>
            <button class="btn btn--full mt-5">{{ __( 'Registrati', THEME_CONTEXT ) }}</button>
        </div>
        <div class="register__content row d-flex align-items-center flex-grow-1 flex-grow-1 flex-grow-1">
            <div class="col-xs-12 offset-sm-1 col-sm-10 register__content-col p-xs-4">
                <h2 class="font-primary font-italic display-2">{{ __( 'Register', 'woocommerce' ) }}</h2>
                <form action="#register" method="post" class="woocommerce-form woocommerce-form-register register">
                    {% do action( 'woocommerce_register_form_start' ) %}
                    {% if on_registration_do_not_generate_username %}
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wides input-type-text display-3 ls-2">
                            <span class="woocommerce-input-wrapper">
                            <label for="reg_username">{{ __( 'Username', 'woocommerce' ) }} <span
                                        class="required">*</span></label>
                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username"
                                   id="reg_username" autocomplete="username" value="{{ username }}"/>
                                </span>
                        </p>
                    {% endif %}
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wides  input-type-email display-3 ls-2">
                        <span class="woocommerce-input-wrapper">
                        <label for="reg_email">{{ __( 'Email address', 'woocommerce' ) }}&nbsp;<span
                                    class="font-primary required">*</span></label>
                        <input type="email" class="woocommerce-Input woocommerce-Input--text input-text" name="email"
                               id="reg_email" autocomplete="email" value="{{ password }}"/>
                        </span>
                    </p>

                    {% if on_registration_do_not_generate_password %}
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide input-type-text display-3 ls-2">
                            <span class="woocommerce-input-wrapper">
                            <label for="reg_password">{{ __( 'Password', 'woocommerce' ) }}&nbsp;<span class="required">*</span></label>
                            <input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="password"
                                   id="reg_password" autocomplete="new-password"/>
                                <span class="woocommerce-password-strength" aria-live="polite"></span>
                            </span>
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide input-type-text display-3 ls-2">
                            <span class="woocommerce-input-wrapper">
                            <label for="confirm_reg_password">{{ __( 'Conferma la password', 'woocommerce' ) }}&nbsp;<span class="required">*</span></label>
                            <input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="confirm_password"
                                   id="confirm_reg_password"/>
                            </span>
                        </p>
                    {% endif %}
                    {% include "partial/privacy-checks-static.twig" %}

                    {% do action( 'woocommerce_register_form' ) %}

                    <p class="woocommerce-FormRow form-row mt-5">
                        {{ wp_nonce_field( 'woocommerce-register', 'woocommerce-register-nonce', true, false ) }}

                        <button type="submit" class="btn btn--full mr-5" name="register"
                                value="{{ __( 'Register', 'woocommerce' ) }}">{{ __( 'Register', 'woocommerce' ) }}</button>
                    </p>
                    {% do action( 'woocommerce_register_form_end' ) %}

                </form>
            </div>
            <div class="login__toggle_wrapper col col-xs-12 d-md-none d-lg-none">
                <div class="login__toggle text-center">
                    <p>{{ __('Sei già registrato?', THEME_CONTEXT ) }}</p>
                    <button class="btn btn--full mt-5">{{ __( 'Effettua il login', THEME_CONTEXT ) }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% do action( 'woocommerce_after_customer_login_form' ) %}

