.colophon {
    .logo {
        display: inline-block;
        width: 3rem;
        height: 100%;
        vertical-align: middle;

        @include media-breakpoint-down(md) {
            width: 4.5rem;
        }
    }

    &__nav {
        li.social {
            transition: opacity .3s ease;

            &:hover {
                opacity: .7;
            }
        }
    }
}
