.main-navigation {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 3;
    transition: opacity .35s, visibility .35s;

    &__nav {
        display: flex;
        width: 100%;
        height: map_get($navbar-height, lg);
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0 0 5rem 0 rgba(#000, .05);
        transition: background-color .3s ease, box-shadow .3s ease;

        &--transparent {
            background-color: transparent;
            box-shadow: none;

            #nav-logo {
                .fillable {
                    fill: #fff;
                }
            }
        }
    }

    #btn-toggle {
        .navbar-icon {
            margin: auto; // Fixes problems with browsers not supporting justify-content
        }
    }
}

#nav-logo {
    display: block;
    transform: translate(0, 0);

    svg {
        width: 4rem;
        height: auto;
    }
}

.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &__main-wrapper {
        background-color: #fff;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            height: 100%;
        }
    }

    &__main-inner {
        width: 100%;
    }

    &__main-nav {
        .current-menu-item {
            a {
                opacity: 1;
                transform: scale(1);
            }
        }

        li {
            @extend .d-block !optional;

            @include hover-focus-active {
                a {
                    color: $primary;
                    opacity: 1;
                    text-decoration: none;

                    &::before {
                        transform: scaleX(1);
                        transform-origin: left center;
                    }
                }

                &.current-menu-item {
                    a {
                        transform: scale(1);
                        cursor: default;

                        &::before {
                            transform: scaleX(0);
                        }
                    }
                }
            }
        }

        a {
            position: relative;

            @extend .d-inline-block !optional;
            @extend .display-2 !optional;
            @extend .font-primary !optional;
            @extend .font-italic !optional;
            @extend .ls-0 !optional;

            transform: scale(.85);
            transform-origin: center left;
            opacity: .4;
            transition: opacity .3s ease, transform .8s $cubicFastInSlowOut;

            @include media-breakpoint-down(xs) {
                font-size: 5rem;
            }

            &::before {
                position: absolute;

                @extend .d-block !optional;
                @extend .w-100 !optional;

                height: .2rem;
                top: 55%;
                left: 0;
                background-color: $primary;
                z-index: 1;
                transform: scaleX(0);
                transform-origin: right center;
                transition: transform .6s $cubicFastInSlowOut;
                content: '';
            }
        }
    }

    &__secondary-nav {
        a {
            font-weight: 400;
        }
    }

    &__cta-wrapper {
        overflow: hidden;
    }

    &__cta-inner {
        width: 100%;

        a {
            display: block;
            width: 100%;

            @include hover-focus-active {
                text-decoration: none;
            }
        }

        p {
            opacity: 0;
            transform: translateY(50px) rotate(-5deg);
        }
    }

    &__cta {
        overflow: hidden;

        &:hover {
            cursor: url('../images/cross-out.png'), auto;
        }
    }

    .img-wrapper {
        transform: translateX(-10%);
    }
}

// CLONED HEADER
.header-mask {
    @extend .main-navigation;

    overflow: hidden;
    transform: translateY(100%);

    @include respond-to('height', $navbar-height);

    .main-navigation {
        position: absolute;
        transform: translateY(-100%);

        &__nav {
            box-shadow: none;
        }
    }
}

// HOME HEADER SHADOWS
.home {
    .main-navigation {
        &__nav {
            &[data-passed-welcome="true"] {
                box-shadow: 0 0 5rem 0 rgba(#000, .05);
            }
        }

        &[data-menu-open="true"] {
            .main-navigation__nav {
                box-shadow: none;
            }
        }
    }
}

// CART BUTTON
.btn--cart {
    position: relative;
    overflow: hidden;

    .btn--cart__icon {
        transform: translate(0, 200%);
        transition: transform .35s ease;
    }

    .shop-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform .35s ease;
    }

    &.cart-has-item {
        .shop-label {
            transform: translate(-50%, -500%);
        }

        .btn--cart__icon {
            transform: translate(0, 0);
        }
    }
}

// CASE PHOTOSWIPE IS RUNNING, HIDE HEADER
.pswp-running {
    .main-navigation {
        opacity: 0 !important;
        visibility: hidden !important;
    }
}

.mobile {
    .theme-dn {
        #nav-logo {
            transform: translate(0, .5rem) !important;

            .fillable {
                fill: $primary;
            }
        }

        .main-navigation__nav {
            background: #fff !important;
        }
    }
}
