.btn {
    padding: 0;
    background-color: transparent;
    font-size: map_get($display-sizes, xs);
    border-color: transparent;
    outline: none;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }

    &[disabled] {
        opacity: .15;
    }

    &--menu {
        width: 10.5rem;
        height: map-get($navbar-height, lg);
        background-color: #fff;
        border: none;
        border-radius: 0;
    }

    &--text {
        background-color: transparent;
        color: $primary;
        border: none;

        &:hover,
        &:active,
        &:focus {
            color: $primary;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &--back {
        &::before {
            content: url("../vectors/arrow-left.svg");
            margin-right: 1rem;
            display: inline-block;
        }
    }

    &--submit {
        background-color: $primary;
        color: #fff;
        border-radius: 0;
        transition: background .3s ease;

        &:hover {
            background-color: darken($primary, 5%);
        }
    }

    &--full {
        min-width: 22rem;
        padding: 1rem 2rem;
        border: 3px solid $primary;
        border-radius: 0;
        background-color: $primary;
        color: $white;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;

        &:hover {
            color: $white;
            background-color: darken($primary, 5%);
        }
    }

    &__outlined {
        @extend .btn--full !optional;

        line-height: 1.5;
        color: $primary;
        background-color: transparent;
        text-align: center;

        @include hover-focus-active {
            color: $white;
            background-color: $primary;
        }
    }

    &__underlined {
        position: relative;
        display: inline-block;
        padding: 1rem 0;
        line-height: 2;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;

            &::after {
                transform: scale(.85) translateY(-.2rem);
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: $black;
            transition: transform .35s;
        }
    }

    &--resetter {
        background-color: transparent;
        border: none;
        appearance: none;
    }

    &__dropdown {
        position: relative;
        display: inline-block;

        &::after {
            position: absolute;
            width: 2rem;
            height: 2rem;
            margin: 0 10px;
            background-image: url('../vectors/caret.svg');
            background-repeat: no-repeat;
            background-position-y: .5em;
            content: '';
        }
    }

    &.loading {
        color: transparent !important;
        background-image: url('../vectors/tail-spin.svg');
        background-size: 2rem 2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $primary;
    }
}

#btn-toggle {
    .navbar-icon__line {
        position: relative;
        display: block;
        width: 4.5rem;
        height: 1px;
        background-color: $primary;
        transform-origin: left center;
        transition: transform .3s cubic-bezier(.14, .58, .56, .85);

        &:nth-child(1) {
            transform-origin: 25% 25%;
        }

        &:nth-child(2) {
            transform: scaleX(.75);
        }

        &:nth-child(3) {
            transform: scaleX(.5) translateY(1px);
            transform-origin: 0%;
        }
    }

    &:hover {
        .navbar-icon__line {
            &:nth-child(1) {
                transform: scaleX(1);
            }

            &:nth-child(2) {
                transform: scaleX(1);
            }

            &:nth-child(3) {
                transform: scaleX(1) translateY(1px);
            }
        }
    }
}

[data-menu-open="true"] {
    #btn-toggle {
        .navbar-icon__line {
            &:nth-child(1) {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                transform: scaleX(0);
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translateY(1px);
            }

            &:hover,
            &:active,
            &:focus {
                .navbar-icon__line {
                    &:nth-child(1) {
                        transform: scaleX(.5);
                    }

                    &:nth-child(2) {
                        transform: scaleX(.5);
                    }

                    &:nth-child(3) {
                        transform: scaleX(.5);
                    }
                }
            }
        }
    }
}

.woocommerce .vpc-configure-button.button {
    @extend .btn;
    @extend .btn__outlined;
}

.primary-cta {
    cursor: pointer;
    transition: opacity .5s ease;

    &:hover {
        opacity: .8;
    }
}

.checkout-button {
    @extend .btn--full;

    color: $white !important;
}

.btn-group {
    &__separator {
        &::before {
            @extend .position-relative;
            @extend .d-inline-block;
            @extend .align-middle;
            @extend .mr-4 !optional;
            @extend .mb-2 !optional;
            @extend .ml-4 !optional;

            width: 1rem;
            height: 1px;
            background-color: #fff;
            content: '';
        }
    }
}

#woo_pp_ec_button_checkout {
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}
