.term-borse-da-donna {
    .card {
        &--shoe {
            .img-wrapper {
                padding-bottom: 120%;
            }
        }
    }
}

.card {
    position: relative;

    &--shoe {
        height: 0;
        padding-bottom: 145%;
        background-color: $background;
        border: none;
        text-align: center;
        overflow: hidden;

        .img-wrapper {
            position: relative;
            height: 0;
            padding-bottom: 95%;
            transition: transform .7s ease;

            .lazy-image {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: auto;
            }

            &::before {
                position: absolute;
                display: block;
                width: 100%;
                left: 0;
                bottom: 0;
                box-shadow: 0 0 10px rgba($primary, .3);
                content: '';
            }
        }

        .card-title {
            opacity: 0;
            transform: translateY(30%);
            transition: opacity .2s linear, transform .5s cubic-bezier(.41, .42, .49, .97);
        }

        .card-body {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .upperlined {
            &::before {
                margin-right: auto;
                margin-left: auto;
                transform: scaleX(0);
                transform-origin: center;
                transition: .7s ease;
            }
        }

        &:hover {
            .img-wrapper {
                transform: translateY(-15%);
                transition: transform 1s ease;
                transition-delay: .1s;
            }

            .card-title {
                opacity: 1;
                transform: translateY(0);
            }

            .upperlined::before {
                transform: scaleX(1);
            }
        }

        canvas {
            background-color: $background;
        }
    }

    &--outline {
        border: .8rem solid $primary;
    }
}

.shoes-cards-grid {
    .row > div {
        @media (max-width: 320px) {
            flex: 100% !important;
            margin-bottom: 3rem !important;
        }
    }

    .lazy-canvas,
    .lazy-placeholder {
        display: none;
    }

    .lazy-image {
        display: inline-block;
        transform: translateY(40px);
        opacity: 0;
        transition: opacity .8s, transform 1s;

        &[data-load-ready='true'] {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
