div.cc-window {
    font-family: $monospace;
    padding: .5em 1.8em;
    box-shadow: 0 -1px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.16);

    .cc-btn {
        @extend .btn;
        @extend .btn--full;

        border: none;
        font-family: $monospace;

        &:hover,
        &:active,
        &:focus {
            background: $black;
            color: #fff;
            outline: none;
        }
    }

    .cc-link {
        font-weight: 700;
    }

    .cc-message {
        position: relative;
        margin-bottom: 1.5rem;
        font-size: 1.4rem;

        &::before {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            content: '';
            display: block;
            height: 5rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;
            transform: translateY(-15%);
            width: 5rem;

            @include media-breakpoint-up(lg) {
                left: 0;
                margin-top: 0;
                position: absolute;
                top: 1rem;
                transform: translateY(0);
            }
        }
    }

    .cc-floating {
        right: 5rem;
        bottom: 5rem;
    }
}
