input,
textarea,
.woocommerce form .form-row input {
    font-size: 1.6rem;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 1.2rem;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        font-size: 1.2rem;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        font-size: 1.2rem;
    }

    &:-moz-placeholder { /* Firefox 18- */
        font-size: 1.2rem;
    }

    &[type="checkbox"] {
        display: inline-block;
        margin: 0;
        appearance: none;
        width: 14px;
        height: 14px;
        border: 2px solid $black;
    }
}

textarea {
    width: 100%;
    border: 0;
    font-size: 1.4rem;
    background-color: $background;
    padding: 2rem;
    resize: none;
}

// RESETTING SELECTWOO STYLES
.select2-container--default {
    .select2-selection--single {
        border: 0;
        background-color: transparent;
        outline: none;

        .select2-selection__arrow b {
            display: none;
        }
    }

    .select2-results__option[aria-selected=true],
    .select2-results__option[data-selected=true] {
        color: $primary;
        background-color: $background;
    }

    .select2-results__option--highlighted[aria-selected],
    .select2-results__option--highlighted[data-selected] {
        color: $white;
        background-color: $primary;
    }

    .select2-dropdown--below,
    .select2-dropdown--above {
        .select2-search--dropdown {
            padding: 1rem 2rem;
        }

        .select2-search__field {
            padding: 1rem;
            border: 0;
            border-radius: 0;
            background-color: $background;
        }
    }
}

.select2-container--open {
    .select2-dropdown--below {
        border: 0;
        border-radius: 0;
        box-shadow: 0 40px 60px 0 rgba(#000, .15);
    }

    .select2-dropdown--above {
        border: 0;
        border-radius: 0;
        box-shadow: 0 -20px 60px 0 rgba(#000, .15);
    }
}

.select2-results__option {
    padding-left: 2rem;
    padding-right: 2rem;
}

.input-text {
    padding: 1rem 2rem 2rem 0;
    border: 0;
}

.woocommerce-form__label-for-checkbox {
    position: relative;

    .svg-wrapper {
        position: absolute;
        top: -5px;
        left: 1px;
        height: 18px;

        .strokable {
            stroke-dasharray: 130;
            stroke-dashoffset: 130;
            transition: .25s stroke-dashoffset $cubicFastInSlowOut;
        }
    }

    &.checkbox-checked {
        .strokable {
            stroke-dashoffset: 0;
        }
    }
}

.woocommerce-validated .woocommerce-form__label-for-checkbox {
    .svg-wrapper {
        .strokable {
            stroke-dashoffset: 0;
        }
    }
}

.woocommerce,
.form-address {
    form {
        &.login,
        &.register {
            margin-left: auto;
            margin-right: auto;
            border: 0;
            padding: 0;
        }

        .form-row {
            padding-left: 0;
            padding-right: 0;
            margin-right: 0;
            margin-left: 0;

            .woocommerce-form__label-for-checkbox {
                line-height: 1;
            }
        }

        label {
            @extend .display-4 !optional;
            @extend .ls-1 !optional;

            text-transform: uppercase;

            small {
                text-transform: none;
                letter-spacing: 0;
            }
        }

        .required {
            @extend .font-primary !optional;

            color: red;
            font-weight: 700;
            cursor: default;
        }
    }

    .woocommerce-input-wrapper {
        display: block;
        position: relative;
        margin: 1rem 0;
        width: 100%;

        label {
            text-align: left;
        }
    }

    .form-notice {
        margin-left: 2rem;
    }

    legend {
        @extend .ls-1 !optional;
        @extend .text-uppercase !optional;

        display: block;
        font-weight: 700;
    }
}

.form-address {
    form {
        max-width: 70rem;
    }
}

.input-underlined {
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $primary;
    }

    &::before {
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 1s $cubicFastInSlowOut;
    }

    &::after {
        opacity: .2;
    }

    &.in-focus {
        &::before {
            transform: scaleX(1);
        }
    }
}

.input-type-text,
.input-type-tel,
.input-type-email,
.input-type-textarea {
    .woocommerce-input-wrapper {
        @extend .input-underlined;
    }
}

#section-newsletter {
    form.wpcf7-form {
        @extend .form-inline !optional;
        @extend .form-newsletter !optional;
        @extend .d-flex !optional;
        @extend .flex-column !optional;
        @extend .align-items-stretch !optional;
        @extend .justify-content-center !optional;
        @extend .mt-5 !optional;
        @extend .row !optional;

        flex-wrap: wrap;
    }

    .focus-wrapper {
        @extend .has-focus-state !optional;

        @include media-breakpoint-down(xs) {
            display: inline-block !important;
        }
    }

    .wpcf7-submit {
        display: none;
    }

    .form-group {
        padding: 0;
        margin: 0;
    }

    .btn--submit__proxy {
        @include media-breakpoint-down(sm) {
            padding: 2rem;
        }

        img {
            transition: transform .4s $cubicFastInSlowOut, opacity .2s ease .3s;
        }

        @include hover-focus-active {
            img {
                transform: translateX(5px);
            }
        }
    }
}

.wpcf7-form-control-wrap {
    input {
        transition: box-shadow .35s;
    }

    &.not-valid {
        input {
            box-shadow: inset 0 -5px 0 0 $errorRed;
        }

        .wpcf7-custom_acceptance {
            [type="checkbox"] {
                box-shadow: none;
                border-color: $errorRed;
            }
        }
    }
}

.privacy {
    margin-top: 1rem;
    font-size: 1.1rem;

    &-wrapper {
        margin: .5rem 0;
    }

    .woocommerce-form__label-for-checkbox {
        margin-top: 2rem;
    }

    span {
        display: block;
        font-size: 100%;
        color: rgba($dark, .7);

        &.wpcf7-list-item {
            position: relative;
            margin: 0;
        }

        &.wpcf7-list-item-label {
            margin-left: 2rem;
            margin-bottom: 0;
            line-height: 2;
            letter-spacing: 0;
            text-transform: initial;

            @include media-breakpoint-down(xs) {
                margin-left: 3rem;
            }
        }

        input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.form-wrapper {
    &.doing-ajax {
        .btn--submit__proxy {
            color: transparent;
            transition: color .2s ease .3s;

            &::before {
                opacity: 1;
                visibility: visible;
                transition: opacity .2s ease .3s;
            }

            img {
                opacity: 0;
                transition: opacity .2s ease .3s;
            }
        }
    }

    .btn--submit__proxy {
        position: relative;
        transition: color .2s ease .3s;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("../vectors/tail-spin.svg");
            background-repeat: no-repeat;
            background-size: 3rem 3rem;
            background-position: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s ease .3s, visibility .2s ease .3s;
        }
    }
}

.wpcf7 {
    .wpcf7-form-control-wrap {
        .wpcf7-not-valid-tip {
            display: none;
        }
    }

    .input-type-text,
    .input-type-email,
    .input-type-tel,
    .input-type-textarea {
        .wpcf7-form-control-wrap {
            &.not-valid {
                &::before {
                    background-color: $errorRed;
                    transform: scaleX(1);
                }
            }

            .wpcf7-not-valid-tip {
                display: none;
            }
        }
    }

    // RESPONSE MESSAGES
    .wpcf7-response-output {
        display: flex;
        padding: 1rem;
        border: 0;
        font-size: 1.2rem;
        color: $white;

        &::before {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            border-radius: 50%;
            font-size: 1.6rem;
            line-height: 2rem;
            background-color: $white;
            text-align: center;
        }

        &.wpcf7-mail-sent-ok {
            background-color: $successGreen;

            &::before {
                content: "";
                background-image: url("../vectors/green-tick.svg");
                background-size: 70%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &.wpcf7-validation-errors,
        .wpcf7-mail-sent-ng {
            background-color: $primary;

            &::before {
                content: "!";
                color: $primary;
            }
        }
    }

    .ajax-loader {
        display: none !important;
    }
}

.woocommerce-form-register {
    .privacy {
        &:first-of-type {
            margin-top: 0;
        }

        span {
            font-size: 1.1rem;
            color: $black;
        }
    }

    .woocommerce-form__label-for-checkbox {
        margin-top: 0;
    }

    .form-row {
        margin-bottom: 10px !important;
    }
}

.page-template-user-related-page {
    .user-login-wrapper {
        .login__content-col,
        .register__content-col {
            @include respond-to('margin-top', $navbar-height);
        }
    }
}
