.info-badge {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 2rem;
    margin-bottom: 2rem;

    @include media-breakpoint-down(sm) {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    &__close {
        cursor: pointer;

        &::before {
            content: "";
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 2rem;
            background-image: url("../vectors/close.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__content {
        overflow: hidden;
        white-space: nowrap;
    }

    img {
        cursor: pointer;
    }
}

.mobile {
    .info-badge {
        display: none !important;
    }
}
