.lang-switcher-wrapper {
    ul {
        @extend .list-unstyled !optional;
        @extend .d-flex !optional;
    }

    li {
        @extend .pre-title !optional;
        @extend .d-flex !optional;

        display: inline-block;
        text-align: center;
        color: $primary;

        &::after {
            content: "/";
        }

        &:last-of-type {
            &::after {
                display: none;
            }
        }
    }

    a {
        @extend .pre-title !optional;

        color: $primary;
    }
}
