#quick-cart {
    top: 0;
    right: 0;
    max-height: 100vh;
    transform: translate(100%, 0);
    transition: transform .25s;
    z-index: 4;

    .mini-cart__toggle {
        display: none;
    }

    &.mini-cart__in {
        overflow: visible;
        overflow-x: hidden;
        background-color: $white;
        transform: translate(0, 0);
        box-shadow: 0 0 5rem 0 rgba(#000, .05);

        .quick-cart-dropdown {
            display: block;
            opacity: 1;
        }
    }

    .quick-cart-dropdown {
        min-width: 35rem;
        transition: opacity .4s, visibility .4s;
        background-color: #fff;
        opacity: 0;

        &__product-thumbnail {
            width: 50%;
            height: 1px;
            padding-bottom: 33.333%;
            max-width: 33%;
            background-color: $white;
            overflow: hidden;

            img {
                top: 50%;
                width: 100%;
                height: auto;
                float: none;
                transform: translateY(-50%);
            }
        }

        &__list {
            flex-direction: column;

            &__el {
                position: relative;
                border-top: 1px solid rgba($dark, .1);

                &:first-child {
                    padding-top: 0 !important;
                    border-top: 0;
                }

                &.deleting {
                    &::after {
                        display: block !important;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: none;
                    background-image: url('../vectors/tail-spin-black.svg');
                    background-color: rgba($white, .3);
                    background-size: 3rem 3rem;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        &__remove {
            z-index: 1;
            transition: opacity .3s ease;

            svg {
                width: 1.5rem;
            }

            &:hover {
                opacity: .7;
            }
        }
    }

    .button {
        @extend .btn;
        @extend .btn__outlined;

        margin-right: 15px;
        text-decoration: none !important;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .vpc-cart-config-wrapper {
        display: none;
    }
}

.pswp-running,
.mobile {
    #quick-cart {
        display: none;
    }
}
