.mdl-content-wrapper {
    display: none;
}

.dn-modal {
    &-body {
        textarea {
            margin: -1rem;
        }
    }

    &-header {
        position: relative;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
    }
}
