#preloader {
    background-color: #fff;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    transition: opacity .8s, visibility .8s;
    visibility: hidden;
    width: 100%;
    z-index: 999;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../vectors/tail-spin-black.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 7rem 7em;

        @include media-breakpoint-down(md) {
            background-size: 6rem 6rem;
        }
    }
}

.page-loading {
    #preloader {
        opacity: 1;
        transition: opacity 0s, visibility 0s;
        visibility: visible;
    }
}

.no-js {
    .page-loading {
        #preloader {
            display: none;
        }
    }
}

.tax-product_cat {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../vectors/tail-spin-black.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 7rem 7rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity .45s, visibility .45s;

        @include media-breakpoint-down(md) {
            background-size: 6rem 6rem;
        }
    }

    &.loading {
        &::before {
            opacity: 1;
            visibility: visible;
        }
    }
}
