.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    position: absolute;
    width: 40rem;
    height: .3rem;
    top: 50%;
    left: 50%;
    background-color: rgba($white, .3);
    border-radius: 0;
    transform: translate(-50%);

    @include media-breakpoint-down(sm) {
        position: relative;
        display: flex;
        margin-bottom: 3.5rem;
    }
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: $white;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    width: 1rem;
    top: -.4em;
    background-color: $white;
    border-radius: 0;
}

.woocommerce .widget_price_filter .price_slider_amount {
    @extend .d-flex;
    @extend .flex-row-reverse;
    @extend .align-items-center;

    .button {
        @extend .pl-5 !optional;
        @extend .pr-5 !optional;
        @extend .btn--text !optional;
        @extend .display-4 !optional;
        @extend .font-weight-bold;
        @extend .text-uppercase;
        @extend .ls-1;

        margin-left: 23rem;
        color: $white;
        border: .2rem solid $white;
        border-radius: 0;
        text-decoration: none;
        outline: none;
        transition: color .3s ease, background .3s ease;

        &:hover {
            background-color: $white;
            color: $primary;
            text-decoration: none;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
            margin-left: 0;
        }
    }

    .from,
    .to {
        @extend .font-weight-bold !optional;
    }

    .from {
        @extend .ml-3 !optional;
        @extend .mr-2 !optional;
    }

    .to {
        @extend .ml-2 !optional;
        @extend .mr-4 !optional;
    }
}

#woocommerce_price_filter-2 {
    .widgettitle {
        @extend .d-none !optional;
        @extend .display-4 !optional;
        @extend .mb-5 !optional;
    }
}

.range-slider {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1.5rem 0;
    background-color: $primary;
    transform: translateY(100%);
    transition: transform .6s $cubicFastInSlowOut;

    @include media-breakpoint-down(sm) {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    > .col {
        position: relative;
    }

    &.shy-in {
        transform: translateY(0%);
    }

    .woocommerce form,
    .form-address form {
        max-width: 100%;
    }
}

/*.page-load-end .range-slider {
    transform: translateY(0);
}*/

.woocommerce .widget_price_filter .price_label {
    display: inherit;
    font-size: 1.6rem;
    margin-right: 23rem;
    color: $white;
    text-align: left;

    @include media-breakpoint-down(sm) {
        position: relative;
        display: flex;
        width: 100%;
        margin-right: 0;
    }
}
