select,
.select2 {
    @extend .display-4 !optional;

    max-width: 100%;
    padding: 1.5rem 7rem 1.5rem 1.5rem;
    border: 0;
    border-radius: 0;
    background-image: url('../vectors/caret.svg');
    background-repeat: no-repeat;
    background-position: 85% 50%;
    background-color: transparent;
    appearance: none;
    text-transform: uppercase;
    box-shadow: 0 4px 15px 0 rgba(#000, .05), 0 7px 40px 0 rgba(#000, .05);
    outline: none;
    transition: box-shadow .4s ease;

    &:hover {
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05), 0 7px 45px 0 rgba(0, 0, 0, 0.13);
    }
}
