.product-category-tabs__nav {
    .nav-item {
        margin-top: 3rem;

        .nav-link {
            position: relative;
            opacity: .5;

            &::after {
                @extend .position-absolute;
                @extend .w-100;

                height: 2px;
                bottom: -10px;
                left: -.2rem;
                background-color: $primary;
                transform: scaleX(0);
                transform-origin: left center;
                transition: .3s ease;
                content: '';
            }

            &.active {
                opacity: 1;

                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        white-space: nowrap;
        width: 100%;
        padding-right: 0;
        overflow: auto;

        > li {
            display: inline-block;
        }
    }
}
