.woocommerce,
.woocommerce-page {
    .main-title {
        font-size: 4.5vw;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .cart-collaterals .cart_totals {
        float: none;
        width: 100%;
    }

    .coupon {
        width: 100%;
        border-top: 1px solid rgba($primary, .1);

        .woocommerce-input-wrapper {
            width: auto;
            overflow: hidden;
        }
    }

    .woocommerce-cart-form {
        table.cart td.actions {
            .coupon {
                input {
                    @extend .input-text;

                    width: auto !important;

                    @include media-breakpoint-up(xs) {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    #content table.shop_table tbody .product-thumbnail {
        padding: 0 !important;
        max-width: 100px;

        @include media-breakpoint-down(xs) {
            display: block;

            &::before {
                display: none;
            }
        }
    }

    table.shop_table_responsive tr:nth-child(2n) td {
        background: transparent;
    }
}

.woocommerce-cart {
    .wc-proceed-to-checkout a.checkout-button {
        margin-bottom: 0;
        font-size: inherit;
        padding: 1rem 2rem;
    }

    table.cart img {
        width: auto;
        max-width: 100px;
    }

    td.product-quantity {
        padding-bottom: 0;
    }
}
