.home {
    main {
        padding-top: 0;
    }

    .header-swap {
        position: relative;
        top: -3rem;
    }

    .hero {
        &::after {
            position: absolute;
            display: block;
            width: 4rem;
            height: 4rem;
            left: 50%;
            bottom: 3rem;
            margin-left: -2.5rem;
            background-image: url('../vectors/arrow-down.svg');
            background-size: 1.3rem;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 3;
            content: '';
            animation-name: scrollDown;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }

        h1 span,
        h2 span {
            text-shadow: none !important;
        }

        .img-wrapper {
            background-color: $primary;

            &::before {
                @extend .d-block;
                @extend .overlay-100;

                background-color: rgba($primary, .4);
                z-index: 1;
                content: '';
            }
        }

        canvas {
            @extend .overlay-100;
        }
    }

    .hero__frame {
        position: absolute;
        display: block;
        background-color: #fff;
        z-index: 9;
    }

    // FIXING 1PX GLITCH
    [data-pinned-el] {
        margin-top: -1px;
    }

    .display-1 {
        @include media-breakpoint-down(xs) {
            font-size: 6rem;
        }
    }
}

#hero-title {
    @extend .position-relative;

    z-index: 1;
}

.slideshow {
    width: 100%;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    z-index: 1;

    .slide {
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        position: absolute;
        overflow-x: hidden;
        pointer-events: none;
        opacity: 0;

        @include media-breakpoint-up(sm) {
            height: 100vh;
        }

        .upperlined.text-center {
            &::before {
                width: 60%;
                height: .1rem;
                transform: scaleX(.25);
                transform-origin: center;
                transition: transform 6s ease;
            }
        }

        &--current {
            opacity: 1;
            z-index: 3;
            pointer-events: auto;
        }

        &--animating {
            .upperlined.text-center {
                &::before {
                    transform: scaleX(1);
                }
            }
        }

        &__wrap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
        }

        &__img {
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: white;
            background-size: cover;
            background-position: 50% 50%;
            position: absolute;
            pointer-events: none;
        }

        &__title-wrap {
            position: relative;
        }
    }
}
