//TO REFACTOR
.single-product-details__images {
    img {
        background-color: $background;
    }
}

.single-product {
    .woocommerce-variation .woocommerce-Price-amount {
        display: none;
    }

    .reset_variations {
        display: none;
    }

    .variations {
        label {
            text-transform: none;

            @extend .ls-0 !optional;
        }
    }

    .woocommerce-product-gallery {
        .lSPager.lSpg > li.active a {
            @include media-breakpoint-down(xs) {
                z-index: 0;
                background-color: $brand;
            }
        }
    }

    .woocommerce-product-gallery__wrapper {
        margin-bottom: 0;
    }

    .woocommerce-product-gallery__image:last-child {
        @include media-breakpoint-up(md) {
            margin-bottom: 0 !important;
        }
    }
}

.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled {
    display: flex;
    flex-direction: row-reverse;
    float: left;

    .single_add_to_cart_button {
        @extend .ml-4 !optional;
    }
}

.modal-trigger {
    color: $brand;
}
