.single-testimonial__title {
    @include media-breakpoint-down(sm) {
        font-size: 4rem !important;
    }
}

.single-testimonial__qualification {
    color: $brand;
}

.single-testimonial__image {
    .cover {
        object-position: bottom;
    }
}
