.user-related-content {
    @include dynamic-respond-to((
        property: 'min-height',
        map: $navbar-height,
        fn: 'calcFullHeight',
        fn_args: 95px,
    ));

    @include media-breakpoint-down(xs) {
        height: auto;
    }
}

.hideShowPassword-toggle {
    &::before {
        color: $brand;
    }

    @include hover-focus-active {
        &::before {
            color: $brand;
        }
    }
}
