<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#ffffff",
                    "text": "#363b3d"
                },
                "button": {
                    "background": "#363b3d",
                    "text": "#ffffff"
                }
            },
            "position": "bottom-right",
            "content": {
                "message": "{{ __('Questo sito utilizza i cookies per garantire una migliore esperienza all\'utente.', THEME_CONTEXT) }}",
                "link": "{{ __('Cookie Policy', THEME_CONTEXT) }}",
                "dismiss": "{{ __('Ho capito', THEME_CONTEXT) }}",
                "target": "_blank",
                "href": "{{ site.link }}/cookie-policy/"
            }
        })});
</script>