<div
    class="col offset-sm-1 col-sm-10 offset-md-2 col-md-8 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
    {% if label %}

        <span class="pre-title mb-3 mt-5 text-center">{{ label }}</span>

    {% endif %}
    <h1 class="title text-uppercase text-center">
                                    <span class="d-block font-primary font-italic display-2 ls-2 lh-1">
                                        {{ title }}
                                    </span>
    </h1>
</div>
{% if paragraph %}
<div
    class="col offset-sm-1 col-sm-10 offset-md-2 col-md-8 col-lg-6 offset-lg-3">

    <p class="lead pr-5 pl-5 display-4 lh-3 text-center upperlined upperlined--thin">
        {{ paragraph }}
    </p>
</div>
{% endif %}
