<footer class="colophon p-5">
    <div class="container-fluid">
        <nav class="colophon__nav d-flex row align-items-center">
            <div class="col col-xs-12 col-lg-4 mt-xs-5 mb-xs-5 mt-lg-0 mb-lg-0 text-center text-lg-left d-xs-block d-lg-flex align-items-center order-1">
                <div class="d-xs-block m-xs-5 m-0">
                    <img class="logo" src="{{ asset_path('images/logo-dance-naturals-red.png', asset_dir) }}">
                </div>

                <div class="ml-xs-0 ml-md-5 display-4 lh-3">
                    di Calzaturificio Lady Laura srl<br>P.IVA 03707920280
                    <a class="d-block display-4 font-weight-bold lh-3" href="mailto:info@dancenaturals.it">info@dancenaturals.it</a>
                    <span class="d-block display-4 lh-3">tel.<a class="font-weight-bold" href="tel:+390498935140">049 893 5140</a></span>
                </div>
            </div>


            <div class="col col-xs-12 col-lg-4 mt-xs-5 mb-xs-5 mt-lg-0  mb-lg-0 pt-xs-5 pt-md-0 order-xs-3 order-lg-2">
                <ul class="list-unstyled text-center">
                    <li class="social d-inline-block ml-md-5 mr-4 pl-4">
                        <a href="https://www.facebook.com/DanceNaturalsOfficial/" target="_blank"><img src="{{ asset_path('vectors/logo-facebook.svg', asset_dir) }}" alt="Facebook logo"></a>
                    </li>
                    <li class="social d-inline-block mr-4">
                        <a href="https://www.instagram.com/dancenaturalsofficial/"><img src="{{ asset_path('vectors/logo-instagram.svg', asset_dir) }}" alt="Instagram logo"></a>
                    </li>
                    {% if has_translation() %}
                        <li class="d-inline-block mr-4">
                            -
                        </li>
                    {% endif %}
                    <li class="lang-switcher-wrapper d-inline-block mt-4">
                        {{ language_switcher() }}
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 mt-xs-3 mb-sm-3 mb-sm-5 mt-lg-0 mb-lg-0 text-center text-lg-right order-xs-2 order-lg-3">
                <a class="d-block display-4 lh-3" href="{{ options['privacy_policy'] }}" target="_blank">{{ __('Privacy policy', THEME_CONTEXT ) }}</a>
                <a class="d-block display-4 lh-3" href="{{ options['cookie_policy'] }}" target="_blank">{{ __('Cookie Policy',  THEME_CONTEXT ) }}</a>
                <a class="d-block display-4 lh-3" href="{{ options['newsletter_privacy_policy'] }}" target="_blank">{{ __('Informativa Newsletter',  THEME_CONTEXT ) }}</a>
                <a class="d-block display-4 lh-3" href="{{ options['terms_and_conditions'] }}" target="_blank">{{ __('Condizioni generali di contratto',  THEME_CONTEXT ) }}</a>
            </div>
        </nav>
        <div class="row mt-3">
            <div class="col-xs-12 text-center">
                {% include 'partial/credits.twig' %}
            </div>
        </div>
    </div>
</footer>

<noscript>
    <link rel="stylesheet" type="text/css" href="{{ asset_path('styles/noscript.min.css')}}">
</noscript>
