<header id="main-navigation" class="site-header main-navigation">
    {% block header %}
        <nav class="navbar main-navigation__nav d-flex pt-0 pr-0 pb-0 pl-0">
            <button id="btn-toggle" class="btn btn--menu collapsed d-flex justify-content-center align-items-center h-100" type="button" data-toggle="collapse"
                    data-target="#site-navigation" aria-controls="site-slide-navigation" aria-expanded="false"
                    aria-label="Toggle navigation">

                <div class="navbar-icon">
                    <span class="navbar-icon__line mb-3" aria-hidden="true"></span>
                    <span class="navbar-icon__line mb-3" aria-hidden="true"></span>
                    <span class="navbar-icon__line" aria-hidden="true"></span>
                </div>
            </button>

            <a id="nav-logo" href="{{ site.url }}" rel="home">
                {#{{ logo }}#}

                <picture>
                    <source media="(max-width: 767px)" srcset="{{ asset_path('images/logo-dance-naturals-white.png', asset_dir) }}">
                    <source media="(min-width: 768px)" srcset="{{ asset_path('images/logo-dance-naturals-red.png', asset_dir) }}">
                    <img src="{{ asset_path('images/logo-dance-naturals-red.png', asset_dir) }}">
                </picture>
            </a>

            <div id="btn--cart-wrapper">
                {% include "woo/cart/cart-button.twig" %}
            </div>
        </nav>

        <div class="overlay-menu container-fluid p-0">
            <div class="row h-100 no-gutters">

                <div class="overlay-menu__main-wrapper col-xs-12 col-sm-8 col-md-7 col-lg-6 d-flex align-items-center justify-content-center">
                    <div class="overlay-menu__main-inner h-100 p-nav d-flex flex-column align-items-start justify-content-center">
                        <div class="d-inline-block pl-5 pr-5 ml-auto mr-auto">
                            <nav id="main-nav" class="overlay-menu__main-nav" role="navigation">
                                <p class="pre-title">{{ __('menu', THEME_CONTEXT) }}</p>
                                {% include "partial/menu.twig" with { 'menu': main_menu.get_items, 'level' : 0 } %}
                            </nav>

                            <div class="d-flex flex-row justify-content-between align-items-center w-100 mt-5 pt-5">
                                <ul class="list-unstyled text-uppercase">
                                    <li>
                                        {% if user %}
                                            <a class="btn btn--text display-4 font-weight-bold" href="{{ login_link }}">{{ __('il mio account', THEME_CONTEXT ) }}</a>
                                        {% else %}
                                            <a class="btn btn--text display-4 font-weight-bold" href="{{ login_link }}#login">{{ __('accedi', THEME_CONTEXT ) }}</a>
                                        {% endif %}
                                    </li>

                                    <li class="mt-3">
                                        {% if user %}
                                            <a class="btn btn--text display-4 font-weight-bold" href="{{ login_link }}#orders">{{ __('i miei ordini', THEME_CONTEXT ) }}</a>
                                        {% else %}
                                            <a class="btn btn--text display-4 font-weight-bold" href="{{ login_link }}#register">{{ __('registrati', THEME_CONTEXT ) }}</a>
                                        {% endif %}
                                    </li>
                                </ul>

                                <ul class="list-unstyled text-center">
                                    <li class="d-inline-block ml-md-5 mr-4 pl-4">
                                        <a href="https://www.facebook.com/DanceNaturalsOfficial/" target="_blank"><img src="{{ asset_path('vectors/logo-facebook.svg', asset_dir ) }}" alt="Facebook logo"></a>
                                    </li>

                                    <li class="d-inline-block">
                                        <a href="https://www.instagram.com/dancenaturalsofficial/"><img src="{{ asset_path('vectors/logo-instagram.svg', asset_dir ) }}" alt="Instagram logo"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="overlay-menu__cta-wrapper col-xs-12 col-sm-4 col-md-5 col-lg-6 h-100 d-flex flex-column">
                    <div class="overlay-menu__cta-inner h-100">
                        <div class="overlay-menu__cta overlay-menu__cta--top d-flex align-items-center h-100 position-relative">

                            <div class="img-wrapper overlay-100">
                                {{ get_img({
                                    id: 1448,
                                    sizes_attr: '100vw',
                                    extra_classes: 'cover',
                                    lazy: false
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</header>
