<a class="btn btn--menu d-flex align-items-center justify-content-center text-uppercase" href="{{ link }}">
    {% if not cart_items_count %}
        <span class="shop-label ls-2">{{ __('shop', THEME_CONTEXT ) }}</span>
    {% else %}
        <div class="pr-4">
            <span class="badge badge-dark badge--menu">{{ cart_items_count }}</span>
            {{ cart_icon }}
        </div>
    {% endif %}
</a>

