<!doctype html>
<html class="no-js" {{ site.language_attributes }}>
<head>
    <script>

        /**
         * SETUP GlobalObject
         */

        window.gc = {
            isMobile: null,
            themePath: '{{ theme.link }}',
            domain: '{{ site.link }}',
            lang: '{{ lang }}',
            cookies: null,
            isDev: {{ isDev }},
        };

        /**
         * Check if js is available
         */

        var root = document.getElementsByTagName('html')[0];

        if (root.classList) {
            root.classList.remove('no-js');
            root.classList.add('js');
        } else {
            root.className += ' js';
        }

        window.mapsManager = {
            googleApiReady: false,
            initializerReady: false,
            gmapsCheck : function() {
                console.log('gmaps '+ new Date().getTime());
                window.mapsManager.googleApiReady = true;
                if (window.mapsManager.initializerReady) {
                    window.mapsManager.mapsInit();
                }
            },
            myMapsCheck : function() {
                window.mapsManager.initializerReady = true;
                console.log('mymaps '+ new Date().getTime());
                if (window.mapsManager.googleApiReady){
                    window.mapsManager.mapsInit();
                }
            }
        };

    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111691596-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-111691596-4');
    </script>
    <meta charset="{{ site.charset }}"/>
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible  x" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="author" href="{{ site.theme.link }}/humans.txt"/>
    <link rel="pingback" href="{{ site.pingback_url }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset_path('images/icons/apple-touch-icon.png', asset_dir)}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset_path('images/icons/favicon-32x32.png', asset_dir)}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset_path('images/icons/favicon-16x16.png', asset_dir)}}">
    <link rel="manifest" href="{{asset_path('images/icons/site.webmanifest', asset_dir)}}">
    <link rel="mask-icon" href="{{asset_path('images/icons/safari-pinned-tab.svg" color="#ba1437', asset_dir)}}">
    <link rel="shortcut icon" href="{{asset_path('images/icons/favicon.ico', asset_dir)}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="{{asset_path('images/icons/browserconfig.xml', asset_dir)}}">
    <meta name="theme-color" content="#ba1437">

    {{ function('wp_head') }}
