<section
        class="section section-background w-100 spacer spacer--top-2 spacer--bottom-2 o-hidden pb-5 pr-5 pl-5 justify-content-center align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div
                    class="col col-xs-10 offset-xs-1 col-md-10 col-mobile-md-offset-1 offset-md-2 col-lg-6 offset-lg-3 mt-xs-5 mt-md-0 mb-5 pt-5 pb-5 text-center">
                <span class="pre-title">{{ __('DN online shop', THEME_CONTEXT) }}</span>

                <h4 class="display-2 mt-3 font-primary font-italic ls-1 lh-1 line-rotated line-rotated--top line-rotated--bottom line-rotated--hided-sm">{{ __('L’artigianalità accarezza il tuo stile', THEME_CONTEXT) }}</h4>

                <p class="display-3 mt-5 font-primary font-italic lh-3 upperlined--thick">{{ __('Con materiali e texture che prendono la forma del tuo carattere fashion. Decidi i tuoi passi verso l’eleganza.', THEME_CONTEXT) }}</p>
            </div>
        </div>

        <div class="mt-xs-0 mt-md-5 d-flex justify-content-center no-gutters emotional-images-container">
            <div class="d-xs-block d-md-flex w-100 align-items-center">
                <div class="emotional-image mb-xs-5 mb-md-0">
                    <div class="img-wrapper aspect-3-2">
                        {{ get_img({
                            id: 34299,
                            sizes_attr: '30vw'
                        }) }}
                    </div>
                </div>

                <div class="emotional-image mb-xs-5 mb-md-0">
                    <div class="img-wrapper aspect-3-2">
                        {{ get_img({
                            id: 34297,
                            sizes_attr: '30vw'
                        }) }}
                    </div>
                </div>

                <div class="emotional-image mb-xs-5 mb-md-0">
                    <div class="img-wrapper aspect-3-2">
                        {{ get_img({
                            id: 34290,
                            sizes_attr: '40vw'
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
