{% if upsells %}
<section class="section-related w-100 spacer spacer--top-1 spacer--bottom-1 text-center mt-xs-5 mt-md-0 pt-xs-5 pt-md-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-8 offset-lg-2 mb-5">
                <h4 class="display-3 font-base font-weight-bold text-uppercase">{{ __('consigliate per te', THEME_CONTEXT ) }}</h4>
                <p class="font-primary display-3 font-italic text-center upperlined upperlined--thick">{{ __('Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s', THEME_CONTEXT ) }}</p>
            </div>
        </div>

        <div class="row">
            {% for upsell in upsells %}
                {% set upsell = TimberPost(upsell) %}
                <div class="col col-xs-6 col-md-6 col-lg-3 mb-xs-4 mb-sm-5 {% if last_three %}mb-md-0 {% endif %}pl-xs-3 pr-xs-3 pl-sm-4 pr-sm-4">
                    {% include ["partial/card-product.twig"] with { 'prod' : upsell } %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
