body {
    transform: translate3d(0, 0, 0);
}

[data-threed-context] {
    transform-style: preserve-3d;
    transform-origin: center;
    transform: perspective(800px);
}

/*[data-threed-layer],
[data-threed-platform] {
    @media (min-width: 768px) {
        transition: transform .2s;
    }
}*/

.smooth-reset {
    transition: transform .5s !important;
}

// CHROME RETINA BUG FIX
.chrome {
    [data-threed-layer],
    [data-threed-platform] {
        @media only screen and (-o-min-device-pixel-ratio: 5/4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
            transition: none;
        }
    }
}
