.posts-container {
    max-width: 1600px;
}

.post-preview {
    .img-wrapper {
        transform: scale(1);
        transition: box-shadow .4s ease, transform .8s ease;

        img {
            transform: scale(1);
            transition: 1.2s ease;
        }
    }

    .pre-title {
        font-size: 80%;
    }

    .title {
        font-size: 120%;
    }

    .btn--text {
        opacity: 0;
        transform: translateY(100%);
        transition: opacity .6s ease, transform .6s ease;
    }

    @include hover-focus-active {
        .img-wrapper {
            transform: scale(1.02);
            box-shadow: 0 7px 20px 7px rgba($primary, .2);

            img {
                transform: scale(1.1);
            }
        }

        .btn--text {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
