.woocommerce,
.woocommerce-page {
    .main-title {
        font-size: 4.5vw;
        margin-top: 5rem;
        margin-bottom: 3rem;

        @include media-breakpoint-down(sm) {
            font-size: 3rem;
        }
    }

    .coupon {
        padding: 2rem;
        width: 100%;

        .woocommerce-input-wrapper {
            width: auto;
            overflow: hidden;
        }
    }

    .cart-collaterals {
        .cart_totals {
            float: left;
            width: 100%;

            @include media-breakpoint-down(xs) {
                margin-top: 3rem;
            }
        }
    }

    .t-row {
        padding: 1.5rem 0;

        div {
            flex-grow: 1;

            &:nth-child(even) {
                text-align: right;
            }
        }
    }

    .prod-image-wrapper,
    .product-meta-wrapper,
    .product-price-wrapper {
        padding: 2rem;
    }

    .prod-image-wrapper {
        max-width: 33%;

        @include media-breakpoint-down(xs) {
            max-width: 60%;
        }

        .img-wrapper {
            mix-blend-mode: darken;
        }
    }

    .single-product-review {
        margin-bottom: 1.5rem;

        .product-name {
            @extend .display-4;
            @extend .font-weight-bold;
            @extend .text-uppercase;

            padding-bottom: 1.5rem;
        }

        .cart_item {
            margin-bottom: 1.5rem;
        }
    }

    .prod-image-inner {
        padding-bottom: 1.5rem;
        background-color: $background;
    }

    .product-meta-wrapper {
        flex-grow: 2;
    }

    .variation {
        margin-bottom: 1.5rem;
    }

    .single-variation {
        small {
            margin: .1rem 0;
            display: inline-block;
        }

        p {
            margin: 0;
        }
    }

    .product-price-wrapper {
        flex-grow: 1;
        text-align: right;
    }

    .quantity .qty {
        padding: 1rem 0;
        margin-bottom: .5rem;
        width: 4.631em;
        border: 1px solid $background;
    }

    #shipping_method {
        input[type="radio"] {
            margin-right: .5rem;
        }
    }

    .shipping-calculator-form {
        padding: 2rem;
        background-color: $background;

        input {
            background-color: transparent;
        }

        .select2-container {
            background-color: $white;
        }
    }

    .woocommerce-cart-form {
        position: initial !important;

        &__cart-item {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 2rem;
                width: calc(100% - 4rem);
                height: 1px;
                background-color: $background;
            }

            .product-meta-wrapper {
                width: 100%;
            }

            .accessories {
                width: 100%;
            }
        }
    }

    a.remove {
        display: inline;
        color: $primary !important;
        opacity: .3;
        transition: opacity .25s;

        &:hover {
            color: $primary !important;
            opacity: 1;
            background-color: transparent;
        }
    }

    .product-remove {
        padding: 1.5rem 1.5rem 0 1.5rem;
        text-decoration: none;

        &:hover {
            strong {
                opacity: 1;
                text-decoration: underline;
            }
        }

        strong {
            font-size: 1.2rem;
            opacity: 0;
            transition: opacity .25s;
        }
    }

    .cart_totals h2 {
        @extend .font-weight-bold;
        @extend .text-uppercase;
    }

    .mobile-submit-proxy {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 2rem;
        display: none;
        z-index: 9;

        @include media-breakpoint-down(xs) {
            display: block;
            max-width: 100vw;
        }
    }
}

.woocommerce-cart {
    .wc-proceed-to-checkout a.checkout-button {
        margin-bottom: 0;
        font-size: inherit;
        padding: 1rem 2rem;
    }

    .product-quantity {
        padding: 2rem;

        .quantity {
            @include media-breakpoint-down(xs) {
                flex-direction: column;
            }
        }
    }
}

.woocommerce .shop_table {
    .order-total {
        border-top: 1px solid $background;
    }

    .shipping {
        [data-title] {
            font-size: 1.4rem;
        }
    }
}

button[name='update_cart'] {
    display: none !important;
}

.cart-empty {
    @extend .main-title;
    @extend .font-primary;
    @extend .font-italic;
    @extend .color-primary;

    text-align: center;
}

.cart-empty-svg {
    svg {
        margin: 0 auto 5rem auto;
    }
}

.vpc-cart-config {
    border: 0;
    padding: 2rem;
    margin: 0;

    &-image {
        border: 0;
    }
}

.vpc-cart-config-inner {
    @extend .mb-5;

    padding-bottom: 2rem;
}

.vpc-cart-options-container {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;

    & > div {
        @extend .d-flex;
        @extend .flex-row;
        @extend .justify-content-between;

        border: 0;
        font-weight: 400;
        text-align: right;

        &:last-child {
            margin-bottom: 0;
        }

        strong {
            @extend .d-flex;
            @extend .flex-column;
            @extend .justify-content-center;

            text-align: left;
        }

        & > div {
            width: auto;
            max-width: 8rem;
            text-align: center;
            font-weight: 400;

            @extend .d-inline-flex;
            @extend .align-items-center;
            @extend .flex-column-reverse;
            @extend .mb-4 !optional;

            img {
                @extend .mb-3 !optional;

                padding: 0;
                margin: 0;
                margin-left: 5px;
                max-width: 8rem;
                border-radius: 50%;

                @include media-breakpoint-down(md) {
                    max-width: 5rem;
                }
            }
        }
    }
}

.vpc-config-trigger {
    @extend .text-uppercase;

    font-size: 1.2rem;
    opacity: .7;

    &::after {
        background-size: 1rem;
    }
}

.wac-quantity {
    .wac-qty-button {
        position: relative;
        width: 25px;
        height: 25px;
        display: inline-block;
        float: right;
        clear: left;
        padding: 0;
        border-radius: 50%;
        background-color: transparent;
        margin: 0 10px;
        opacity: .3;
        transition: transform .35s $cubicFastInSlowOut;

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
            opacity: 1;
            transform: scale(1.05);
        }

        &:last-of-type {
            @include media-breakpoint-up(sm) {
                margin-right: 0;
            }
        }
    }

    .wac-btn-sub,
    .wac-btn-inc {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        margin-top: -2px;
        color: $primary;
        line-height: 25px;
        text-align: center;
        transform: translate(-50%, -50%);

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }

    .quantity-label {
        margin: .5rem;
    }
}

.wcppec-checkout-buttons__separator {
    padding: 1.5rem 0;
}

.woocommerce-shipping-calculator {
    @extend mt-5 !optional;
}

.woocommerce-info {
    @extend .p-4 !optional;
}

.woocommerce #payment,
.woocommerce-checkout #payment {
    @extend .display-4 !optional;

    background-color: transparent !important;
}

.woocommerce #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
    @extend .list-unstyled;
    @extend .pl-0 !optional;
}

.payment_box {
    @extend .p-5 !optional;
    @extend .display-4 !optional;
    @extend .lh-3 !optional;
}

.woocommerce form .form-row .woocommerce-form__label-for-checkbox,
.form-address form .form-row .woocommerce-form__label-for-checkbox {
    @extend .d-flex;
    @extend .lh-4 !optional;
    @extend .mt-3 !optional;
    @extend .ls-1 !optional;
    @extend .mb-4 !optional;

    input[type="checkbox"] {
        @extend .mr-3 !optional;
    }
}

.woocommerce .form-row .woocommerce-input-wrapper textarea.input-text {
    @extend .w-100;
    @extend .mt-5 !optional;
    @extend .pt-3 !optional;
    @extend .pb-3 !optional;

    outline: none;
}

#calc_shipping_postcode_field {
    input {
        width: 100%;
    }
}

.accessories {
    small {
        @include media-breakpoint-up(lg) {
            font-size: 70%;
        }
    }

    label {
        height: 14px;
        margin-bottom: 0;
        margin-right: .5rem;
    }

    .accessory-price {
        opacity: .5;
    }
}
