.woocommerce,
.woocommerce-checkout {
    form.checkout_coupon.woocommerce-form,
    form.woocommerce-form-login.woocommerce-form {
        padding: 2rem;
        border: 0;
        border-radius: 0;
        background-color: $background;

        .woocommerce-input-wrapper {
            margin-bottom: 0;
        }

        input {
            margin-right: 3rem;
            background-color: transparent;
        }
    }

    .select2-dropdown,
    .select2-dropdown--above,
    .select2-dropdown--below {
        min-width: 40rem;
    }

    .select2-container {
        margin-top: 1rem !important;
    }

    .form-row {
        margin-bottom: 30px !important;

        label {
            margin-bottom: 0 !important;
            line-height: 1 !important;
            letter-spacing: 1px;
        }

        .woocommerce-input-wrapper {
            margin-top: 0;
            margin-bottom: 0;

            .select2,
            .select2-container,
            .select2-container--default {
                width: auto !important;
            }

            .input-text {
                width: 100%;
                padding: 1rem 0;
            }
        }
    }

    #payment {
        background-color: $background;

        div.payment_box {
            @extend .mb-3 !optional;

            background-color: #ededed;

            &::before {
                border-bottom-color: #ededed;
            }
        }

        div.form-row {
            padding: 0;
        }

        ul.payment_methods {
            border-bottom: 0;
        }
    }

    .woocommerce-shipping-fields {
        margin-top: 5rem;
    }

    .product-name {
        font-weight: 700;
    }

    .floating-table__header {
        overflow: hidden;
    }

    .floating-table__body {
        padding: 2rem;

        .cart_item {
            @extend .mb-4 !optional;
        }
    }

    .cart-subtotal {
        margin: 1.5rem 0;

        p {
            margin: 0;
        }
    }

    .order-total {
        margin-top: 1.5rem;
        padding-top: 1.5rem;
    }

    .woocommerce-billing-fields__field-wrapper,
    .woocommerce-shipping-fields__field-wrapper {
        margin: 0 -15px;
        flex-wrap: wrap;

        .form-row {
            width: 100%;
            margin: 0 15px;
        }
    }

    form.checkout_coupon,
    form.login,
    form.register,
    form.woocommerce-form-login {
        padding-top: 4rem;
        margin-top: 0;
    }
}

.woocommerce-form-coupon-wrapper {
    margin: 3rem 0;
}

.lost_password {
    font-size: 1.2rem;
}

.checkout__sticky-column {
    top: 10rem;
}

.payment_method_stripe {
    .stripe-card-group {
        flex-grow: 1;
        width: 100%;
    }

    .wc-stripe-elements-field {
        width: 100%;
        margin: 1rem 0;
        padding: 1.2rem 1rem;
        border: 0;
    }
}

.about_paypal {
    display: none;
}

li.wc_payment_method {
    margin-bottom: 1rem;
}

.woocommerce-privacy-policy-text {
    p {
        line-height: 1.4;
    }
}

.woocommerce-terms-and-conditions-checkbox-text {
    line-height: 1.4;
}

.place-order.disabled {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }
}
