/*
 * DRY CODE FOR MOBILE CONFIGURATOR LAYOUT
 * I encapsulated mobile code in a SASS placeholder to prevent code repetition and
 * to have a unique place where to update styles for mobile both server side detected and css detected
 */

.Nooo_Custom_VPC_Skin.o-wrap {
    align-items: stretch;

    #vpc-components {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    #vpc-preview-wrap {
        height: auto;
    }

    .vpc-component {
        display: block;
        width: auto;
        flex: 0 0 auto;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        overflow-x: auto;

        &:first-child {
            &::before {
                display: none;
            }
        }

        &::before,
        &::after {
            display: none;
        }

        &::before { // ? check
            top: 50%;
            right: 0;
            height: 6rem !important;
            border-top-width: 0;
            border-right-width: 0;
            border-bottom-width: 0;
            border-left-width: 2px;
            border-color: $background;
        }

        &__active {
            .vpc-options {
                overflow-y: hidden;
            }
        }

        &-header {
            height: 100%;
            padding: 3rem !important;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;

            &__icon-back {
                display: none;
            }

            &__name {
                transform: translateX(0);
                transition: transform .4s ease;
            }
        }
    }

    .vpc-main-label {
        padding: 0 3rem;
    }

    .vpc-components-col {
        height: auto;
        padding-top: 3rem !important;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0 !important;
    }

    .vpc-options {
        padding-bottom: 2rem;
        margin-top: 0;
        flex: 0 0 100%;
        overflow-x: auto;
        transform: scale(1) translateY(50px);
    }

    .vpc-mod-label {
        margin-top: 2rem;
    }

    .vpc-options label.custom {
        min-width: 7rem;
    }

    .vpc-single-option-wrap {
        margin: 0 !important;
        margin-top: 1rem !important;
        height: auto;

        &:first-of-type {
            margin-left: 2rem !important;
        }
    }

    .vpc-group {
        &.row {
            flex: none;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            white-space: nowrap;
            flex-direction: column;
            flex-wrap: nowrap;
        }

        &__options {
            flex: none;
            flex-wrap: nowrap;
        }
    }

    .vpc-group-name__container {
        position: relative;
        flex: none;

        > .row {
            border-bottom: 2px solid #f7f7f7;
        }
    }

    .vpc-group-name {
        position: sticky;
        top: 0;
        left: 0;
        width: auto;
        flex: none;
        border: 0;
        margin-bottom: 1rem !important;

        .display-4 {
            &::before,
            &::after {
                opacity: 0;
            }
        }
    }

    .bx-viewport {
        height: auto !important;
    }

    .vpc-action-buttons {
        margin-top: 3rem;
    }
}
