.page-template-contact-us {
    .form-group.row {
        flex-wrap: wrap;

        .wpcf7-form-control-wrap {
            display: block;
            position: relative;
            width: 100%;

            @extend .input-underlined !optional;

            label {
                text-align: left;
            }

            input,
            textarea {
                background-color: transparent;
                width: 100%;
                padding: 1rem 2rem 2rem 0;
                border: 0;
            }
        }
    }

    .wpcf7-submit {
        display: none;
    }

    .gm-style-iw {
        padding: 2rem;

        a {
            display: block;
            line-height: 1.3;
        }
    }
}

.resellers-map-section {
    min-height: 35rem;
}
