.Nooo_Custom_VPC_Skin.o-wrap {
    display: flex;
    width: auto;
    font-size: inherit;
    background-color: $background;
    overflow: hidden;

    .bx-wrapper {
        margin: 0;
        border: none;
        box-shadow: none;
        background-color: $background;
    }

    .bx-pager,
    #mva-bx-pager {
        display: none;
    }

    #vpc-components {
        position: relative;
        overflow-x: hidden;
    }

    .vpc-preview {
        transition: opacity .6s;

        &[aria-hidden="true"] {
            opacity: 0;
        }

        img {
            max-height: 100%;
            transition: opacity .3s, filter .3s;
        }
    }

    .vpc-components-col {
        height: 100%;
        background-color: $white;
        overflow: hidden;
    }

    .vpc-component {
        position: relative;
        width: 100%;
        overflow: hidden;

        &::before,
        &::after {
            @extend .position-absolute;
            @extend .w-100;

            left: 0;
            border-style: solid;
            content: '';
        }

        &::before {
            @extend .position-absolute;
            @extend .h-100;

            border-width: 3px;
            border-color: transparent;
            transition: border .1s ease;
        }

        &::after {
            bottom: -1px;
            border-width: 1px;
            border-color: $background;
        }

        @include hover-focus-active {
            &::before {
                border-color: $background;
            }
        }

        .vpc-component-header {
            cursor: pointer;

            &:hover {
                .vpc-modify {
                    opacity: .8;
                }
            }

            .vpc-component-name {
                font-size: 100%;
            }
        }

        &__active {
            background-color: $white;
            z-index: 2;

            &::before {
                border-color: $background;
            }

            @include media-breakpoint-up(md) {
                .vpc-component-header__name {
                    transform: translateX(0);
                    transition-delay: .7s;
                }

                .vpc-component-header__icon-back {
                    opacity: 1;
                    transform: translateX(0);
                    transition-delay: .7s;
                }
            }

            .vpc-options {
                @extend .overlay-100;

                z-index: 0;

                @include media-breakpoint-up(md) {
                    position: absolute;
                    margin-top: 7.5rem;
                }
            }

            .vpc-modify {
                opacity: 0;
            }
        }

        &-header {
            position: relative;
            padding: 1rem 2rem;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;

            @include media-breakpoint-down(xs) {
                &:first-of-type {
                    padding-left: 3rem;
                }
            }

            & > span {
                span {
                    display: block;
                    position: relative;
                }
            }

            &__icon-back {
                display: block;
            }
        }
    }

    .vpc-modify {
        font-size: 70% !important;
        opacity: .5;
        transition: opacity .3s ease;
    }

    .vpc-main-label {
        font-size: 80%;

        &-prefix {
            margin-right: .8rem;
        }

        .vpc-component-name {
            display: inline-block;
            opacity: 0;
            transform: translateX(50%);
        }
    }

    .vpc-options {
        padding: 0;
        background-color: transparent;
        overflow-x: hidden;
        overflow-y: scroll;
        opacity: 0;

        @include media-breakpoint-up(md) {
            transform: scale(.85);
        }

        input[type=radio],
        input[type=checkbox] {
            display: none;
        }

        img {
            display: inline-block;

            @extend .w-100;
            @extend .h-100;
        }

        label.custom {
            position: relative;
            display: inline-block;
            width: 100%;
            margin-bottom: 0;
            text-align: center;
            vertical-align: top;
            background: $white;
            border-radius: 50%;
            box-sizing: content-box;
            border: 1px solid transparent;
            overflow: hidden;
            cursor: pointer;
            transform: translate3d(0, 0, 0);

            &::before {
                content: "";
                display: block;
                width: 100%;
                padding-bottom: 100%;
                background-size: 100%;
            }
        }
    }

    .vpc-single-option-wrap {
        position: relative;
        cursor: pointer;

        @include media-breakpoint-down(md) {
            max-width: 12rem;
            white-space: normal;
        }

        &::after {
            @extend .position-absolute;
            @extend .d-block;

            width: calc(100% - 16px);
            height: calc(100% + 16px);
            top: -6px;
            left: 8px;
            background-color: $background;
            border-radius: 5px;
            opacity: 0;
            z-index: -1;
            transition: opacity .3s ease;
            content: '';
        }

        &--selected {
            cursor: default;

            &::after {
                opacity: 1;
            }
        }

        .lazy-image {
            opacity: 0;
            transition: opacity .6s;

            &[data-load-ready="true"] {
                opacity: 1;
            }
        }

        .lazy-placeholder {
            animation: loading-material;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
    }

    .vpc-single-option-name {
        margin-top: 1rem;
        font-size: 90%;
    }

    .vpc-selected-icon {
        display: none;
    }

    .vpc-group {
        position: relative;

        &.row {
            margin-left: 0;
            margin-right: 0;
        }

        &:last-child {
            &::after {
                display: block;
                width: 100%;
                height: 80px;
                background-color: transparent;
                content: '';
            }
        }
    }

    .vpc-group__options {
        flex-direction: row;
        align-items: flex-start;
        display: flex;
        flex: none;

        @include media-breakpoint-up(md) {
            flex-wrap: wrap;
            flex: auto;
        }
    }

    .vpc-group-name__container {
        position: sticky;
        top: 0;
        left: 0;
        padding-right: 0;
        padding-left: 0;
        z-index: 10;

        > .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .vpc-group-name {
        position: relative;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        font-size: 1.4rem;
        color: rgba($primary, .5);
        z-index: 1;
        background-color: $white;
        border-bottom: 2px solid $background;

        .display-4 {
            position: relative;

            @include media-breakpoint-down(md) {
                padding-left: 2.8rem !important;
            }

            &::before,
            &::after {
                @extend .position-absolute;
                @extend .d-block;
                @extend .h-100;

                width: 3px;
                top: 0;
                background-color: $background;
                content: '';
            }

            &::before {
                left: 0;
            }

            &::after {
                right: 0;
            }
        }
    }

    .vpc-single-option-price {
        margin-bottom: 0;
        font-size: 80%;
        opacity: .5;
    }

    .vpc-selected.txt {
        color: $primary;
        opacity: .5;
    }

    .vpc-action-buttons {
        position: relative;
    }

    .vpc-action-buttons__inner {
        display: flex;
        overflow: hidden;
        position: relative;

        .choice-actions {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;

            button {
                color: $primary;
                background: $background;
                border: 1px solid $white;
            }

            .vpc-update,
            .vpc-go-back {
                width: 50% !important;

                &::before {
                    @extend .d-inline-block;
                    @extend .align-middle;

                    top: -2px;
                    width: auto;
                }
            }

            .vpc-update {
                &::before {
                    content: url(../vectors/check-black.svg);
                }
            }

            .vpc-go-back {
                &::before {
                    content: url(../vectors/delete.svg);
                }
            }
        }
    }

    .single_add_to_cart_button {
        display: flex;
        padding: 2rem;
        align-items: center;
        justify-content: center;
    }
}

.page-template-configurator {
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($white, .95);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity .35s, visibility .35s;
        z-index: 9;
    }

    #vpc-message-popup {
        position: fixed;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(-50%);
        transition: opacity .35s, visibility .35s;

        span {
            display: inline-block;
            min-width: 1rem;
        }
    }

    &.vpc-adding-to-cart {
        position: relative;

        &::before {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transition: opacity 1s, visibility 1s;
        }

        #vpc-message-popup {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transition: opacity 1s, visibility 1s;
            z-index: 10;
        }

        .vpc-preview {
            height: auto !important;
            opacity: 1 !important;
        }

        [data-html2canvas-ignore] {
            display: initial !important;
        }
    }

    .scroll-target,
    main,
    .configurator-page,
    .post-type-page,
    .article-content,
    .article-body,
    .Nooo_Custom_VPC_Skin,
    #vpc-preview-wrap,
    .bx-wrapper,
    .bx-viewport,
    .bxslider,
    .bxslider > li,
    .bxslider > li > div {
        height: 100%;
    }

    #vpc-preview-wrap {
        background-color: $background;

        @include media-breakpoint-down(xs) {
            padding: 0;
        }
    }

    footer {
        display: none;
    }

    a.bx-prev,
    a.bx-next {
        padding: 0 3rem;
        background-size: 2.2rem;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .3;
        transition: opacity .25s;
        z-index: 5;

        &:hover {
            opacity: 1;
            background-position: center;
        }
    }

    .bx-prev {
        background-image: url(../vectors/arrow-left.svg);
    }

    .bx-next {
        background-image: url(../vectors/arrow-right.svg);
    }

    .added_to_cart {
        display: none;
    }

    #vpc-add-to-cart {
        display: flex;

        &::before {
            @extend .d-inline-block;
            @extend .align-middle;

            top: -2px;
            width: auto;
            margin-right: 10px;
            content: url(../vectors/check.svg);
        }

        &:hover {
            background-color: darken($primary, 5%);
        }
    }
}

.currently-editing {
    opacity: .7;
    filter: contrast(135%);
}

.inactive-group-el {
    display: none !important;
}

#group-switcher {
    //display: inline-block;
    position: absolute;
    top: 100vh;
    left: 100vw;
    padding: 3rem;
    background-color: $white;

    // TEMP to avoid overflow
    display: none;
}

[data-html2canvas-ignore] {
    display: none !important;
}

// Dry style code for mobile configurator layout
/* stylelint-disable no-duplicate-at-import-rules */
.mobile.vertical {
    @import "./_configurator-mobile.scss";

    .vpc-single-option-wrap {
        max-width: 12rem;
        white-space: normal;
    }

    // Code just for server detected mobile layout
    #vpc-preview-wrap,
    .vpc-components-col {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

.mobile.horizontal {
    .Nooo_Custom_VPC_Skin.o-wrap .vpc-component__active .vpc-options {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    @import "./_configurator-mobile.scss";

    .Nooo_Custom_VPC_Skin.o-wrap {
        overflow: initial;
    }

    .vpc-component {
        padding-bottom: 1rem !important;
    }

    .vpc-options {
        padding-bottom: 1rem !important;

        label.custom {
            width: 7rem !important;
        }
    }

    .vpc-main-label {
        margin-bottom: .8rem !important;
    }

    .vpc-action-buttons {
        margin-top: 0 !important;
    }

    .vpc-single-option-wrap {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

/* stylelint-enable */
