.home {
    main {
        padding-top: 0;
    }

    .header-swap {
        position: relative;
        top: -3rem;
    }

    .jumbotron .title .display-1 {
        @media (max-width: 320px) {
            font-size: 6rem;
        }
    }

    .hero {
        .img-wrapper {
            background-color: $primary;
        }

        canvas {
            @extend .overlay-100;

            z-index: 1;
        }
    }

    .hero__frame {
        position: absolute;
        display: block;
        background-color: #fff;
        z-index: 9;

        &--top {
            top: 0;
            left: 0;
            width: 100%;
            height: 3rem;
            transform-origin: top;
        }

        &--right {
            right: 0;
            top: 0;
            height: 100%;
            width: 3rem;
            transform-origin: right;
        }

        &--bottom {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3rem;
            transform-origin: bottom;
        }

        &--left {
            left: 0;
            top: 0;
            height: 100%;
            width: 3rem;
            transform-origin: left;
        }

        @media (max-width: 320px) {
            display: none;
        }
    }

    // FIXING 1PX GLITCH
    [data-pinned-el] {
        margin-top: -1px;
    }

    .hero h1,
    .hero h2 {
        z-index: 9;

        span {
            text-shadow: 0 -2px 14px rgba(0, 0, 0, 1);
        }
    }
}
