.woocommerce-lost-password {
    .user-related-content {
        align-items: center !important;
    }

    .lost_reset_password {
        @include media-breakpoint-up(md) {
            max-width: 50%;
        }

        .woocommerce-form-row {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            justify-content: center;

            &--first {
                margin-top: 5rem;
            }

            @include media-breakpoint-up(md) {
                max-width: 300px;
            }
        }
    }

    .user-login-wrapper {
        .row {
            width: 100%;
        }
    }

    .reset-link-sent {
        display: flex;
        padding: 15px;
        max-width: 1024px;
        margin: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &::before {
            content: "";
            width: 5rem;
            height: 5rem;
            display: block;
            margin-bottom: 3rem;
            background-image: url('../vectors/email.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            animation-name: intermittentShake;
            animation-duration: 6s;
            animation-iteration-count: infinite;
        }
    }

    #user_login {
        text-align: center;
    }
}
