.privacy-policy {
    table {
        margin: 2rem 0;
    }

    td {
        padding: 1rem;
        border: 1px solid rgba($primary, .12);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 2rem;
        font-family: $serif;
    }
}
