//TO REFACTOR
.single-product-details__images {
    img {
        background-color: $background;
    }
}

.single-product {
    .woocommerce-variation .woocommerce-Price-amount {
        display: none;
    }

    .reset_variations {
        display: none;
    }

    .variations {
        label {
            text-transform: none;

            @extend .ls-0 !optional;
        }
    }

    .woocommerce-product-details__short-description {
        p {
            @extend .display-4 !optional;
            @extend .lh-4 !optional;
        }
    }

    .woocommerce-variation-availability {
        .stock.out-of-stock {
            @extend .btn;
            @extend .btn--full;

            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin-bottom: 0;
            background-color: #b9b9b9;
            border-color: #b9b9b9;
            margin-right: 1rem;

            @include hover-focus-active {
                background-color: #b9b9b9;
                border-color: #b9b9b9;
            }

            &::before {
                content: url("../vectors/close-white.svg");
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }

    .woocommerce-product-gallery {
        .lSSlideOuter {
            @include media-breakpoint-down(xs) {
                margin-left: -15px;
                margin-right: -15px;
                padding-bottom: 5rem;
                background-color: $background;
            }
        }

        .lSPager.lSpg {
            z-index: 0;

            @include media-breakpoint-down(xs) {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                margin-bottom: 2rem;
            }

            & > li a {
                @include media-breakpoint-down(xs) {
                    background-color: darken($background, 5%);
                }
            }

            & > li.active a {
                @include media-breakpoint-down(xs) {
                    background-color: $primary;
                }
            }
        }

        .lSAction {
            display: none !important;
        }
    }

    .woocommerce-product-gallery__wrapper {
        margin-bottom: 0;

        @include media-breakpoint-down(xs) {
            display: block;
        }
    }

    .woocommerce-product-gallery__image {
        &:hover {
            cursor: zoom-in;
        }

        &:last-child {
            @include media-breakpoint-up(md) {
                margin-bottom: 0 !important;
            }
        }
    }

    .added_to_cart.wc-forward {
        order: 1;
        //temp
        display: none !important;
    }

    .variation-wrapper {
        select[disabled] {
            border: none;
            box-shadow: none;
            background-image: none;
            color: $black;
        }
    }
}

.mobile .single-product {
    .woocommerce-product-gallery {
        &__wrapper {
            display: block;
        }

        .lSPager.lSpg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            margin-bottom: 2rem;

            > li {
                &.active {
                    a {
                        z-index: 0;
                        background-color: #ba1437;
                    }
                }

                a {
                    background-color: #eaeaea;
                }
            }
        }

        .lSSlideOuter {
            margin-left: -15px;
            margin-right: -15px;
            padding-bottom: 5rem;
            background-color: $background;
        }
    }

    .spacer--top-2 {
        &::before {
            content: none;
        }
    }

    .woocommerce-variation-add-to-cart {
        button {
            margin-left: 0;
        }
    }
}

.woocommerce .cart {
    .single_add_to_cart_button,
    .vpc-configure-button.button {
        @include media-breakpoint-down(md) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        @include media-breakpoint-down(sm) {
            margin: 0 !important;
        }
    }

    .single_add_to_cart_button {
        order: 2;
        transition: color .25s;

        @include media-breakpoint-down(md) {
            width: 100%;
            margin-left: 0 !important;
        }

        &.loading {
            color: transparent !important;
            background-image: url('../vectors/tail-spin.svg');
            background-size: 2rem 2rem;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.single_variation_wrap {
    align-items: start;
    justify-content: left;
    display: flex;

    > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }

    @include media-breakpoint-down(sm) {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-color: $white;
    }

    .btn,
    .vpc-configure-button {
        @include media-breakpoint-down(sm) {
            padding: 2rem !important;
            width: 50% !important;
            margin: 0 !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .woocommerce-variation-add-to-cart {
        @include media-breakpoint-down(sm) {
            width: 100%;
        }

        button {
            margin-left: 1.5rem;

            @include media-breakpoint-down(sm) {
                margin-left: 0;
            }

            &:first-of-type {
                margin-left: 0 !important;
            }
        }
    }

    // NOT AVAILABLE MESSAGE
    p {
        background-color: $white;
        padding: rem;

        &::before {
            content: url('../vectors/info.svg');
            margin-right: 1rem;
        }
    }
}

.wc-variation-is-unavailable {
    display: none;
}

.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled {
    display: flex;
    flex-direction: row-reverse;
    transition: opacity .25s;

    &.disabled-buttons {
        opacity: .2;
    }

    .single_add_to_cart_button,
    .vpc-configure-button.button {
        @include media-breakpoint-down(md) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        @include media-breakpoint-down(sm) {
            &.btn {
                margin: 0 !important;
            }
        }
    }

    .single_add_to_cart_button {
        order: 2;
        transition: color .25s;

        @include media-breakpoint-down(md) {
            width: 100%;
            margin-left: 0 !important;
        }

        &.loading {
            color: transparent !important;
            background-image: url('../vectors/tail-spin.svg');
            background-size: 2rem 2rem;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    #reset-configuration {
        order: 3;
    }

    @include media-breakpoint-down(md) {
        flex-direction: column;
        width: 100%;
        float: none;
    }

    @include media-breakpoint-down(sm) {
        flex-direction: row;
        margin: 0;
    }
}

.vpc-configure-button.button {
    order: 3;

    @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: 1rem !important;
    }
}

.woocommerce-product-gallery__trigger {
    display: none !important;
}

.pswp {
    height: 100vh;

    &__caption {
        display: none;
    }

    &__bg {
        background-color: $white;
    }

    &__caption,
    &__top-bar {
        background-color: $primary !important;
    }

    &__ui h3,
    &__ui button,
    &__button::before {
        color: $primary;
    }

    &__counter {
        color: $white;
    }
}

.variation-pa_design-tacco {
    position: relative;
    flex-basis: 100%;

    select {
        display: none;
    }

    button {
        position: relative;
        font-size: 0;
        width: 6rem;
        height: 7rem;
        border: 0;

        @include hover-focus {
            cursor: pointer;
            outline: none;

            &::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }

        &:active {
            outline: none;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $primary;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .3s;
        }
    }

    .radio-wrapper {
        &.checked {
            button::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }

        @include hover-focus-active {
            .radio-info-popover {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }

    .image-pa_design-tacco {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $background;
    }

    .radio-info-popover {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: flex;
        min-height: 15rem;
        height: 100%; // FIX for IE issue with flex and min-height
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 4px 15px 0 rgba(#000, .05), 0 7px 40px 0 rgba(#000, .05);
        transform: translateY(-30px);
        pointer-events: none;
        z-index: 9;
        transition: transform .45s, opacity .35s ease .1s, visibility .35s ease .1s;

        .image-pa_design-tacco {
            flex-basis: 30%;
        }

        .radio-info-popover__description {
            flex-basis: 70%;
            background-color: $white;
        }
    }
}

.variation-pa_scegli-il-design-tacco {
    position: relative;
    flex-basis: 100%;

    select {
        display: none;
    }

    button {
        position: relative;
        font-size: 0;
        width: 6rem;
        height: 7rem;
        border: 0;

        @include hover-focus {
            cursor: pointer;
            outline: none;

            &::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }

        &:active {
            outline: none;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $primary;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .3s;
        }
    }

    .radio-wrapper {
        &.checked {
            button::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }

        @include hover-focus-active {
            .radio-info-popover {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }

    .image-pa_scegli-il-design-tacco {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $background;
    }

    .radio-info-popover {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: flex;
        min-height: 15rem;
        height: 100%; // FIX for IE issue with flex and min-height
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 4px 15px 0 rgba(#000, .05), 0 7px 40px 0 rgba(#000, .05);
        transform: translateY(-30px);
        pointer-events: none;
        z-index: 9;
        transition: transform .45s, opacity .35s ease .1s, visibility .35s ease .1s;

        .image-pa_scegli-il-design-tacco {
            flex-basis: 30%;
        }

        .radio-info-popover__description {
            flex-basis: 70%;
            background-color: $white;
        }
    }
}

.variation-pa_modifica-materiale {
    position: relative;
    flex-basis: 100%;

    select {
        display: none;
    }

    .variation-active {
        padding: .5rem 2rem;
        background: $background;
        border-radius: .5rem;
    }
}

.dn-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 3;

    .dn-modal-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($primary, .3);
    }

    .dn-modal {
        position: relative;
        margin: auto;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05), 0 7px 40px 0 rgba(0, 0, 0, 0.05);

        @include media-breakpoint-up(md) {
            max-width: 70%;
        }

        &-body {
            border-bottom: 1px solid $background;

            .modal-wrapper {
                border-radius: 3px;

                &.checked {
                    padding: .5rem 2rem;
                    background-color: $background;
                    border-radius: .5rem;
                }
            }
        }
    }
}

.dn-modal-wrapper,
.variation-active {
    .image-color-el {
        width: 8rem;
        height: 8rem;
        margin: 1rem auto;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.modal-wrapper {
    cursor: pointer;
}

.art-number {
    opacity: .5;
}

.size-guide-wrapper {
    flex-basis: 100%;
    margin-top: 2.8rem;
}

.variation-active {
    p {
        opacity: .5;
    }
}

.modal-trigger {
    color: $primary;
    line-height: inherit;
}

#prod-notes {
    display: flex;
    margin: 1rem 0;
    color: $primary;

    &::before {
        content: "";
        width: 3rem;
        height: 2rem;
        display: inline-block;
        background-image: url('../vectors/single-folded-content.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

button.pswp__button--arrow--left::before,
button.pswp__button--arrow--right::before {
    background-color: $primary !important;
}

#sole {
    overflow: visible;
}

#sole-base {
    transform-origin: 55% 50%;
    animation: solePush 2s linear infinite;
    animation-delay: .1s;
}

#arrow-near,
#arrow-far {
    animation: arrowDown 2s linear infinite;
}

#arrow-far {
    animation-delay: .05s;
}

#wave-1,
#wave-2 {
    transform-origin: 55% 50%;
    animation: waveExpansion 2s linear infinite;
}

#wave-1 {
    animation-delay: .2s;
}

