.woocommerce-order-received {
    .woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
        @extend .display-3 !optional;
        @extend .mb-5 !optional;
    }

    .woocommerce-bacs-bank-details {
        @extend .display-4 !optional;
        @extend .mt-5 !optional;
        @extend .pt-5 !optional;
        @extend .lh-3 !optional;
    }

    .wc-bacs-bank-details-heading {
        @extend .display-4 !optional;
        @extend .mt-5 !optional;
        @extend .mb-3 !optional;
        @extend .text-uppercase;
    }

    .content-wrapper {
        @extend .d-flex;
        @extend .w-100;
        @extend .justify-content-center;
        @extend .align-items-center;
        @extend .vh-100-min;

        text-align: center;
    }

    .order_details {
        @extend .display-4 !optional;
        @extend .lh-3 !optional;

        padding-left: 0 !important;
    }

    li {
        list-style: none;
    }

    article.post-type-page {
        width: 100%;
    }
}
