.user-related-content {
    @include dynamic-respond-to((
        property: 'min-height',
        map: $navbar-height,
        fn: 'calcFullHeight',
        fn_args: 95px,
    ));

    @include media-breakpoint-down(xs) {
        height: auto;
    }

    .woocommerce-privacy-policy-text {
        display: none;
    }

    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 3rem;
        margin: 0;
        text-align: center;
        justify-content: center;
        transform: translate(0, 100%);
        transition: transform .45s ease .2s;
        z-index: 9;

        @include hover-focus-active {
            cursor: pointer;
        }

        &::after {
            content: "x";
            position: absolute;
            top: 0;
            right: 0;
            margin: 0 1.5rem;
            font-size: 2rem;
            opacity: .8;
            transition: opacity .35s, transform .35s;

            @include hover-focus-active {
                transform: scale(1.1);
                opacity: 1;
            }
        }

        a {
            margin-left: 1rem;
        }
    }

    .woocommerce-error {
        background: $errorRed;

        &::after {
            color: $white;
        }

        li {
            color: $white;
        }
    }
}

.woocommerce-EditAccountForm {
    input,
    .form-notice {
        width: 100%;
        display: block;
        text-align: center;
    }

    .woocommerce-input-wrapper {
        max-width: 400px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.woocommerce-address-fields {
    max-width: 450px;
    margin: 5rem auto;
}

.edit-address-title {
    margin-top: 8rem;
    font-size: 6rem;
}

.woocommerce-columns--addresses {
    margin: auto;
}

.woocommerce-orders-table {
    margin: auto;
}

.woocommerce-MyAccount-content {
    .woocommerce-table--order-details {
        width: 100%;
        margin-bottom: 5rem;

        .woocommerce-table__line-item {
            td {
                padding: 3rem;
            }
        }

        .woocommerce-table__product-name {
            a {
                font-size: 1.6rem;
            }

            .wc-item-meta {
                @extend .list-unstyled;
            }

            .wc-item-meta-label {
                display: block;
            }

            .attachment-thumbnail {
                display: block;
            }

            tfoot {
                td,
                th {
                    padding: .8rem;
                }
            }
        }
    }

    .btn--submit {
        display: none;
    }
}

.page-load-end {
    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        transform: translate(0, 0) !important;
    }
}

.hideShowPassword-toggle-show {
    &::before {
        color: $primary;
    }

    @include hover-focus-active {
        &::before {
            color: $primary;
        }
    }
}
