
.internet-explorer {
    .main-navigation__nav {
        position: relative;
        z-index: 1;

        #btn-toggle {
            .navbar-icon {
                margin: inherit;
            }
        }
    }

    .single-product {
        .variation-wrapper {
            select {
                padding: 1.5rem;
                background-image: none;
            }
        }
    }

    .page-template-configurator {
        #vpc-add-to-cart {
            &::before {
                width: 25px;
                height: 22px;
            }
        }

        .vpc-action-buttons__inner {
            .vpc-update {
                &::before {
                    width: 28px !important;
                    height: 22px !important;
                }
            }

            .vpc-go-back {
                &::before {
                    width: 18px !important;
                    height: 18px !important;
                }
            }
        }
    }
}

.windows {
    .woocommerce-form__label-for-checkbox {
        .svg-wrapper {
            .strokable {
                stroke-dashoffset: 0 !important;
            }

            svg {
                display: none;
            }
        }

        &.checkbox-checked {
            svg {
                display: block;
            }
        }
    }

    .woocommerce-validated .woocommerce-form__label-for-checkbox {
        .svg-wrapper {
            svg {
                display: block;
            }
        }
    }
}

.internet-explorer,
.windows {
    input, // GOING BACK TO STANDARD CHECKBOXES IN IE
    .woocommerce form .form-row input {
        &[type="checkbox"] {
            appearance: checkbox;
            border: none;
        }
    }

    .woocommerce form .svg-wrapper {
        display: none;
    }
}

.internet-explorer.v10 {
    // Fix for IE10
    .Nooo_Custom_VPC_Skin.o-wrap {
        #vpc-components {
            max-height: calc(100% - 10rem); // Adding some margin for add to cart button
        }
    }
}
