{% do action('woocommerce_before_add_to_cart_form') %}

<form class="cart" action="{{ post.link|apply_filters('woocommerce_add_to_cart_form_action') }}" method="post" enctype='multipart/form-data'>
    {% do action('woocommerce_before_add_to_cart_button') %}

    {% do action('woocommerce_before_add_to_cart_quantity') %}

    {% if post.accessory %}
        {{ fn('get_quantity_input', 1 , post.max_quantity ) }}
    {% else %}
        {{ fn('get_quantity_input') }}
    {% endif %}

    {% do action('woocommerce_after_add_to_cart_quantity') %}

    <button type="submit" name="add-to-cart" value="{{ post.id }}" class="single_add_to_cart_button btn btn--full alt">{{ add_to_cart_text }}</button>
    {% do action('woocommerce_after_add_to_cart_button') %}

</form>

{% do action('woocommerce_after_add_to_cart_form') %}
