<form class="variations_form cart" action="{{ post.link|apply_filters('woocommerce_add_to_cart_form_action') }}" method="post" enctype='multipart/form-data' data-product_id="{{ absint( post.id ) }}" data-product_variations="{{ available_variations }}">

    {% do action( 'woocommerce_before_variations_form' )  %}

    {% if not available_variations %}

        <p class="stock out-of-stock">{{ __( 'This product is currently out of stock and unavailable.', 'woocommerce' )|e('esc_html') }}</p>

    {% else %}
        <div class="variations d-flex align-items-start flex-wrap">
            {% for attribute_name, options in attributes %}
                {% set attr_name = fn( 'wc_attribute_label', attribute_name ) %}
                {% set clean_attr_name = fn('sanitize_title', attribute_name )|e('html_attr') %}
                <div class="variation-wrapper variation-{{ clean_attr_name }} mt-3 mb-4 mr-2">
                    <div class="label mb-3 d-flex flex-column">
                        <label class="font-weight-bold" for="{{ clean_attr_name }}">{{ attr_name }}
                            {% if clean_attr_name is same as('pa_modifica-materiale') %} <span class="font-weight-bold">-</span>
                                {% set hashLink = 'pa_modifica-materiale'|hash %}
                                <button type="button" class="modal-trigger btn btn--text" data-modal-trigger-link="trigger_{{ hashLink }}" data-modal-type="modal-variation">{{ __('Scegli', THEME_CONTEXT) }}</button>
                                <div class="mdl-content-wrapper" data-modal-content-link="trigger_{{ hashLink }}">
                                    <label>{{ __('Scegli il colore', THEME_CONTEXT) }},</label>
                                    <div class="mdl-content">{{ fn('modal_variation', attribute_name, options, last_attr_name )  }}</div>
                                </div>
                            {% endif %}
                        </label>
                        {% if clean_attr_name is same as('pa_modifica-materiale') %}
                            <div class="variation-active d-flex align-items-center align-self-start">
                                <p class="display-4" data-base-label="{{ __('Nessuna Variante Selezionata', THEME_CONTEXT ) }}">{{ __('Nessuna Variante Selezionata', THEME_CONTEXT ) }}</p>
                            </div>
                        {% endif %}
                        {# GABRI AND CLIENT TOOK IT OFF THE SPECS LAST MINUTE
                           (leaving it because it might come back! :D)
                        {% set heel_guide_pdf = post.get_field('heel_guide') %}
                        {% if clean_attr_name == 'pa_tacco' and heel_guide_pdf %}
                            <a href="{{ heel_guide_pdf.url }}" target="blank">{{ info_icon }}</a>
                        {% endif %}#}
                    </div>

                    <div class="value">
                        {{ fn('dropdown_variation', attribute_name, options, last_attr_name ) }}
                        {% if clean_attr_name is same as('pa_design-tacco') %}
                            {{ fn('radio_variation', attribute_name, options, last_attr_name )  }}
                        {% endif %}
                        {% if clean_attr_name is same as('pa_scegli-il-design-tacco') %}
                            {{ fn('radio_variation', attribute_name, options, last_attr_name )  }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="variation-wrapper variation-{{ clean_attr_name }} mt-3 mb-4 mr-2">
                {% set size_guide_pdf = post.get_field('size_guide') %}
                {% if size_guide_pdf %}
                    <div class="size-guide-wrapper">
                        <a id="size-guide" href="{{ size_guide_pdf.url }}" target="_blank" class="btn btn--text btn__underlined">{{ __( 'Guida alle taglie', THEME_CONTEXT ) }}</a>
                    </div>
                {% endif %}
            </div>
            {% if post.gift_card %}
                <div class="variation-wrapper variation-valore mt-3 mb-4 mr-2 gift">
                    <div class="label mb-3 d-flex flex-column">
                        <label for="gift_name" class="font-weight-bold">{{ __('Nome destinatario', 'dancenaturals') }}
                        </label>
                    </div>
                    <div class="value">
                        <input type="text" id="gift_name" required name="gift_name" value="">
                    </div>
                </div>
                <div class="variation-wrapper variation-valore mt-3 mb-4 mr-2 gift">
                    <div class="label mb-3 d-flex flex-column">
                        <label for="gift_email" class="font-weight-bold">{{ __('Indirizzo E-mail destinatario', 'dancenaturals') }}
                        </label>
                    </div>
                    <div class="value">
                        <input type="email" required id="gift_email" name="gift_email" value="">
                    </div>
                </div>
                <div class="variation-wrapper variation-valore mt-3 mb-4 mr-2 gift">
                    <div class="label mb-3 d-flex flex-column">
                        <label for="gift_message" class="font-weight-bold">{{ __('Messaggio', 'dancenaturals') }}
                        </label>
                    </div>
                    <div class="value">
                        <textarea type="text" id="gift_message" name="gift_message"></textarea>
                    </div>
                </div>

            {% endif %}


            <div class="variation-wrapper w-100 mt-3 mb-4 mr-2">

                {% set hashLink =  'prod-notes'|hash %}
                <a id="prod-notes" href="#add-product-note" class="modal-trigger btn btn--text" data-modal-trigger-link="trigger_{{ hashLink }}" data-modal-type="modal-note">{{ __( 'Aggiungi una nota al prodotto +', THEME_CONTEXT ) }}</a>
                <div class="mdl-content-wrapper" data-modal-content-link="trigger_{{ hashLink }}">
                    <label>{{ __('Aggiungi una nota', THEME_CONTEXT) }}</label>
                    <div class="mdl-content">
                        <textarea name="product_note" rows="4" placeholder="{{ __('La tua nota sul prodotto...', 'dancenaturals') }}" value="{{ note_value }}"></textarea>
                    </div>
                </div>

            </div>
            <div class="variation-wrapper w-100 mt-3 mb-4 mr-2">
                <a href="#prod-info" class="btn btn--text roll">
                    <img class="d-inline-block p-2" src="{{ asset_path('vectors/info.svg') }}">
                    <strong>{{ __( 'Importanti informazioni sul prodotto', THEME_CONTEXT ) }}</strong>
                </a>
            </div>
        </div>

        {% if post.accessory %}
            {% if not post.gift_card %}
                {{ fn('get_quantity_input', 1 , post.max_quantity ) }}
            {% endif %}
        {% endif %}

        <div class="single_variation_wrap">
            {#/**
             * Hook: woocommerce_before_single_variation.
             */#}
            {% do action( 'woocommerce_before_single_variation' ) %}

            {#/**
             * Hook: woocommerce_single_variation. Used to output the cart button and placeholder for variation data.
             *
             * @since 2.4.0
             * @hooked woocommerce_single_variation - 10 Empty div for variation data.
             * @hooked woocommerce_single_variation_add_to_cart_button - 20 Qty and cart button.
             */#}
            {% do action( 'woocommerce_single_variation' ) %}

            {#/**
            * Hook: woocommerce_after_single_variation.
            */#}
            {% do action( 'woocommerce_after_single_variation' ) %}
        </div>
    {% endif %}

    {% do action( 'woocommerce_after_variations_form' )  %}
</form>

{% do action( 'woocommerce_after_add_to_cart_form' )  %}

