<div class="woocommerce-variation-add-to-cart variations_button">
    {% do action( 'woocommerce_before_add_to_cart_button' ) %}
    {% do action( 'woocommerce_before_add_to_cart_quantity' ) %}

    {% do action( 'woocommerce_after_add_to_cart_quantity' ) %}
    <button type="submit" class="single_add_to_cart_button btn btn--full alt">{{ button_text }}</button>
    {% do action( 'woocommerce_after_add_to_cart_button' ) %}

    <input type="hidden" name="add-to-cart" value="{{ absint( post.id ) }}"/>
    <input type="hidden" name="product_id" value="{{ absint( post.id )}}"/>
    <input type="hidden" name="variation_id" class="variation_id" value="0"/>
    <input type="hidden" name="old_key" value="{{ old_key }}"/>
</div>
