.woo-messages-wrapper,
.woocommerce-form-coupon-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
    height: auto;
    background-color: $primary;

    .woocommerce-message {
        color: #fff;
    }
}
