.form-address-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow-y: scroll;

    @include respond-to('padding-top', $navbar-height);
}

.form-address-inner {
    min-height: 100%;
}

.form-address-close {
    position: absolute;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    opacity: .5;
    transition: opacity .25s;

    @include respond-to('top', $navbar-height);
    @include respond-to('right', $navbar-height);

    @include hover-focus-active {
        opacity: .8;
    }

    svg {
        width: 100%;
        height: auto;
    }
}

.half-width-input {
    width: 47%;
    overflow: visible;
    clear: none;
}

.form-address {
    margin-left: auto;
    margin-right: auto;

    @include all-titles {
        font-size: 4vw;
    }

    .form-row-wide {
        &[id*="postcode_field"] {
            float: left;

            @extend .half-width-input;
        }

        &[id*="city"] {
            float: right;

            @extend .half-width-input;
        }
    }
}
