.blockUI.blockOverlay,
.loader {
    &::before {
        background-image: url("../vectors/tail-spin-black.svg") !important;
    }
}

.invalid-variations {
    color: $white;
    padding: 1rem;
    margin: 1rem 0;
    background-color: $errorRed;
    font-size: 1.2rem;
}
