.user-login-wrapper {
    .woocommerce {
        margin: 0 -15px;
        flex-grow: 1;

        @extend .d-flex !optional;
    }
}

.login__toggle,
.register__toggle {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 2;
}

.login__col {
    @include media-breakpoint-down(sm) {
        position: relative;
        z-index: 1;
    }
}

.register__col {
    @include media-breakpoint-down(sm) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.register__content,
.login__content {
    background-color: #fff;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
        align-content: center;
    }

    .login__toggle,
    .register__toggle {
        @include media-breakpoint-down(sm) {
            position: relative;
            top: auto;
            transform: translate(0, 0);
        }
    }

    .login__toggle_wrapper,
    .register__toggle-wrapper {
        @include media-breakpoint-down(sm) {
            padding: 1.5rem;
            border: 2px inset black;
            margin: 3rem;
            flex: auto;
        }
    }
}
