.woocommerce-account {
    form {
        margin-left: auto;
        margin-right: auto;
    }

    .woocommerce-MyAccount-content {
        float: none;
        width: 100%;
    }

    .woocommerce-MyAccount-navigation {
        float: none;
        width: 100%;
    }
}

/**
 * ACCORDION STYLES
 */

.accordion__element {
    [data-toggle="collapse"],
    #logout-btn {
        font-size: 4.5vw;
        color: $primary;
        opacity: .3;
        transition: opacity .15s;

        @include hover-focus-active {
            color: $primary;
            opacity: 1;
            text-decoration: none;
        }

        @include media-breakpoint-down(xs) {
            font-size: 8vw;
        }
    }

    [data-toggle="collapse"][aria-expanded="true"] {
        opacity: 1;
    }
}

.accordion--open {
    [data-toggle="collapse"],
    #logout-btn {
        opacity: .08;
    }
}

.woocommerce-Address {
    overflow: hidden;

    .modify-link {
        float: right;
    }
}

.woocommerce {
    table.shop_table {
        @extend .border-0;
        @extend .floating-table;

        strong {
            font-weight: 400;
        }

        td,
        th,
        tr {
            @extend .border-0;
        }

        th {
            @extend .pl-5;
            @extend .pr-5;
        }

        a {
            @extend .ls-1 !optional;
            @extend .text-uppercase !optional;
        }

        tbody {
            @extend .display-4;

            td {
                @extend .pl-5;
                @extend .pr-5;
            }

            tr {
                &:first-of-type {
                    td {
                        @extend .pt-5;
                    }
                }

                &:last-of-type {
                    td {
                        @extend .pb-5;
                    }
                }
            }

            ul {
                padding-left: 0;
            }
        }

        thead {
            @extend .floating-table__header;

            th {
                @extend .pl-5;
                @extend .pt-4;
                @extend .pr-5;
                @extend .pb-4;
            }
        }

        tfoot {
            @extend .display-4;

            td {
                @extend .pl-5;
                @extend .pr-5;

                font-weight: 400;
            }

            tr:last-of-type {
                @extend .ls-1 !optional;
                @extend .text-uppercase !optional;

                font-size: 1.6rem;

                strong,
                td {
                    font-weight: 700;
                }

                th,
                td {
                    @extend .p-5;

                    padding-top: 5rem !important;
                }
            }
        }
    }

    .woocommerce-customer-details {
        address {
            @extend .border-0;

            line-height: 1.6;
        }

        .woocommerce-customer-details--phone,
        .woocommerce-customer-details--email {
            padding-left: 0;

            &::before {
                display: none;
            }
        }
    }
}

.woocommerce-customer-details {
    .floating-table {
        .btn {
            float: right;
            width: 2rem;
            height: 2rem;
            padding: .2rem;
            border: 0;
            opacity: .3;
            transition: opacity .15s;

            svg {
                width: 100%;
                height: auto;
            }

            @include hover-focus-active {
                opacity: .6;
            }
        }

        strong {
            font-weight: 700;
        }
    }

    .floating-table__header {
        overflow: hidden;

        @include all-titles {
            float: left;
        }
    }
}

