[role="alert"] {
    display: flex;
    align-items: center;
    padding: 1rem;
    list-style: none;
    background-color: $white;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
}

.woocommerce-error {
    background-color: $white;
    border-color: $errorRed;

    &::before {
        background-image: url("../vectors/warning.svg");
    }
}

.woocommerce-message {
    border-color: $successGreen;

    &::before {
        color: $successGreen;
    }
}

.woocommerce-error,
.woocommerce-info {
    &::before {
        content: "";
        display: inline-block;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        border-radius: 50%;
        font-size: 1.6rem;
        line-height: 2rem;
        text-align: center;
        background-size: 50%;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.woocommerce-info,
.woocommerce-message {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 3rem;
    border-width: 2px;
    border-style: solid;
    border-color: $primary;
    background-color: $white;

    &::before {
        background-image: url("../vectors/info.svg");
        background-size: 70%;
    }

    .showcoupon,
    .showlogin {
        @extend .mt-xs-5;
        @extend .mt-md-0;
        @extend .ls-1;
        @extend .text-uppercase;

        margin-left: auto;
        font-size: 70%;

        @include media-breakpoint-down(xs) {
            margin-top: 0 !important;
        }
    }
}

.woocommerce-password-strength {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    letter-spacing: 0;
    color: $white;
    padding: .5rem 1rem;
    border-radius: 3px;
    font-weight: 700;

    &.bad,
    &.short {
        background-color: $errorRed;
    }

    &.good {
        background-color: $mediumYellow;
    }

    &.strong {
        background-color: $successGreen;
    }
}

.woocommerce-password-hint {
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 1.6;
    opacity: .75;
}
