<button id="btn--cart"
        class="btn btn--menu btn--cart d-flex align-items-center justify-content-center text-uppercase {% if cart_items_count %}cart-has-item{% endif %}"
        data-link-shop="{{ configurator_link }}" data-link-cart="{{ cart_link }}">
    <span class="shop-label ls-2">
        <span class="cart-icon d-inline-block">{{ cart_icon }}</span>
    </span>

    <div class="btn--cart__icon pr-4">
        <span class="badge badge-dark badge--menu">{{ cart_items_count }}</span>
        <span class="cart-icon d-inline-block">{{ cart_icon }}</span>
    </div>
</button>
