<div class="shipping d-flex flex-row align-content-stretch t-row pb-0">
    <p class="m-0">{{ package_name|e('wp_kses_post') }}</p>
    <div data-title="{{ package_name|e('html_attr') }}">
        {% if 1 < available_methods|length %}
            <ul id="shipping_method" class="list-unstyled">
                {% for method in available_methods %}
                    <li>
                        {{ '<input type="radio" name="shipping_method[%1$d]" data-index="%1$d" id="shipping_method_%1$d_%2$s" value="%3$s" class="shipping_method" %4$s /><label for="shipping_method_%1$d_%2$s">%5$s</label>'|format(index, method.id|sanitize,  method.id|e('html_attr'), fn('checked', method.id, chosen_method, 0 ), fn('wc_cart_totals_shipping_method_label', method )) }}
                        {% do action( 'woocommerce_after_shipping_rate', method, index ) %}
                    </li>
                {% endfor %}
            </ul>
        {% elseif 1 is same as(available_methods|length) %}
            {% set method = fn('current', available_methods ) %}
            {{ '%3$s <input type="hidden" name="shipping_method[%1$d]" data-index="%1$d" id="shipping_method_%1$d" value="%2$s" class="shipping_method" />'|format( index, method.id|e('html_attr'), fn('wc_cart_totals_shipping_method_label', method ) ) }}
            {% do action( 'woocommerce_after_shipping_rate', method, index )%}
        {% elseif customer_has_calculated_shipping %}
            {% if is_cart %}
                {{ no_shipping_available }}
            {% else %}
                {{ no_shipping_available_no_cart }}
            {% endif %}
        {% elseif not is_cart %}
            {{ __( 'Enter your full address to see shipping costs.', 'woocommerce' )|wpautop }}
        {% endif %}

        {% if show_package_details %}
            {{ '<p class="woocommerce-shipping-contents"><small>' ~  package_details|e('esc_html') ~ '</small></p>' }}
        {% endif %}
    </div>
</div>

{% if show_shipping_calculator %}
    <div class="shipping-calculator-wrapper">
        {{ fn('woocommerce_shipping_calculator') }}
    </div>
{% endif %}