<div class="cart_totals {{ calculated_shipping }}">

    {% do action( 'woocommerce_before_cart_totals' ) %}

    <h2 class="display-4 ls-1 text-uppercase text-mb-right">{{ __( 'Cart totals', 'woocommerce' ) }}</h2>

    <div class="shop_table shop_table_responsive">

        <div class="cart-subtotal d-flex flex-row align-content-stretch t-row">
            <p class="m-0">{{ __( 'Subtotal', 'woocommerce' )  }}</p>
            <div data-title="{{ __( 'Subtotal', 'woocommerce' )|e('html_attr') }}">{{ cart_totals_subtotal_html }}</div>
        </div>

        {% for code, coupon in coupons %}
            <div class="cart-discount coupon-{{ fn( 'sanitize_title',  code )|e('html_attr') }} d-flex flex-row align-content-stretch t-row">
                <p class="m-0">{{ fn('wc_cart_totals_coupon_label', coupon ) }}</p>
                <div data-title="{{ fn('wc_cart_totals_coupon_label', coupon, false)|e('html_attr') }} ">{{fn( 'wc_cart_totals_coupon_html', coupon ) }}</div>
            </div>
        {% endfor %}

        {% do action( 'woocommerce_cart_totals_before_shipping' ) %}
        {% if (needs_shipping and show_shipping) %}
            {{ fn('wc_cart_totals_shipping_html') }}
        {% elseif ( needs_shipping and ('yes' is same as(fn('get_option', 'woocommerce_enable_shipping_calc')))) %}
            <div class="shipping">
                <p class="m-0">{{  __( 'Shipping', 'woocommerce') }}</p>
                <div data-title="{{ __( 'Shipping', 'woocommerce' ) }}">{{ fn('woocommerce_shipping_calculator') }}</div>
            </div>

        {% endif %}
        {% do action( 'woocommerce_cart_totals_after_shipping' ) %}

        {% for fee in fees %}
            <div class="fee d-flex flex-row align-content-stretch t-row">
                <p class="m-0">{{ fee.name|e('esc_html') }}</p>
                <div data-title="{{ fee.name|e('html_attr') }}">{{ fn('wc_cart_totals_fee_html', fee ) }}</div>
            </div>
        {% endfor %}

        {% if (tax_enabled and prices_show_taxes) %}
            {% if ( 'itemized' is same as ( fn('get_option', 'woocommerce_tax_total_display' ))) %}
                {% for code, tax in tax_totals %}
                    <div class="tax-rate tax-rate-{{ fn('sanitize_title', code) }} d-flex flex-row align-content-stretch t-row">
                        <p class="m-0">{{ tax.label|e('esc_html') }}{{ estimated_text }}</p>
                        <div data-title="{{ tax.label|e('html_attr') }}">{{ tax.formatted_amount|e('wp_kses_post') }}</div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="tax-total d-flex flex-row align-content-stretch t-row">
                    <p class="m-0">{{ tax_or_vat|e('esc_html') }}{{ estimated_text }}</p>
                    <div data-title="{{ tax_or_vat|e('html_attr') }}">{{ fn('wc_cart_totals_taxes_total_html') }}</div>
                </div>
            {% endif %}
        {% endif %}

        {% do action( 'woocommerce_cart_totals_before_order_total' ) %}

        <div class="order-total d-flex flex-row align-content-stretch t-row mb-3">
            <strong>{{ __( 'Total', 'woocommerce' ) }}</strong>
            <div data-title="{{ __( 'Total', 'woocommerce' )|e('html_attr') }}">{{ fn('wc_cart_totals_order_total_html')}} </div>
        </div>

        {% do action( 'woocommerce_cart_totals_after_order_total' ) %}

    </div>

    <div class="wc-proceed-to-checkout">
        {% do action( 'woocommerce_proceed_to_checkout' ) %}
    </div>

    <p style="margin-top: 25px;font-size: 13px;font-style: italic;font-weight: bold;">
        <span style="text-transform: uppercase;color: #ba1437;font-style: initial;">{{  __( 'Warning', 'woocommerce' ) }}</span><br>
        {{  __( 'We would like to inform you that shoes are to be produced on request. Production time takes from 1 to 3 weeks about, after the reception of your order/payment, except for unforeseen circumstances beyond our control (example: festive holidays, not available material, etc.).', 'woocommerce' ) }}
    </p>
{# 
    <p style="margin-top: 25px; font-size: 13px; font-style: italic; font-weight: bold; color: #ba1437;">
    {{  __( 'The production will be closed for holidays from 21st December to 6th
January. The processing, for orders received during that period, will start
on 7th January 2020 after an email confirmation.' ) }}</p>
 #}
    {% do action( 'woocommerce_after_cart_totals' ) %}
</div>

