{#
* @hooked wc_empty_cart_message - 10
#}
{% do action( 'woocommerce_cart_is_empty' ) %}
<div class="svg-wrapper cart-empty-svg">
    {{ cart_empty }}
</div>
{% if ( fn('wc_get_page_id', 'shop' ) > 0 ) %}
    <p class="return-to-shop text-center">
        <a class="btn btn--full" href="{{ fn('wc_get_page_permalink', 'shop')|apply_filters( 'woocommerce_return_to_shop_redirect' )|e('esc_url') }}">
            {{ __( 'Return to shop', 'woocommerce' ) }}
        </a>
    </p>
{% endif %}