{% do action( 'woocommerce_before_mini_cart' ) %}
{% if not cart.is_empty() %}
    <div class="widget_shopping_cart_content quick-cart-dropdown p-5">
        <span class="d-block font-weight-bold text-uppercase ls-1 mb-4">{{ __('Il tuo carrello', THEME_CONTEXT )}}</span>

        <ul class="list-unstyled d-flex w-100 quick-cart-dropdown__list mb-4 woocommerce-mini-cart cart_list product_list_widget {{ list_class|e('html_attr') }}">
            {% for cart_item_key,cart_item in cart.get_cart() %}
                {% set _product     = cart_item['data']|apply_filters( 'woocommerce_cart_item_product' , cart_item, cart_item_key ) %}
                {% set product_id   = cart_item['product_id']|apply_filters( 'woocommerce_cart_item_product_id', cart_item, cart_item_key ) %}
                {% if _product and _product.exists() and (cart_item['quantity'] > 0) and true|apply_filters( 'woocommerce_widget_cart_item_visible', cart_item, cart_item_key ) %}
                    {% set product_name      = _product.get_name()|apply_filters( 'woocommerce_cart_item_name', cart_item, cart_item_key ) %}
                    {% set thumbnail         = _product.get_image()|apply_filters( 'woocommerce_cart_item_thumbnail', cart_item, cart_item_key ) %}
                    {% set product_price     = cart.get_product_price( _product )|apply_filters( 'woocommerce_cart_item_price', cart_item, cart_item_key ) %}
                    {% set product_permalink = (_product.is_visible() ? _product.get_permalink( cart_item ) : '')|apply_filters( 'woocommerce_cart_item_permalink', cart_item, cart_item_key ) %}
                    <li class="d-flex align-items-center quick-cart-dropdown__list__el pt-3 pb-3">
                        <div class="quick-cart-dropdown__product-thumbnail position-relative img-wrapper">
                            {{ fn('get_prod_img', cart_item, {
                                lazy: 0,
                            }) }}
                        </div>

                        <div class="quick-cart-dropdown__product-info pl-4">
                            <strong class="quick-cart-dropdown__product-name d-block display-4 font-weight-bold text-uppercase">{{ product_name }}</strong>
                            <div class="minicart-variations">{{ fn('custom_get_formatted_cart_item_data', cart_item, 0 ) }}</div>
                            <span class="quick-cart-dropdown__product-price d-block display-4 mt-2">{{ product_price }}</span>
                        </div>

                        <button class="btn btn--resetter position-relative ml-auto quick-cart-dropdown__remove" data-product-id="{{ product_id }}" data-product-sku="{{ _product.get_sku() }}" data-cart-item-key="{{ cart_item_key }}" title="Rimuovi articolo">{{ close_icon }}</button>
                    </li>
                {% endif %}
            {% endfor %}
            {% do action( 'woocommerce_mini_cart_contents' ) %}
        </ul>

        {% do action( 'woocommerce_widget_shopping_cart_before_buttons' ) %}

        <div class="woocommerce-mini-cart__total total quick-cart-dropdown__total mb-5 display-4 text-right">
            {{ __( 'Subtotal', 'woocommerce' ) }}:&nbsp;<span id="quick-cart-sum" class="font-weight-bold">{{ cart.get_cart_subtotal() }}</span>
        </div>
        <p class="woocommerce-mini-cart__buttons buttons">
            {% do action( 'woocommerce_widget_shopping_cart_buttons' ) %}
        </p>

        {#<a class="btn btn__outlined w-100" href="{{ cart_link }}">Checkout</a>#}
    </div>
{% endif %}

{% do action( 'woocommerce_after_mini_cart' ) %}
