{% do action( 'woocommerce_before_shipping_calculator' ) %}
<div class="t-row pt-2 pb-0">
    <form class="woocommerce-shipping-calculator" action="{{ cart_link|e('esc_url') }}" method="post">

        <small class="d-block mb-4"><a href="#" class="shipping-calculator-button btn__dropdown">{{ __( 'Calculate shipping', 'woocommerce' )|e('esc_html') }}</a></small>

        <section class="shipping-calculator-form" style="display:none;">

            <p class="form-row form-row-wide" id="calc_shipping_country_field">
                <select name="calc_shipping_country" id="calc_shipping_country" class="country_to_state country_select" rel="calc_shipping_state">
                    <option value="">{{ __( 'Select a country&hellip;', 'woocommerce' )|e('esc_html') }}</option>
                    {% for key, value in countries.get_shipping_countries %}
                        <option value="{{ key|e('html_attr') }}" {{ fn('selected', customer.get_shipping_country, key|e('html_attr'), 0 ) }}>{{ value|e('esc_html') }}</option>
                    {% endfor %}
                </select>
            </p>

            {% if 'woocommerce_shipping_calculator_enable_state'|apply_filters( true ) %}
                <p class="form-row form-row-wide" id="calc_shipping_state_field">
                    {% set current_cc = customer.get_shipping_country %}
                    {% set current_r  = customer.get_shipping_state %}
                    {% set states     = countries.get_states( current_cc ) %}

                    {% if states is iterable and states is empty %}
                        <input type="hidden" name="calc_shipping_state" id="calc_shipping_state" placeholder=" {{ __( 'State / County', 'woocommerce' )|e('html_attr') }}" />
                    {% elseif states is iterable %}
                        <span class="w-100">
						<select name="calc_shipping_state" class="state_select" id="calc_shipping_state" placeholder="{{ __( 'State / County', 'woocommerce' )|e('html_attr') }}">
							<option value="">{{ __( 'Select a state&hellip;', 'woocommerce' ) }}</option>
                            {% for ckey, cvalue in states %}
                                <option value="{{ ckey|e('html_attr') }}" {{ fn('selected', current_r, ckey, 0 ) }}>{{ cvalue|e('esc_html') }}</option>';
                            {% endfor %}
						</select>
					</span>
                    {% else %}
                        <input type="text" class="input-text" value="{{ current_r|e('html_attr') }} " placeholder="{{ __( 'State / County', 'woocommerce' )|e('html_attr') }}" name="calc_shipping_state" id="calc_shipping_state" />
                    {% endif %}
                </p>
            {% endif %}

            {% if 'woocommerce_shipping_calculator_enable_city'|apply_filters( true ) %}
                <div class="input-type-text">
                    <p class="form-row form-row-wide woocommerce-input-wrapper" id="calc_shipping_city_field">
                        <input type="text" class="input-text" value="{{ customer.get_shipping_city|e('html_attr') }}" placeholder=" {{ __( 'City', 'woocommerce' )|e('html_attr')}}" name="calc_shipping_city" id="calc_shipping_city" />
                    </p>
                </div>
            {% endif %}

            {% if 'woocommerce_shipping_calculator_enable_postcode'|apply_filters( true ) %}
                <div class="input-type-text">
                    <p class="form-row form-row-wide woocommerce-input-wrapper" id="calc_shipping_postcode_field">
                        <input type="text" class="input-text" value="{{ customer.get_shipping_postcode|e('html_attr') }}" placeholder="{{ __( 'Postcode / ZIP', 'woocommerce' )|e('html_attr') }}" name="calc_shipping_postcode" id="calc_shipping_postcode" />
                    </p>
                </div>

            {% endif %}

            <p><button type="submit" name="calc_shipping" value="1" class="btn btn--full mt-4">{{ __( 'Update totals', 'woocommerce' )|e('esc_html')}}</button></p>

            {{ fn('wp_nonce_field', 'woocommerce-shipping-calculator', 'woocommerce-shipping-calculator-nonce' ) }}
        </section>
    </form>
</div>
{% do action( 'woocommerce_after_shipping_calculator' ) %}
