<div class="product_meta">

    {% do action( 'woocommerce_product_meta_start' ) %}

    {% if sku_enabled %}

        <span class="sku_wrapper">{{ __( 'SKU:', 'woocommerce' )|e('esc_html') }} <span class="sku">{{ sku }}</span></span>

    {% endif %}

    <span class="posted_in">{{ n_category_text }} {{ category_list }}</span>

    <span class="tagged_as">{{ n_tag_text }} {{ tag_list }}</span>

    {% do action( 'woocommerce_product_meta_end' ) %}

</div>
