<div class="{{ wrapper_classes }}" data-columns="{{ wrapper_columns }}" style="opacity: 0; transition: opacity .25s ease-in-out;">
    <figure class="woocommerce-product-gallery__wrapper row">
        {{ main_view }}
        {{ extra_views }}
        {#{% do action('woocommerce_product_thumbnails') %}#}
    </figure>
</div>