<h1 class="product_title entry-title d-block font-primary font-italic display-2 mb-0">{{ post.title }}</h1>
{% if post.content %}<div class="woocommerce-product-details__short-description upperlined upperlined--thin pb-3 display-4 lh-3">{{ post.content }}</div>{% endif %}
