{% extends "base.twig" %}

{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}
    {% if post.page_welcome %}
        {% include ["partial/page-welcome.twig"] %}
    {% endif %}

    <section class="section spacer spacer--top-0 spacer--bottom-1 pl-3 pr-3 mb-xs-5 mb-sm-0 pb-xs-5">
        <div class="container-fluid">
            <div class="row alternated-block alternated-block--primary">
                <div class="col-xs-12 col-lg-9">
                    <div class="img-wrapper aspect-3-2">
                        {{ get_img({
                            id: post.born_to_dance_img
                        }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-10 offset-md-1 col-lg-6 offset-lg-6 d-flex flex-row text-wrapper h-100 align-items-end mt-lg-5">
                    <div class="d-flex justify-content-center align-items-center h-75-min bg-primary bg-primary--faded">
                        <div class="p-5 m-5">
                            <h2 class="lead font-primary font-italic display-3 ls-2 text-center text-lg-left pb-5 text-white">{{ post.born_to_dance_t }}</h2>
                            <p class="display-4 text-white text-center text-lg-left lh-4 pl-5">{{ post.born_to_dance_p }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="o-hidden spacer spacer--top-1 spacer--bottom-2 pl-3 pr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 position-relative">
                    <div
                            class="display-1 text-primary font-weight-bold font-italic text-uppercase ls-4 text-nowrap mb-5">
                        <h5 class="display-1 text-uppercase font-weight-bold font-italic ls-4 text-nowrap text-scrolling position-relative mt-5" data-text-starting-point="10%">
                            {{ post.second_skin_t }}</h5>
                    </div>
                </div>

                <div class="col-xs-10 offset-xs-1 columned mb-xs-5 pb-xs-5 mb-sm-0 pb-sm-0">
                    <p class="display-4 lh-4">{{ post.second_skin_p }}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section spacer spacer--bottom-2 pr-xs-0 pl-3 pl-xs-0 pr-3">
        <div class="container-fluid">
            <div class="row alternated-block no-gutters">
                <div class="col-xs-12 col-md-8 offset-md-4">
                    <div class="img-wrapper aspect-3-2">
                        {{ get_img({
                            id:  post.birth_img
                        }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 d-flex flex-row text-wrapper h-100">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="mb-xs-5 mb-sm-0 mt-sm-5 pb-xs-5 p-sm-5">
                            <h2 class="lead font-primary font-italic display-3 ls-2 text-left pb-5 pt-5">{{ post.birth_t }}</h2>

                            <p class="display-4 lh-4">{{ post.birth_p }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 offset-md-4 d-none d-md-flex flex-row text-wrapper h-100 shadow-text-content">
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <div class="mb-xs-5 mb-sm-0 mt-sm-5 pb-xs-5 p-sm-5">
                            <div class="lead font-primary font-italic display-3 ls-2 text-left text-sm-left pb-5 pt-5"
                                 data-text-inside-image="{{ post.birth_t }}"></div>

                            <div class="display-4 lh-4"
                                 data-text-inside-image="{{ post.birth_p }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section spacer spacer--bottom-2 pl-3 pr-3">
        <div class="container-fluid ">
            <div class="row alternated-block alternated-block--right no-gutters">
                <div class="col-xs-12 col-md-8">
                    <div class="img-wrapper aspect-3-2"
                         data-text-inside-image="La pelle, il taglio, l’incurvatura del piede: Dance Naturals cura i propri prodotti sotto ogni aspetto per fornire ai propri clienti un oggetto espressione di una vera e propria arte. Tutti i processi vengono controllati con cura da maestri calzaturieri che vantano una lunga esperienza nel settore e una sconfinata passione per ogni modello realizzato.">
                        {{ get_img({
                            id: post.shoes_art_img
                        }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 offset-md-6 d-flex flex-row h-100 text-wrapper">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="mb-xs-5 mb-sm-0 mt-sm-5 pb-xs-5 p-sm-5">
                            <h2 class="lead font-primary font-italic display-3 ls-2 text-left text-sm-left pb-5 pt-5">{{ post.shoes_art_t }}</h2>

                            <p class="display-4 lh-4">{{ post.shoes_art_p }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 offset-md-2 d-none d-md-flex flex-row h-100 text-wrapper shadow-text-content">
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <div class="mb-xs-5 mb-sm-0 mt-sm-5 pb-xs-5 p-sm-5">
                            <div class="lead font-primary font-italic display-3 ls-2 text-left pb-5 pt-5"
                                 data-text-inside-image="{{ post.shoes_art_t }}"></div>

                            <div class="display-4 lh-4"
                                 data-text-inside-image="{{ post.shoes_art_p }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'partial/newsletter-section.twig' %}
    {% include 'partial/after-content.twig' with { 'smooth_scrollbar' : true } %}
{% endblock %}
