{% extends 'base.twig' %}

{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}

    <section id="hero" class="section hero d-flex">
        <div class="d-flex align-items-center w-100">
            <div class="jumbotron jumbotron-fluid jumbotron--transparent text-center w-100 mb-0">
                <div class="align-self-center">
                    <div class="container-fluid">
                        <div id="hero-title" class="row">
                            <div
                                class="col col-xs-12 col-sm-10  offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                                <span class="pre-title mb-3 mt-5 text-center">{{ __('dance naturals shoes', THEME_CONTEXT ) }}</span>

                                <h1 class="title text-uppercase text-center">
                                    <span
                                        class="d-block font-primary font-italic display-2 ls-2 lh-1">{{ post.title }}</span>
                                </h1>
                            </div>

                            <div
                                class="col col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

                                <p class="lead display-4 pr-5 pl-5 d-display-4 lh-3 text-center upperlined upperlined--thin">{{ post.content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% if posts %}
        <section class="section d-flex mt-5 mb-5">
            <div class="container-fluid product-category-tabs">
                <div class="row row-eq-height">
                    {% for testimonial in posts %}
                        <div
                            class="col col-xs-12 col-md-10 offset-md-1 d-flex mb-5 single-testimonial justify-content-center text-xs-center text-lg-left">
                            <div class="row w-100 align-items-center">
                                <div class="col-xs-12 col-lg-6">
                                    <div class="img-wrapper aspect-square single-testimonial__image">
                                        {{ get_img({ id: testimonial.id }) }}
                                    </div>
                                </div>

                                <div class="col-xs-12 col-lg-6">
                                    <div class="p-5">
                                    <h2 class="display-2 font-weight-bold single-testimonial__title mt-xs-5 mt-lg-0 mb-4 single-testimonial__title">{{ testimonial.title }}</h2>
                                    {% if testimonial.get_field('titles_list') %}
                                        <div class="single-testimonial__titles-list">
                                            {% for title in testimonial.get_field('titles_list') %}
                                                <p class="d-block mt-5"><strong
                                                        class="d-block display-3 font-weight-bold mb-3 single-testimonial__qualification">{{ title.qualification }}</strong>
                                                    <span class="d-block">{{ title.year }}</span></p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    <div class="single-testimonial__quote">
                                        {{ testimonial.content }}
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {% include 'partial/newsletter-section.twig' %}
    {% include 'partial/after-content.twig' with {'smoot_scrollbar' : true } %}

{% endblock %}
