{% extends "base.twig" %}
{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}
    {% if post.get_field('hero_slider') %}
        <section id="hero" class="section hero d-flex v-100 p-nav o-hidden">
            <div class="slideshow">
                {% for slide in post.get_field('hero_slider') %}
                    <div class="slide {% if loop.index is same as(1) %}slide--current{% endif %}">
                        <div class="slide__wrap d-flex flex-wrap align-items-center">
                            <div class="slide__img">
                                <div class="img-wrapper overlay-100 p-nav">
                                    {{ get_img({
                                        id: slide.slide_img,
                                        sizes_attr: '(max-width: 767px) 100vh, 100vw',
                                        extra_classes: 'cover',
                                        lazy: false
                                    }) }}
                                </div>
                            </div>

                            <div class="slide__title-wrap jumbotron jumbotron-fluid jumbotron--transparent text-center w-100 p-5">
                                {% if loop.index is same as(1) %}{{ '<h1 class="text-center text-white">' }}{% else %}{{ '<h2 class="text-center text-white">' }}{% endif %}
                                <span class="d-block display-xs-3 display-1 ls-3 font-primary font-italic text-uppercase">{{ slide.slide_t }}</span>
                                {% if loop.index is same as(1) %}{{ '</h1>' }}{% else %}{{ '</h2>' }}{% endif %}

                                <p class="position-relative font-primary display-3 ls-2 text-center pb-5 text-white upperlined upperlined--thick font-italic">{{ slide.slide_p }}</p>

                                <div class="btn-group text-center mt-5 " role="group"
                                     aria-label="first choices">
                                    <a class="btn btn--text text-uppercase ls-1 text-white font-weight-bold"
                                       href="{{ man_shoes_link }}"
                                       role="button">{{ __('Scarpe uomo', PARENT_THEME_CONTEXT ) }}</a>

                                    <span class="btn-group__separator text-white"></span>

                                    <a class="btn btn--text text-uppercase ls-1 text-white font-weight-bold"
                                       href="{{ woman_shoes_link }}"
                                       role="button">{{ __('Scarpe donna', PARENT_THEME_CONTEXT ) }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {% if woman_shoes %}
        <section class="section d-flex pt-5">
            <div class="container-fluid">
                <div class="row row-eq-height" data-pinned-bounds data-threed-context>
                    <div class="col col-xs-12 col-md-4 col-xl-5 d-flex mt-xs-5 mt-md-0 col-fixed" data-pinned-el data-threed-platform data-threed-strength="3">
                        <div class="img-wrapper overlay-100 overlayed-after">
                            {{ get_img({
                                id: 1222,
                                sizes_attr: '100vw',
                            }) }}
                        </div>

                        <div class="d-flex align-items-center justify-content-center w-100 text-xs-center" data-sim-link>
                            <div class="align-items-center" data-threed-layer data-threed-strength="7">
                                <a class="btn" href="{{ woman_shoes_link }}">
                                    <h2 class="title text-capitalize text-white line-rotated line-rotated--top line-rotated--white text-center text-lg-left">
                                        <span class="d-block font-primary font-italic display-1 ls-3"> {{ __('Lei', PARENT_THEME_CONTEXT) }}</span>
                                    </h2>
                                </a>

                                <p class="position-relative font-primary font-italic display-3 lh-2 ls-2 text-left pb-5 text-white upperlined upperlined--thick text-center text-sm-left">{{ __('Volta di', THEME_CONTEXT) }}
                                    &nbsp;<span class="d-sm-block">{{ __('grazia', THEME_CONTEXT) }}</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="col col-xs-12 col-md-8 col-xl-7 pr-5 pl-5 shoes-cards-grid">
                        <div class="row">
                            {% for prod in woman_shoes %}
                                {% set last_three = loop.index > 9 - 3 %}
                                {% if loop.index0 == 4 %}
                                    <div class="col col-xs-12 col-lg-4 d-flex mb-5 mt-xs-3 mt-sm-0 pr-xs-3 pl-xs-3 pl-md-4 pr-md-4">
                                        <div class="card card--outline w-100 p-xs-5 p-lg-0">
                                            <div
                                                    class="card-body d-flex flex-column col col-sm-10 align-self-center justify-content-center p-5 p-lg-2 p-xl-4">
                                                <h4 class="display-3 font-weight-bold text-uppercase lh-2 ls-2 text-center text-lg-left title">
                                                    <a class="text-primary">{{ __('configura la tua scarpa', PARENT_THEME_CONTEXT ) }}</a>
                                                </h4>

                                                <div class="row justify-content-md-center">
                                                    <a class="col align-self-end display-4 mt-5 text-primary text-uppercase ls-2 text-center text-lg-left"
                                                       href="{{ configurator_link }}">
                                                        {{ __('inizia', PARENT_THEME_CONTEXT ) }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-xs-6 col-md-6 col-lg-4 mb-xs-4 mb-sm-5 pl-xs-3 pr-xs-3 pl-sm-4 pr-sm-4">
                                        {% include ["partial/card-product.twig"]  with {'prod' : prod }%}
                                    </div>
                                {% else %}
                                    <div class="col col-xs-6 col-md-6 col-lg-4 mb-xs-4 mb-sm-5 {% if last_three %}mb-md-0 {% endif %}pl-xs-3 pr-xs-3 pl-sm-4 pr-sm-4">
                                        {% include ["partial/card-product.twig"]  with {'prod' : prod }%}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if man_shoes %}
        <section class="section d-flex">
            <div class="container-fluid pt-md-5">
                <div class="row row-eq-height" data-pinned-bounds data-threed-platform>
                    <div class="col col-xs-12 col-md-4 col-xl-5 d-flex order-sm-2 col-fixed" data-pinned-el>
                        <div class="img-wrapper overlay-100 overlayed-after" data-threed-layer data-threed-strength="30">

                            {{ get_img({
                                id: 1227,
                                sizes_attr: '100vw',
                            }) }}
                        </div>

                        <div class="d-flex align-items-center justify-content-center w-100 text-xs-center" data-sim-link>
                            <div class="align-items-center">
                                <a class="btn" href="{{ woman_shoes_link }}">
                                    <h2 class="title text-capitalize text-white line-rotated line-rotated--top line-rotated--white text-center text-lg-left">
                                        <span class="d-block font-primary font-italic display-1 ls-3">{{ __('Lui', PARENT_THEME_CONTEXT) }}</span>
                                    </h2>
                                </a>

                                <p class="position-relative font-primary font-italic display-3 lh-2 ls-2 text-left pb-5 text-white upperlined upperlined--thick text-center text-sm-left">
                                    {{ __('Un passo', THEME_CONTEXT) }}&nbsp;<span
                                            class="d-sm-block">{{ __('deciso', THEME_CONTEXT) }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-8 col-md-8 col-xl-7 pr-5 pl-5 shoes-cards-grid">
                        <div class="row">
                            {% for prod in man_shoes %}
                                {% set last_three = loop.index > 9 - 3 %}
                                {% if loop.index0 == 4 %}
                                    <div class="col col-xs-12 col-lg-4 d-flex mb-5 mt-xs-3 mt-sm-0 pr-xs-3 pl-xs-3 pl-md-4 pr-md-4">
                                        <div class="card card--outline w-100 p-xs-5 p-lg-0">
                                            <div
                                                    class="card-body d-flex flex-column col col-sm-10 align-self-center justify-content-center p-5 p-lg-2 p-xl-4">

                                                <h4 class="display-3 font-weight-bold text-uppercase lh-2 ls-2 justify-content-xs-center text-center text-md-left title">
                                                    <a class="text-primary">{{ __('configura la tua scarpa', PARENT_THEME_CONTEXT ) }}</a>
                                                </h4>


                                                <div class="row justify-content-md-center">
                                                    <a class="col align-self-end display-4 mt-5 text-primary text-uppercase ls-2 text-center text-md-left"
                                                       href="{{ configurator_link }}">
                                                        {{ __('inizia', PARENT_THEME_CONTEXT ) }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-xs-6 col-md-6 col-lg-4 mb-xs-4 mb-sm-5 pl-xs-3 pr-xs-3 pl-sm-4 pr-sm-4">
                                        {% include ["partial/card-product.twig"] with {'prod' : prod } %}
                                    </div>
                                {% else %}

                                    <div class="col col-xs-6 col-md-6 col-lg-4 mb-xs-4 mb-sm-5 {% if last_three  %}mb-md-0 {% endif %}pl-xs-3 pr-xs-3 pl-sm-4 pr-sm-4">
                                        {% include ["partial/card-product.twig"] with {'prod' : prod } %}
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="section w-100 o-hidden spacer spacer--top-1 spacer--bottom-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-xs-10 offset-xs-1 col-md-10 offset-md-1 mb-5 pt-5 pb-5 text-center">
                    <span class="pre-title">{{ __('Dance Naturals', PARENT_THEME_CONTEXT) }}</span>

                    <h4 class="display-2 mt-3 font-primary font-italic ls-1 lh-1">{{ post.ecommerce_module_t }}</h4>

                    <p class="display-3 mt-5 font-primary font-italic lh-3 upperlined--thick">{{ post.ecommerce_module_p }}</p>

                    <a class="btn btn--text text-uppercase ls-1 mt-5 font-weight-bold" href="{{ configurator_link }}">{{ __('shop now', PARENT_THEME_CONTEXT) }}</a>
                </div>
            </div>
        </div>

        {% if post.ecommerce_module_gallery %}
            <div class="container-fluid p-0">
                <div class="row mt-5 d-flex justify-content-center no-gutters">
                    <div class="d-xs-block d-md-flex w-100">
                        {% if post.ecommerce_module_gallery[0] %}
                            <div class="col col-xs-12 col-md-4 d-flex align-items-start">
                                <div class="img-wrapper aspect-3-2">
                                    {{ get_img({
                                        id: post.ecommerce_module_gallery[0],
                                        sizes_attr: '30vw'
                                    }) }}
                                </div>
                            </div>
                        {% endif %}
                        {% if post.ecommerce_module_gallery[1] %}
                            <div class="col col-xs-12 col-md-4 d-flex align-items-end mt-xs-5 mb-xs-5 mb-md-0 pt-md-5">
                                <div class="img-wrapper aspect-3-2">
                                    {{ get_img({
                                        id: post.ecommerce_module_gallery[1],
                                        sizes_attr: '30vw'
                                    }) }}
                                </div>
                            </div>
                        {% endif %}
                        {% if post.ecommerce_module_gallery[2] %}
                            <div class="col col-xs-12 col-md-4 d-flex align-items-start mb-xs-5 mb-md-0">
                                <div class="img-wrapper aspect-3-2">
                                    {{ get_img({
                                        id: post.ecommerce_module_gallery[2],
                                        sizes_attr: '40vw'
                                    }) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </section>

    {% include 'partial/newsletter-section.twig' %}
    {% include 'partial/after-content.twig' with {'smoot_scrollbar' : true }%}
{% endblock %}
