@keyframes goDown {
    0% {
        animation-timing-function: $cubicFastInSlowOut;
        transform: translate(0, 0) rotate(90deg);
    }

    20% {
        animation-timing-function: $cubicFastInSlowOut;
        transform: translate(0, 80px) rotate(90deg);
    }

    21% {
        opacity: 0;
        transform: translate(0, 80px) rotate(90deg);
    }

    22% {
        opacity: 0;
        transform: translate(0, -80px) rotate(90deg);
    }

    23% {
        opacity: 1;
        transform: translate(0, -80px) rotate(90deg);
    }

    40% {
        animation-timing-function: $cubic;
        transform: translate(0, 0) rotate(90deg);
    }

    100% {
        transform: translate(0, 0) rotate(90deg);
    }
}

@keyframes goRight {
    0% {
        animation-timing-function: $cubicFastInSlowOut;
        transform: translate(0, 0);
    }

    20% {
        animation-timing-function: $cubicFastInSlowOut;
        transform: translate(80px, 0);
    }

    21% {
        opacity: 0;
        transform: translate(80px, 0);
    }

    22% {
        opacity: 0;
        transform: translate(-80px, 0);
    }

    23% {
        opacity: 1;
        transform: translate(-80px, 0);
    }

    40% {
        animation-timing-function: $cubic;
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes tap {
    0% {
        animation-timing-function: linear;
        opacity: 1;
        transform: scale(0);
    }

    10% {
        animation-timing-function: linear;
        opacity: 1;
        transform: scale(.8);
    }

    40% {
        animation-timing-function: $cubic;
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        animation-timing-function: linear;
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes tapEcho {
    0% {
        animation-timing-function: linear;
        transform: scale(1);
    }

    10% {
        animation-timing-function: $cubic;
        transform: scale(.9);
    }

    35% {
        animation-timing-function: $cubic;
        transform: scale(1.2);
    }

    100% {
        animation-timing-function: $cubic;
        transform: scale(1);
    }
}

@keyframes hold {
    0% {
        animation-timing-function: linear;
        opacity: 0;
        transform: scale(0);
    }

    15% {
        animation-timing-function: $cubicFastInSlowOut;
        opacity: .6;
        transform: scale(1);
    }

    50% {
        animation-timing-function: linear;
        opacity: .6;
        transform: scale(1);
    }

    75% {
        animation-timing-function: $cubicIn;
        opacity: 0;
        transform: scale(0);
    }

    100% {
        animation-timing-function: linear;
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes holdEcho {
    0% {
        animation-timing-function: linear;
        transform: scale(1);
    }

    15% {
        animation-timing-function: linear;
        transform: scale(1.15);
    }

    40% {
        animation-timing-function: $cubicFastInSlowOut;
        transform: scale(1.25);
    }

    75% {
        animation-timing-function: $cubicFastInSlowOut;
        transform: scale(1);
    }

    100% {
        animation-timing-function: linear;
        transform: scale(1);
    }
}

@keyframes loading-material {
    0% { opacity: 1; }
    50% { opacity: .35; }
    100% { opacity: 1; }
}

@keyframes arrowDown {
    0% {
        transform: translateY(-25px);
    }

    10% {
        transform: translateY(-25px);
        animation-timing-function: $cubicFastInSlowOut;
    }

    40% {
        transform: translateY(25px);
    }

    60% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(-25px);
    }
}

@keyframes solePush {
    0% {
        transform: translateY(-5px) scale(1);
    }

    10% {
        transform: translateY(-5px) scale(1);
        animation-timing-function: $cubicFastInSlowOut;
    }

    40% {
        transform: translateY(5px) scale(1.01);
    }

    50% {
        transform: translateY(5px) scale(1.01);
    }

    100% {
        transform: translateY(-5px) scale(1);
    }
}

@keyframes waveExpansion {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    20% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    99% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes glow {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .3;
    }

    100% {
        opacity: 1;
    }
}

