#breakpoint-badge {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2rem;
    border-radius: 0;
    font-size: 1.6rem;
    background-color: rgba($white, .5);
}

.dev-helper {
    padding: 2rem;
    background-color: $primary;
    color: $white;

    small {
        display: block;
    }

    a.button {
        text-transform: uppercase;
        font-weight: 400;
        margin-top: 1rem;
        color: $white;
        background: rgba($white, .15);
        border-radius: 0;
    }
}
