.mobile {
    .col-mobile-sm-12 {
        @include media-breakpoint-only(sm) {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

    .col-mobile-sm-10 {
        @include media-breakpoint-only(sm) {
            max-width: 83.33333%;
            flex: 0 0 83.33333%;
        }
    }

    .col-mobile-md-12 {
        @include media-breakpoint-only(md) {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

    .col-mobile-md-10 {
        @include media-breakpoint-only(md) {
            max-width: 83.33333%;
            flex: 0 0 83.33333%;
        }
    }

    .col-mobile-md-offset-1 {
        @include media-breakpoint-only(md) {
            margin-left: 8.33333%;
        }
    }
}
