::selection {
    background: rgba($primary, 1);
    color: #fff;
}

:root {
    --font-family-serif: $serif;
}

select:-moz-focusring,
option:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;

    &:active,
    &:focus {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}

html {
    font-size: 7px;

    @include media-breakpoint-up(sm) {
        font-size: 8px;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 10px;
    }
}

html,
body {
    font-family: $base-type;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    min-height: 100%;
    position: relative;
}

a {
    font-weight: 700;
    color: $primary;

    &:hover,
    &:focus,
    &:active {
        color: $primary;
    }
}

body {
    font-size: 1.6rem;
    color: $primary;
}

.section {
    position: relative;

    &.section-background {
        background-color: $background;
    }
}

main {
    flex: 1 0 auto;

    @include respond-to('padding-top', $navbar-height);
}

mark {
    background-color: $background;
}

[data-sim-link] {
    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
    }
}

.img-wrapper img {
    width: 100%;
    height: 100%;
}

.overlayed {
    position: relative;

    &::before {
        @include opacity(.4);

        background-color: black;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.overlayed-after {
    position: relative;

    &::after {
        @include opacity(.4);

        background-color: black;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.title {
    margin-top: 0;
    margin-bottom: 0;
}

.v-100 {
    width: 100vw;
    height: 100vh;
}

.v-75 {
    height: 75vh;
}

.h-75-min {
    min-height: 75%;
}

.vh-25-min {
    min-height: calc(25vh - #{map-get($navbar-height, lg)});
}

.vh-50-min {
    min-height: calc(50vh - #{map-get($navbar-height, lg)});
}

.vh-100-min {
    min-height: calc(100vh - #{map-get($navbar-height, lg)});
}

.vh-100-max {
    max-height: 100vh;
}

.w-md-75 {
    @include media-breakpoint-up(md) {
        max-width: 75% !important;
    }
}

.overlay-100 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.cur-pointer {
    cursor: pointer;
}

.p-nav {
    @include media-breakpoint-up(sm) {
        padding-top: map-get($navbar-height, lg);
    }
}

[data-pinned-el] {
    @include media-breakpoint-up(md) {
        max-height: calc(100vh - #{map-get($navbar-height, sm)});
    }
}

.text-scrolling {
    position: absolute;
    display: inline-block;
    top: 15%;
    left: -8.33333%;
    left: calc(8% * 1); // Dunno why but it works!
    left: 0;
    transform: translateX(0);
    z-index: 1;

    @include media-breakpoint-up(xs) {
        font-size: 8vw;
    }

    @include media-breakpoint-up(md) {
        font-size: 5vw;
    }

    &--faded {
        top: 35rem;
        left: 0;
        text-align: center;
        z-index: 0;
        opacity: .15;
    }

    &.position-relative {
        top: auto;
        left: auto;
    }
}

[data-text-scrolling-outside] {
    z-index: 0;

    &::before {
        display: inline-block;
        margin-left: 15px;
        content: attr(data-text-scrolling-outside);
    }
}

[class^="aspect"] {
    .lazy-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.aspect-square {
    height: 1px;
    overflow: hidden;
    padding-bottom: 100%;
}

.aspect-2-1 {
    @include aspect-ratio(2, .94);
}

.aspect-3-2 {
    @include aspect-ratio(3, 2);
}

.aspect-2-3 {
    @include aspect-ratio(2, 3);
}

.aspect-4-5 {
    @include aspect-ratio(4, 5);
}

.aspect-16-9 {
    @include aspect-ratio(16, 9);
}

.svg-wrapper {
    display: block;

    svg {
        display: block;
        height: 100%;
        width: auto;
    }
}

.font-base {
    font-family: $base-type;
}

.font-primary {
    font-family: $headline-type;
}

.color-primary {
    color: $primary;
}

.bg-primary {
    background-color: $primary;

    &--faded {
        background-color: rgba($primary, .9) !important;
    }
}

@include generate-class('.lh', 'line-height', $line-heights);
@include generate-class('.ls', 'letter-spacing', $letter-spacings);

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    //font-family: 'object-fit: cover; object-position: center';
}

.o-hidden {
    overflow: hidden;
}

.jumbotron {
    i {
        font-family: $headline-type;
    }

    &--transparent {
        background-color: transparent;
    }
}

.underlined,
.upperlined {
    &::before,
    &::after {
        position: relative;
        display: block;
        width: 3rem;
        height: .2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: $primary;
    }

    &--thin {
        &::after,
        &::before {
            height: .1rem;
        }
    }

    &--thick {
        &::after,
        &::before {
            height: .4rem;
        }
    }

    &.text-white {
        &::before,
        &::after {
            background-color: #fff;
        }
    }

    &.text-center {
        &::before,
        &::after {
            margin-left: auto;
            margin-right: auto;
        }

        &.text-sm-left {
            @include media-breakpoint-up(sm) {
                &::before,
                &::after {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
}

.underlined::after {
    content: '';
}

.upperlined::before {
    content: '';
}

.text-no-decoration {
    text-decoration: none;
}

.line-rotated {
    position: relative;

    &::before,
    &::after {
        position: absolute;
        display: block;
        width: 50%;
        height: 1px;
        background-color: rgba($primary, .3);
        transform: rotate(-40deg);
    }

    &::before {
        top: -20%;
        left: -40%;
        transform-origin: top center;
    }

    &::after {
        right: -40%;
        bottom: -20%;
        transform-origin: bottom center;
    }

    &--top {
        &::before {
            content: '';
        }
    }

    &--bottom {
        &::after {
            content: '';
        }
    }

    &--white {
        &::before,
        &::after {
            background-color: #fff;
        }
    }

    &--hided-sm {
        @include media-breakpoint-down(md) {
            &::before,
            &::after {
                display: none;
            }
        }
    }
}

.card-title {
    a {
        color: $primary;
    }
}

.has-focus-state {
    transition: box-shadow .7s ease;

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 1.5rem 5rem rgba($primary, .1);
    }
}

.col-fixed {
    flex: 95% 0 0;
    min-height: 40rem;
    margin: 2rem auto 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 18px rgba(0, 0, 0, .1);
    transform: translate3d(0, 0, 0);

    @include media-breakpoint-up(md) {
        flex: 100% 0 0;
        min-height: auto;
        margin-top: 0;
        border-radius: 0;
        transform: translateX(0);
    }
}

.spacer {
    &::before,
    &::after {
        @extend .position-relative !optional;
        @extend .d-block !optional;
        @extend .w-100 !optional;

        content: '';
    }

    //&::before {
    //    margin-top: 5rem;
    //}
    //
    //&::after {
    //    margin-bottom: 5rem;
    //}

    &--top-1 {
        @include media-breakpoint-up(sm) {
            &::before {
                margin-top: 10rem;
            }
        }
    }

    &--top-2 {
        @include media-breakpoint-up(sm) {
            &::before {
                margin-top: 20rem;
            }
        }
    }

    &--top-3 {
        @include media-breakpoint-up(sm) {
            &::before {
                margin-top: calc(30rem - #{map-get($navbar-height, sm)});
            }
        }
    }

    &--bottom-1 {
        @include media-breakpoint-up(sm) {
            &::after {
                margin-bottom: calc(10rem - #{map-get($navbar-height, sm)});
            }
        }
    }

    &--bottom-2 {
        @include media-breakpoint-up(sm) {
            &::after {
                margin-bottom: calc(20rem - #{map-get($navbar-height, sm)});
            }
        }
    }

    &--bottom-3 {
        @include media-breakpoint-up(sm) {
            &::after {
                margin-bottom: calc(30rem - #{map-get($navbar-height, sm)});
            }
        }
    }
}

@include generate-responsive-class('.d', 'font-size', $display-sizes);

.floating-table {
    border-radius: 0;
    background-color: #fff;
    border-collapse: collapse;
}

.floating-table__header {
    @extend .m-0 !optional;
    @extend .pt-4 !optional;
    @extend .pb-4 !optional;
    @extend .ls-1 !optional;
    @extend .text-uppercase !optional;

    padding-left: 2rem;
    padding-right: 2rem;
    background-color: $background;

    @include all-titles {
        margin: 0;
        font-size: 1.6rem;
        font-weight: 700;
        color: $primary;
    }
}

.pre-title {
    @extend .d-block !optional;
    @extend .text-uppercase !optional;
    @extend .ls-1 !optional;

    font-family: $monospace;
    font-size: map_get($display-sizes, xs);
    font-style: normal;
    color: rgba($primary, .7);
}

.product_title {
    &::before {
        @extend .pre-title;

        content: 'dn shoes';
    }
}

.col-lg-2_4 {
    @extend .col-lg-12 !optional;

    @include media-breakpoint-up(xl) {
        max-width: 20%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
    }
}

.columned {
    @include media-breakpoint-up(md) {
        column-count: 2;
        column-gap: 6rem;
    }
}

.alternated-block {
    position: relative;

    .img-wrapper {
        z-index: 1;
    }

    .text-wrapper {
        position: relative;
        z-index: 2;

        p,
        .lead {
            margin-bottom: 0;
        }

        p {
            font-weight: normal;
        }

        .lead {
            color: $primary;
        }

        @include media-breakpoint-up(md) {
            position: absolute;
        }
    }

    .shadow-text-content {
        position: absolute;
        overflow: hidden;

        > div {
            position: relative;
            left: -66.666%;
        }

        [data-text-inside-image] {
            &::before {
                color: #fff;
                content: attr(data-text-inside-image);
            }
        }
    }

    &--primary {
        .text-wrapper {
            z-index: 2;

            .p-5 {
                background-color: transparent;
            }

            @include media-breakpoint-only(md) {
                position: relative;
                margin-top: -110px;
            }
        }
    }

    &--right {
        .shadow-text-content {
            > div {
                left: 66.666%;
            }
        }
    }
}

.display-4 {
    font-weight: 400;
}

.emotional-images-container {
    .emotional-image {
        box-shadow: 0 2px 114px 0 rgba($primary, .3);

        @include media-breakpoint-up(md) {
            &:nth-child(1),
            &:nth-child(3) {
                flex: 0 0 33.33333%;
                z-index: 0;
            }

            &:nth-child(1) {
                transform: translateX(0);
            }

            &:nth-child(2) {
                flex: 0 0 50%;
                transform: translateX(-17%);
                z-index: 1;
            }

            &:nth-child(3) {
                transform: translateX(-50%);
            }
        }
    }
}

.disabled {
    opacity: .15;
}

// RESETTING TRANSFORM WHEN SMOOTH SCROLL IS NOT ACTIVE
body:not(.sb-running) {
    transform: none;
}

// temp

.page-id-118 {
    h1.title {
        display: none;
    }

    #vpc-price-container {
        @extend .d-inline-block !optional;
        @extend .mt-2 !optional;
        @extend .mb-2 !optional;
    }

    .lead.pr-5.pl-5.display-4.lh-3.text-center.upperlined.upperlined--thin,
    .pre-title.mb-3.mt-5.text-center {
        display: none !important;
    }

    .vpc-price-label,
    #vpc-price {
        font-size: 2rem;
    }
}

.vpc-mobile-follow-scroll-disabled {
    #scrollable-container {
        @extend .d-flex !optional;
        @extend .flex-column !optional;

        min-height: 100vh;
    }
}

// end temp

// QUICKLY TURNING ALL IMAGES FROM TOP VIEW
[src*="_TOP"],
[src*="_top"] {
    transform: rotate(180deg);
}

.text--error {
    color: $errorRed !important;
}
