// theme colors
$primary: #363b3d;
$background: #f7f7f7;
$black: #000;
$White: #fff;
$successGreen: #24b24b !default;
$infoBlue: #0d66d1 !default;
$errorRed: #ec1414 !default;
$mediumYellow: #f1b327 !default;

// social colors
$facebook: #305991 !default;
$twitter: #25a8d2 !default;
$pinterest: #f40024 !default;
$instagram: #e4405f !default;
$youtube: #cd201f !default;

// typography family
$serif: 'Arapey', serif;
$monospace: 'Roboto Mono', monospace;
$base-type: $monospace;
$headline-type: $serif;

// typography sizes
$display-sizes: (
    xs: 1.4rem,
    sm: 2.4rem,
    md: 6rem,
    lg: 8rem
);

$display1-size: map_get($display-sizes, lg);
$display2-size: map_get($display-sizes, md);
$display3-size: map_get($display-sizes, sm);
$display4-size: map_get($display-sizes, xs);

// typography spacing
$letter-spacings: (
    .2rem,
    .4rem,
    1rem,
    2rem,
    3rem,
);

// typography line height
$line-heights: (
    1,
    1.4,
    1.8,
    2.2,
);

// elements sizes
$navbar-height: (
    xxs: 8rem,
    xs: 8rem,
    sm: 8rem,
    md: 8rem,
    lg: 8rem
);

// media
$retina: '(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)' !default;
$landscape: '(orientation: landscape)' !default;

// easings
$cubic: cubic-bezier(0.13, 0.75, 0.36, 1) !default;
$cubicIn: cubic-bezier(1, .15, .49, .93) !default;
$cubicInOut: cubic-bezier(0.63, -0.04, 0.33, 0.99) !default;
$cubicFastInSlowOut: cubic-bezier(.42, .07, 0, 1.02) !default;
