{% extends "base.twig" %}

{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}
    {% if post.page_welcome %}
        {% include ["partial/page-welcome.twig"] %}
    {% endif %}

    <section class="section spacer spacer--top-0 spacer--bottom-1 pl-3 pr-3 mb-xs-5 mb-sm-0 pb-xs-5">
        <div class="container-fluid">
            <div class="row alternated-block alternated-block--primary">
                <div class="col-xs-12 col-lg-9">
                    <div class="img-wrapper aspect-3-2">
                        {{ get_img({
                            id: post.born_to_dance_img
                        }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-10 offset-md-1 col-lg-6 offset-lg-6 d-flex flex-row text-wrapper h-100 align-items-end mt-lg-5">
                    <div class="d-flex justify-content-center align-items-center h-75-min bg-primary bg-primary--faded">
                        <div class="p-5 m-5">
                            <h2 class="lead font-primary font-italic display-3 ls-2 text-center text-lg-left pb-5 text-white">{{ post.born_to_dance_t }}</h2>

                            <p class="display-4 text-white text-center text-lg-left lh-4 pl-5">{{ post.born_to_dance_p }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="o-hidden spacer spacer--top-1 spacer--bottom-2 pl-3 pr-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 position-relative">
                    <div
                        class="display-1 text-primary font-weight-bold font-italic text-uppercase ls-4 text-nowrap mb-5">
                        <h5 class="display-1 text-uppercase font-weight-bold font-italic ls-4 text-nowrap text-scrolling position-relative mt-5" data-trigger-point=".6">{{ post.second_skin_t }}</h5>
                    </div>
                </div>

                <div class="col-xs-10 offset-xs-1 columned mb-xs-5 pb-xs-5 mb-sm-0 pb-sm-0">
                    <p class="display-4 lh-4">{{ post.second_skin_p }}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section spacer spacer--bottom-2 pr-xs-0 pl-3 pl-xs-0 pr-3">
        <div class="container-fluid">
            <div class="row alternated-block no-gutters">
                <div class="col-xs-12 col-md-8 offset-md-4">
                    <div class="img-wrapper aspect-3-2">
                        {{ get_img({
                            id: post.birth_img
                        }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 d-flex flex-row text-wrapper h-100">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="mb-xs-5 mb-sm-0 mt-sm-5 pb-xs-5 p-sm-5">
                            <h2 class="lead font-primary font-italic display-3 ls-2 text-left pb-5 pt-5">{{ post.birth_t }}</h2>

                            <p class="display-4 lh-4">{{ post.birth_p }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 offset-md-4 d-none d-md-flex flex-row text-wrapper h-100 shadow-text-content">
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <div class="mb-xs-5 mb-sm-0 mt-sm-5 pb-xs-5 p-sm-5">
                            <div class="lead font-primary font-italic display-3 ls-2 text-left text-sm-left pb-5 pt-5" data-text-inside-image="{{ post.birth_t }}"></div>

                            <div class="display-4 lh-4" data-text-inside-image="{{ post.birth_p }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section spacer spacer--bottom-2 pl-3 pr-3">
        <div class="container-fluid ">
            <div class="row alternated-block alternated-block--right no-gutters">
                <div class="col-xs-12 col-md-8">
                    <div class="img-wrapper aspect-3-2" data-text-inside-image="{{ post.shoes_art_p }}">
                        {{ get_img({
                            id: post.shoes_art_img
                        }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 offset-md-6 d-flex flex-row h-100 text-wrapper">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="mb-xs-5 mb-sm-0 mt-sm-5 pb-xs-5 p-sm-5">
                            <h2 class="lead font-primary font-italic display-3 ls-2 text-left text-sm-left pb-5 pt-5">{{ post.shoes_art_t }}</h2>

                            <p class="display-4 lh-4">{{ post.shoes_art_p }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 offset-md-2 d-none d-md-flex flex-row h-100 text-wrapper shadow-text-content">
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <div class="mb-xs-5 mb-sm-0 mt-sm-5 pb-xs-5 p-sm-5">
                            <div class="lead font-primary font-italic display-3 ls-2 text-left pb-5 pt-5" data-text-inside-image="{{ post.shoes_art_t }}"></div>

                            <div class="display-4 lh-4" data-text-inside-image="{{ post.shoes_art_p }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section spacer spacer--bottom-2 mt-xs-5 pt-xs-5 mb-xs-5 pb-xs-5 mb-sm-0 pb-sm-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-sm-10 offset-sm-1 offset-md-2 col-md-8 col-lg-6 offset-lg-3">
                    {% if post.page_label %}
                        <span class="pre-title mb-3 mt-5 text-center">{{ __('DN ONLINE SHOP', THEME_CONTEXT) }}</span>
                    {% endif %}

                    <h1 class="title text-uppercase text-center">
                        <span class="d-block font-primary font-italic display-2 ls-2 lh-1">{{ post.prefooter_t }}</span>
                    </h1>
                </div>

                <div class="col col-xs-12 col-sm-10 offset-sm-1 col-xl-8 offset-xl-2">
                    <p class="lead pr-5 pl-5 display-4 lh-3 text-center upperlined upperlined--thin">
                        {{ post.prefooter_p }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section pl-3 pr-3">
        <div class="container-fluid">
            <div class="row mb-5 pb-2 pl-3 pr-3">
                <div class="col-xs-12 col-sm-6 vh-50-min mb-xs-5 mb-sm-0" data-sim-link>
                    <div class="h-100 position-relative bg-primary d-flex align-items-center justify-content-center primary-cta p-5">
                        <div class="w-100 text-center">
                            <h3 class="d-block font-italic display-3 ls-1 lh-2 text-white text-uppercase font-weight-bold">{{ __('made in italy e artigianalità', THEME_CONTEXT ) }}</h3>

                            <a href="{{ craftmanship_url }}" class="btn btn--text text-uppercase ls-1 text-white mt-5">{{ __('scopri', THEME_CONTEXT ) }}</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 vh-50-min" data-sim-link>
                    <div class="h-100 position-relative bg-primary d-flex align-items-center justify-content-center primary-cta p-5">
                        <div class="w-100 text-center">
                            <h3 class="d-block font-italic display-3 ls-1 lh-2 text-uppercase text-white font-weight-bold">{{ __('scarpe da ballo', THEME_CONTEXT ) }}</h3>

                            <a href="{{ dance_shoes_url }}" class="btn btn--text text-uppercase ls-1 text-white mt-5">{{ __('scopri', THEME_CONTEXT ) }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'partial/newsletter-section.twig' %}
    {% include 'partial/after-content.twig' with { 'smooth_scrollbar' : true } %}
{% endblock %}
