{% block html_head_container %}

    {% include 'partial/html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="theme-{{ theme.slug }} {{ body_class }} page-loading">
{% if not (is_checkout or is_cart) %}
    <div id="quick-cart" class="d-xs-none d-md-block position-fixed">
        <span class="mini-cart__toggle"></span>
        {{  fn('wc_get_template', 'cart/mini-cart.php' ) }}
    </div>
{% endif %}
<div class="scroll-target">
    <div id="preloader"></div>
    {% include 'partial/header.twig' %}
    {% block content %}
        Sorry, no content
    {% endblock %}
    {{ fn('wp_footer') }}
</div>
{% block outer_content %}
{% endblock %}
{% include 'partial/cookie-bar.twig' %}
</body>
</html>
