{% extends "base.twig" %}

{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}
    {% if post.page_welcome %}
        {% include ["partial/page-welcome.twig"] %}
    {% endif %}

    <section class="section mt-5 mb-5 pb-5">
        <div class="container-fluid posts-container">
            <div class="row">

                {% for article in posts %}
                    <div class="d-flex col-xs-12 col-sm-6 col-lg-4 mb-5 pb-5" data-sim-link>
                        <article class="post-preview">
                            <div class="img-wrapper aspect-3-2">
                                {{ get_img({
                                    id: article.id
                                }) }}
                            </div>
                            <time class="pre-title mt-5" datetime="{{ article.date('j-m-Y') }}" pubdate="pubdate">{{ article.date('j F Y') }}</time>

                            <h2 class="display-3 mt-4 font-weight-bold text-uppercase lh-2 ls-2 justify-content-xs-center text-md-left title">
                                <a href="{{ article.link }}">{{ article.title }}</a>
                            </h2>
                            {% if article.subtitle %}
                                <h3 class="text-left">
                                    {{ article.subtitle }}
                                </h3>
                            {% endif %}
                            <p class="mt-3 font-primary font-italic lh-3">
                                {% if article.post_excerpt %}
                                    {{ article.post_excerpt|excerpt(35) }}
                                {% else %}
                                    {{ article.post_content|excerpt(35) }}
                                {% endif %}
                            </p>

                            <a class="btn btn--text text-uppercase ls-1 mt-2">
                                <small>{{ __( 'Leggi ora', THEME_CONTEXT ) }}</small>
                            </a>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include 'partial/newsletter-section.twig' %}
    {% include 'partial/after-content.twig' with { 'smooth_scrollbar' : true } %}
{% endblock %}
