{% extends "base.twig" %}
{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : false } %}
        <div id="configurator" class="content-wrapper configurator-page">
            <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
                <section class="article-content">
                    <div class="article-body container-fluid">
                        {{post.content}}
                    </div>
                </section>
            </article>
        </div><!-- /content-wrapper -->

    {% include 'partial/after-content.twig' with { 'smooth_scrollbar' : false } %}
{% endblock %}
