{% extends "base.twig" %}

{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}

    <div class="container-fluid p-sm-0 p-md-0 p-lg-0">
        <div class="row m-sm-0 m-md-0 m-lg-0">
            <div class="col-xs-12 col-md-6 vh-100 d-xs-none d-md-block p-0">
                {% if post.get_field('branches')%}
                    <div class="resellers-map-section w-100 h-100">
                        <div class="map-canvas w-100 h-100">
                            {% for branch in post.get_field('branches') %}
                                {% set pos = branch.address %}

                                <div class="marker invisible" data-lat="{{ pos.lat }}" data-lng="{{ pos.lng }}">
                                    <div class="marker-inner">
                                        <h3>{{ branch.name }}</h3>
                                        {#{% if pos.address %}
                                            <address>{{ pos.address }}</address>
                                        {% endif %}#}

                                        {#TEMP STATIC UNTIL BRUNO SOLVES ISSUES WITH GMAPS APIS#}
                                        <a href="https://bit.ly/2NP7F2L">
                                            <address>
                                                Via Caltana, 260, 35010 Villanova PD, Italia
                                            </address>
                                        </a>
                                        {% if branch.email %}
                                            <a class="email" target="_blank"
                                               href="mailto:{{ branch.email }}">{{ branch.email }}</a>
                                        {% endif %}
                                        {% if branch.tel %}
                                            <a class="tel" target="_blank"
                                               href="tel:{{ branch.tel|telephone }}">{{ branch.tel }}</a>
                                        {% endif %}
                                        {% if branch.web %}
                                            <a class="web" target="_blank"
                                               href="{{ branch.web }}">{{ branch.web|urn }}</a>
                                        {% endif %}

                                        {% if branch.content %}
                                            <div class="desc">
                                                {{ branch.content }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-xs-10 offset-xs-1 col-md-5 offset-md-0 p-sm-0 p-md-0 p-lg-0">
                {% if post.get_field('branches')%}
                    <div class="resellers-list-section pl-xs-0 pl-md-5">
                        <div class="pl-xs-0 pl-md-5">
                            <div class="jumbotron jumbotron-fluid jumbotron--transparent w-100 mb-0">
                                <div class="align-self-center">
                                    <div id="hero-title" class="row">
                                        <div class="col col-xs-12 underlined underlined--thin">
                                            <span class="pre-title mb-3 mt-5">{{ post.page_label }}</span>
                                            <h1 class="title text-uppercase"><span class="d-block font-primary font-italic display-2 ls-2 lh-1">{{ post.page_title }}</span></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul id="resellers-info" class="list-unstyled mt-5">
                                {% for branch in post.get_field('branches') %}
                                    {% set pos = branch.address %}
                                    <li id="{{ branch.name|slugify }}" class="d-block mb-5 pb-3 reseller-info__single"
                                        data-lat="{{ pos.lat }}" data-lng="{{ pos.lng }}" data-province="">
                                        <h3 class="display-4 font-weight-bold text-uppercase mb-3">{{ branch.name }}</h3>

                                        {#{% if pos.address %}
                                            <address class="display-4">{{ pos.address }}</address>
                                        {% endif %}#}

                                        {#TEMP STATIC UNTIL BRUNO SOLVES ISSUES WITH GMAPS APIS#}
                                        <a class="d-block display-4 address lh-3" href="https://bit.ly/2NP7F2L">
                                            <address class="display-4">
                                                Via Caltana, 260, 35010 Villanova PD, Italia
                                            </address>
                                        </a>

                                        {% if branch.email %}
                                            <a class="d-block display-4 lh-3 email" target="_blank"
                                               href="mailto:{{ branch.email }}">{{ branch.email }}</a>
                                        {% endif %}

                                        {% if branch.tel %}
                                            <a class="d-block display-4 lh-3 tel" target="_blank"
                                               href="tel:{{ branch.tel|telephone }}">{{ branch.tel }}</a>
                                        {% endif %}

                                        {% if branch.web %}
                                            <a class="d-block display-4 lh-3 web" target="_blank"
                                               href="{{ branch.web }}">{{ branch.web|urn }}</a>
                                        {% endif %}

                                        {% if branch.business_num %}
                                            <p class="display-4 lh-3">{{ __('P.Iva', THEME_CONTEXT) }}: {{ branch.business_num }}</p>
                                        {% endif %}

                                        {% if branch.content %}
                                            <div class="d-block display-4 desc">
                                                {{ branch.content }}
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>

                            {{ contact_form }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'partial/newsletter-section.twig' %}
    {% include 'partial/after-content.twig' with { 'smooth_scrollbar' : true } %}
{% endblock %}


{#
<div class="form-wrapper">
    <div class="form-group row">
        <div class="col col-xs-12 col-sm-6 input-type-text">
            [text* user-name placeholder "Nome"]
        </div>
        <div class="col col-xs-12 col-sm-6 input-type-text">
            [text* user-surname placeholder "Cognome"]
        </div>
        <div class="col col-xs-12 col-sm-6 input-type-email">
            [email* user-email placeholder "example@email.com"]
        </div>
        <div class="col col-xs-12 col-sm-6 input-type-tel">
            [tel user-tel placeholder "3739037822"]
        </div>
        <div class="col col-xs-12 input-type-textarea">
            [textarea user-message placeholder "Messaggio"]
        </div>
    </div>
    <div class="privacy-wrapper d-flex flex-grow-1">
        <div class="form-group col col-xs-12 col-md-10 p-0">
            <div class="privacy">I dati verranno trattati conformemente al Reg. EU 2016/679 può trovare l'<a href="http://dn.local/privacy-policy">informativa ai sensi dell'art. 13</a></div>
            <div class="privacy">[custom_acceptance privacy-acceptance] Ricevuta, letta e compresa l’informativa relativa all’utilizzo dei miei dati personali (di cui all’art. 13 del Regolamento Europeo 2016/679), da parte del Titolare del Trattamento Dance Naturals di Calzaturificio Lady Laura Srl secondo le finalità riportate di seguito nell'<a href="http://dn.local/trattamento-dei-dati/">informativa specifica</a>[/custom_acceptance]</div>
            <div class="privacy">[custom_acceptance mailchimp-acceptance] Sono a conoscenza che i dati potranno essere trasferiti in USA secondo le garanzie sancite dal Privacy-Shield [/custom_acceptance]</div>
        </div>
    </div>
    <div class="col col-xs-12">
        <button class="btn btn--submit btn--full btn--submit__proxy d-block ml-auto mt-5 text-center">Invia</button>
        [submit "Send"]
    </div>
</div>#}
