{% extends "base.twig" %}

{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}
    {% if post.page_welcome %}
        {% include ["partial/page-welcome.twig"] %}
    {% endif %}

    <section class="section spacer spacer--top-0 spacer--bottom-1">
        <div class="container-fluid">
            <div class="row alternated-block alternated-block--primary">
                <div class="col-xs-12 col-md-8">
                    <div class="img-wrapper aspect-3-2">
                        {{ get_img({
                            id: post.tradition_img
                        }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 offset-md-6 d-flex flex-row text-wrapper">
                    <div class="d-flex justify-content-center align-items-center bg-primary bg-primary--faded">
                        <div class="p-5 m-5">
                            <h2 class="lead font-primary font-italic display-3 ls-2 text-left pb-5 text-white">{{ post.tradition_t }}</h2>

                            <div class="display-4 text-white lh-4 pl-5">{{ post.tradition_p }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="o-hidden spacer spacer--top-1 spacer--bottom-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 position-relative">
                    <div
                        class="display-1 text-primary font-weight-bold font-italic text-uppercase ls-4 text-nowrap mb-5">
                        <h5 class="display-1 text-uppercase font-weight-bold font-italic ls-4 text-nowrap text-scrolling position-relative mt-5">{{ post.passion_t }}</h5>
                    </div>
                </div>

                <div class="col-xs-10 offset-xs-1 columned">
                    <div class="display-4 lh-4">{{ post.passion_p }}</div>
                </div>
            </div>
        </div>
    </section>

    <section class="section spacer spacer--bottom-2">
        <div class="container-fluid">
            <div class="row alternated-block no-gutters">
                <div class="col-xs-12 col-md-8 offset-md-4">
                    <div class="img-wrapper aspect-3-2">
                        {{ get_img({
                            id: post.matter_soul_img
                        }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 d-flex flex-row text-wrapper h-100">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="mb-xs-5 mb-sm-0 mt-sm-5 pb-xs-5 p-sm-5">
                            <h2 class="lead font-primary font-italic display-3 ls-2 text-left pb-5 pt-5">{{ post.matter_soul_t }}</h2>

                            <p class="display-4 lh-4">{{ post.matter_soul_p }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 offset-md-4 d-none d-md-flex flex-row text-wrapper h-100 shadow-text-content">
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <div class="mb-xs-5 mb-sm-0 mt-sm-5 pb-xs-5 p-sm-5">
                            <div class="lead font-primary font-italic display-3 ls-2 text-left text-sm-left pb-5 pt-5" data-text-inside-image="{{ post.matter_soul_t }}"></div>

                            <div class="display-4 lh-4" data-text-inside-image="{{ post.matter_soul_p }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'partial/newsletter-section.twig' %}
    {% include 'partial/after-content.twig' with { 'smooth_scrollbar' : true } %}
{% endblock %}
