{% extends "base.twig" %}

{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}
    {% if post.page_welcome %}
        {% include ["partial/page-welcome.twig"] %}
    {% endif %}

    <section class="section spacer spacer--top-0 spacer--bottom-1">
        <div class="container-fluid">
            <div class="row alternated-block alternated-block--primary">
                <div class="col-xs-12 col-md-8">
                    <div class="img-wrapper aspect-3-2">
                        {{ get_img({
                            id: 3028
                        }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 offset-md-6 d-flex flex-row text-wrapper">
                    <div class="d-flex justify-content-center align-items-center bg-primary bg-primary--faded">
                        <div class="p-5 m-5">
                            <h2 class="lead font-primary font-italic display-3 ls-2 text-left pb-5 text-white">{{ __('Il carattere delle danza', THEME_CONTEXT ) }}</h2>

                            <p class="display-4 text-white lh-4 pl-5">Dalla sua fondazione, sottolineata dal naming del nostro brand Dance Naturals, l’azienda nasce come realtà del settore calzaturiero specializzata nella produzione di scarpe da ballo. L’attenzione ai particolari che contraddistingue il nostro lavoro quotidiano è fondamentale per dare ai nostri clienti un prodotto che tenda alla perfezione in termini di estetica e funzionalità.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="o-hidden spacer spacer--top-1 spacer--bottom-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 position-relative">
                    <div
                        class="display-1 text-primary font-weight-bold font-italic text-uppercase ls-4 text-nowrap mb-5">
                        <h5 class="display-1 text-uppercase font-weight-bold font-italic ls-4 text-nowrap text-scrolling position-relative mt-5">Designed on your dancing spirit</h5>
                    </div>
                </div>

                <div class="col-xs-10 offset-xs-1 text-center">
                    <p class="display-4 lh-4">Punte e tacchi che danno ai movimenti un tocco dinamico e leggero, per rendere l’arte del ballo ancor più magica. Quella di Dance Naturals è una vera e propria ricerca di soluzioni e materiali pensati e studiati per rendere funzionali i modelli. Stabilità, comodità e traspirazione sono solo alcune tra le caratteristiche più apprezzate dei nostri prodotti artigianali.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section spacer spacer--bottom-2">
        <div class="container-fluid">
            <div class="row alternated-block">
                <div class="col-xs-12 col-md-8 offset-md-4">
                    <div class="img-wrapper aspect-3-2" data-text-inside-image="Dance Naturals nasce nel 1995 con l’obiettivo di imporsi come una realtà innovativa, dinamica e
                                all’avanguardia nel settore calzaturiero italiano. L’ambiziosa iniziativa dei due soci fondatori
                                dell’azienda è sempre stata caratterizzata da una minuziosa cura dei particolari che mette in
                                risalto valori fondamentali quali artigianalità e made in Italy.">
                        {{ get_img({
                            id: 3022
                        }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 d-flex flex-row text-wrapper">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="p-5 m-5">
                            <h2 class="lead font-primary font-italic display-3 ls-2 text-left pb-5 pt-5">{{ __('Forme che volteggiano', THEME_CONTEXT ) }}</h2>

                            <p class="display-4 lh-4">Uno dei cardini fondamentali per la realizzazione di ogni nostro modello è quella di non essere un semplice oggetto fine a se stesso, ma una vera e propria espressione delle diverse individualità e forme. Un approccio improntato alle differenti esigenze e necessità dei nostri clienti.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section spacer spacer--bottom-2">
        <div class="container-fluid ">
            <div class="row alternated-block">
                <div class="col-xs-12 col-md-8">
                    <div class="img-wrapper aspect-3-2" data-text-inside-image="La pelle, il taglio, l’incurvatura del piede: Dance Naturals cura i propri prodotti sotto ogni aspetto per fornire ai propri clienti un oggetto espressione di una vera e propria arte. Tutti i processi vengono controllati con cura da maestri calzaturieri che vantano una lunga esperienza nel settore e una sconfinata passione per ogni modello realizzato.">
                        {{ get_img({
                            id: 3020
                        }) }}
                    </div>
                </div>

                <div class="col-xs-12 col-md-push-4 col-md-6 offset-md-6 d-flex flex-row text-wrapper">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="p-5 m-5">
                            <h2 class="lead font-primary font-italic display-3 ls-2 text-left pb-5 pt-5">{{ __('Una professione di qualità', THEME_CONTEXT ) }}</h2>

                            <p class="display-4 lh-4">Una qualità che è sottolineata dalle tante persone che negli anni si sono affidate a Dance Naturals: da semplici appassionati fino a professionisti del ballo, come Alessia Betti, Mirko Gozzoli, Stefano Di Filippo e Anna Melnikova, che ogni giorno contribuiscono a dare lustro e prestigio al nostro brand</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-xs-12 col-md-12 vh-50-min" data-sim-link>
                    <div class="h-100 position-relative bg-primary d-flex align-items-center justify-content-center primary-cta">
                        <div class="w-100 text-center">
                            <h3 class="d-block font-italic display-3 ls-2 lh-1 text-uppercase text-white font-weight-bold">{{ __('scopri le scarpe da ballo', THEME_CONTEXT ) }}</h3>

                            <a href="{{ get_term_link(762, 'product_cat') }}" class="btn btn--text text-uppercase ls-1 text-white mt-5">{{ __('scopri', THEME_CONTEXT ) }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'partial/newsletter-section.twig' %}
    {% include 'partial/after-content.twig' with { 'smooth_scrollbar' : true } %}
{% endblock %}
