{% extends "base.twig" %}
{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}
    <section id="hero" class="section hero d-flex v-100 mb-5 mb-md-0 p-nav o-hidden" data-above-the-fold>
        <div class="img-wrapper overlay-100 p-nav">
            <canvas id="hero__canvas" class="hero__canvas"></canvas>
            {{ get_img({
                id: 148,
                sizes_attr: '100vw',
                extra_classes: 'cover',
                lazy: false
            }) }}
            <span class="hero__frame hero__frame--top d-xs-none d-sm-block"></span>
            <span class="hero__frame hero__frame--bottom d-xs-none d-sm-block"></span>
            <span class="hero__frame hero__frame--left d-xs-none d-sm-block"></span>
            <span class="hero__frame hero__frame--right d-xs-none d-sm-block"></span>
        </div>

        <div class="d-flex flex-wrap align-items-center w-100">
            <div class="jumbotron jumbotron-fluid jumbotron--transparent text-center w-100">
                <div class="align-self-center">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col align-self-center">
                                <div id="hero-title" class="d-inline-block">
                                    <h1 class="title text-uppercase text-left text-white line-rotated line-rotated--top line-rotated--bottom line-rotated--white line-rotated--hided-sm">
                                        <span class="d-block font-primary font-italic display-1 ls-4">{{ __('walking', THEME_CONTEXT ) }}</span>
                                        <span class="d-block font-weight-bold display-xs-3 display-2 ls-4">{{ __('with', THEME_CONTEXT ) }}</span>
                                        <span class="d-block font-primary font-italic display-1 ls-5">{{ __('style', THEME_CONTEXT ) }}</span>
                                    </h1>

                                    <p class="lead font-primary font-italic display-3 ls-2 text-left pb-5 text-white upperlined upperlined--thick ">
                                        {{ __('Italian shoes design', THEME_CONTEXT ) }}</p>

                                    <div class="btn-group d-flex text-left mt-5 " role="group"
                                         aria-label="first choices">

                                        <a class="btn btn--text text-uppercase ls-1 text-white"
                                           href="{{ configurator_link }}"
                                           role="button">{{ __('configura', THEME_CONTEXT ) }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if woman_shoes %}
        <section class="section d-flex" data-header-swapper>
            <div class="container-fluid">
                <div class="row row-eq-height" data-pinned-bounds data-threed-context>
                    <div class="col-xs-12 col-md-4 col-xl-5 d-flex mt-xs-5 mt-md-0 col-fixed" data-pinned-el data-threed-platform data-threed-strength="3">
                        <div class="img-wrapper overlay-100 overlayed-after">
                            {{ get_img({
                                id: 2667,
                                sizes_attr: '100vw',
                            }) }}
                        </div>

                        <div class="d-flex align-items-center justify-content-center w-100 text-xs-center" data-sim-link>
                            <div class="align-items-center" data-threed-layer data-threed-strength="7">
                                <a class="btn" href="{{ woman_shoes_link }}">
                                    <h2 class="title text-capitalize text-white line-rotated line-rotated--top line-rotated--white text-center text-lg-left">
                                        <span class="d-block font-primary font-italic display-1 ls-3"> {{ __('Lei', THEME_CONTEXT) }}</span>
                                    </h2>
                                </a>

                                <p class="position-relative font-primary font-italic display-3 lh-2 ls-2 text-left pb-5 text-white upperlined upperlined--thick text-center text-sm-left">{{ __('Un soffio', THEME_CONTEXT) }}
                                    &nbsp;<span class="d-sm-block">{{ __('di charme', THEME_CONTEXT) }}</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-8 col-xl-7 pr-5 pl-5 shoes-cards-grid">
                        <div class="row">
                            {% for prod in woman_shoes %}
                                {% set last_three = loop.index > 9 - 3 %}
                                {% if loop.index0 == 4 %}
                                    <div class="col-xs-12 col-lg-4 d-flex mb-5 mt-xs-3 mt-sm-0 pr-xs-3 pl-xs-3 pl-md-4 pr-md-4">
                                        <div class="card card--outline w-100 p-xs-5 p-lg-0">
                                            <div
                                                    class="card-body d-flex flex-column col-sm-10 align-self-center justify-content-center p-5 p-lg-2 p-xl-4">
                                                <h4 class="display-3 font-weight-bold text-uppercase lh-2 ls-2 text-center text-lg-left title">
                                                    <a class="text-primary">{{ __('configura la tua scarpa', THEME_CONTEXT ) }}</a>
                                                </h4>

                                                <div class="row justify-content-md-center">
                                                    <a class="align-self-end display-4 mt-5 text-primary text-uppercase ls-2 text-center text-lg-left"
                                                       href="{{ configurator_link }}">
                                                        {{ __('inizia', THEME_CONTEXT ) }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-lg-4 mb-xs-4 mb-sm-5 pl-xs-3 pr-xs-3 pl-sm-4 pr-sm-4">
                                        {% include ["partial/card-product.twig"]  with {'prod' : prod }%}
                                    </div>
                                {% else %}
                                    <div class="col-xs-6 col-md-6 col-lg-4 mb-xs-4 mb-sm-5 {% if last_three %}mb-md-0 {% endif %}pl-xs-3 pr-xs-3 pl-sm-4 pr-sm-4">
                                        {% include ["partial/card-product.twig"]  with {'prod' : prod }%}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if man_shoes %}
        <section class="section d-flex">
            <div class="container-fluid pt-md-5">
                <div class="row row-eq-height" data-pinned-bounds data-threed-platform>
                    <div class="col-xs-12 col-md-4 col-xl-5 d-flex order-sm-2 col-fixed" data-pinned-el>
                        <div class="img-wrapper overlay-100 overlayed-after" data-threed-layer data-threed-strength="30">

                            {{ get_img({
                                id: 2665,
                                sizes_attr: '100vw',
                            }) }}
                        </div>

                        <div class="d-flex align-items-center justify-content-center w-100 text-xs-center" data-sim-link>
                            <div class="align-items-center">
                                <a class="btn" href="{{ woman_shoes_link }}">
                                    <h2 class="title text-capitalize text-white line-rotated line-rotated--top line-rotated--white text-center text-lg-left">
                                        <span class="d-block font-primary font-italic display-1 ls-3">{{ __('Lui', THEME_CONTEXT) }}</span>
                                    </h2>
                                </a>

                                <p class="position-relative font-primary font-italic display-3 lh-2 ls-2 text-left pb-5 text-white upperlined upperlined--thick text-center text-sm-left">
                                    {{ __('Un passo', THEME_CONTEXT) }}&nbsp;<span
                                            class="d-sm-block">{{ __('di audacia', THEME_CONTEXT) }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-8 col-md-8 col-xl-7 pr-5 pl-5 shoes-cards-grid">
                        <div class="row">
                            {% for prod in man_shoes %}
                                {% set last_three = loop.index > 9 - 3 %}
                                {% if loop.index0 == 4 %}
                                    <div class="col-xs-12 col-lg-4 d-flex mb-5 mt-xs-3 mt-sm-0 pr-xs-3 pl-xs-3 pl-md-4 pr-md-4">
                                        <div class="card card--outline w-100 p-xs-5 p-lg-0">
                                            <div
                                                    class="card-body d-flex flex-column col-sm-10 align-self-center justify-content-center p-5 p-lg-2 p-xl-4">

                                                <h4 class="display-3 font-weight-bold text-uppercase lh-2 ls-2 justify-content-xs-center text-center text-md-left title">
                                                    <a class="text-primary">{{ __('configura la tua scarpa', THEME_CONTEXT ) }}</a>
                                                </h4>


                                                <div class="row justify-content-md-center">
                                                    <a class="align-self-end display-4 mt-5 text-primary text-uppercase ls-2 text-center text-md-left"
                                                       href="{{ configurator_link }}">
                                                        {{ __('inizia', THEME_CONTEXT ) }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-lg-4 mb-xs-4 mb-sm-5 pl-xs-3 pr-xs-3 pl-sm-4 pr-sm-4">
                                        {% include ["partial/card-product.twig"] with {'prod' : prod } %}
                                    </div>
                                {% else %}

                                    <div class="col-xs-6 col-md-6 col-lg-4 mb-xs-4 mb-sm-5 {% if last_three  %}mb-md-0 {% endif %}pl-xs-3 pr-xs-3 pl-sm-4 pr-sm-4">
                                        {% include ["partial/card-product.twig"] with {'prod' : prod } %}
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="section d-flex align-items-center w-100 o-hidden mt-5 p-xs-0 p-md-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 justify-content-center spacer spacer--top-1 spacer--bottom-2">

                    <div class="row">
                        <div class="col-xs-12 col-sm-10 offset-sm-1">
                            <div
                                    class="display-1 text-primary font-weight-bold font-italic text-uppercase ls-4 text-nowrap text-scrolling"
                                    data-text-scrolling-outside="{{ scrolling_text }}"></div>

                            <div class="img-wrapper aspect-3-2 position-relative">
                                <h5 class="display-1 text-uppercase font-weight-bold font-italic ls-4 text-nowrap text-white text-scrolling">{{ scrolling_text }}</h5>

                                {{ get_img({
                                    id: 2253,
                                    sizes_attr: '90vw'
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section w-100 o-hidden spacer spacer--top-1 spacer--bottom-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10 offset-xs-1 col-md-10 offset-md-2 col-lg-6 offset-lg-3 mt-xs-5 mt-md-0 mb-5 pt-5 pb-5 text-center text-sm-left">
                    <span class="pre-title">{{ __('DN online shop', THEME_CONTEXT) }}</span>

                    <h4 class="display-2 mt-3 font-primary font-italic ls-1 lh-1 line-rotated line-rotated--top line-rotated--bottom line-rotated--hided-sm">{{ post.ecommerce_module_t }}</h4>

                    <p class="display-3 w-md-75 mt-5 font-primary font-italic lh-3 upperlined--thick">{{ post.ecommerce_module_p }}</p>

                    <a class="btn btn--text text-uppercase ls-1 mt-5" href="{{ shop_link }}">{{ __('shop now', THEME_CONTEXT) }}</a>
                </div>
            </div>
        </div>

        {% if post.ecommerce_module_gallery %}
            <div class="container-fluid p-0">
                <div class="row mt-5 d-flex justify-content-center no-gutters">
                    <div class="d-xs-block d-md-flex w-100">
                        {% if post.ecommerce_module_gallery[0] %}
                            <div class="col-xs-12 col-md-4 d-flex align-items-start">
                                <div class="img-wrapper aspect-3-2">
                                    {{ get_img({
                                        id: post.ecommerce_module_gallery[0],
                                        sizes_attr: '30vw'
                                    }) }}
                                </div>
                            </div>
                        {% endif %}

                        {% if post.ecommerce_module_gallery[1] %}
                            <div class="col-xs-12 col-md-4 d-flex align-items-end mt-xs-5 mb-xs-5 mb-md-0 pt-md-5">
                                <div class="img-wrapper aspect-3-2">
                                    {{ get_img({
                                        id: post.ecommerce_module_gallery[1],
                                        sizes_attr: '30vw'
                                    }) }}
                                </div>
                            </div>
                        {% endif %}

                        {% if post.ecommerce_module_gallery[2] %}
                            <div class="col-xs-12 col-md-4 d-flex align-items-start mb-xs-5 mb-md-0">
                                <div class="img-wrapper aspect-3-2">
                                    {{ get_img({
                                        id:  post.ecommerce_module_gallery[2],
                                        sizes_attr: '40vw'
                                    }) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </section>

    {% include 'partial/newsletter-section.twig' %}
    {% include 'partial/after-content.twig' with {'smoot_scrollbar' : true }%}
{% endblock %}
