{% extends "base.twig" %}

{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}

    {% if post.page_welcome %}
        {% include ["partial/page-welcome.twig"] %}
    {% endif %}

    <div class="content-wrapper">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="article-content">
                <div class="article-body {{ page_layout }}">
                    {{post.content}}
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->

    {% include 'partial/after-content.twig' with { 'smooth_scrollbar' : true } %}

{% endblock %}
