{% extends "base.twig" %}

{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}
    {#{% if post.page_welcome %}#}
    {#{% include ["partial/page-welcome.twig"] %}#}
    {#{% endif %}#}

    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xs-12 col-md-6 vh-100 d-xs-none d-md-block">
                {% if resellers %}
                    <div class="resellers-map-section w-100 h-100">
                        <div class="map-canvas w-100 h-100">
                            {% for reseller in resellers %}
                                {% set pos = reseller.address %}

                                <div class="marker" data-lat="{{ pos.lat }}" data-lng="{{ pos.lng }}">
                                    <div class="marker-inner">
                                        <h3>{{ reseller.title }}</h3>
                                        {% if pos.address %}
                                            <address>{{ pos.address }}</address>
                                        {% endif %}
                                        {% if reseller.email %}
                                            <a class="email" target="_blank"
                                               href="mailto:{{ reseller.email }}">{{ reseller.email }}</a>
                                        {% endif %}
                                        {% if reseller.tel %}
                                            <a class="tel" target="_blank"
                                               href="tel:{{ reseller.tel|telephone }}">{{ reseller.tel }}</a>
                                        {% endif %}
                                        {% if reseller.web %}
                                            <a class="web" target="_blank"
                                               href="{{ reseller.web }}">{{ reseller.web|urn }}</a>
                                        {% endif %}

                                        {% if reseller.content %}
                                            <div class="desc">
                                                {{ reseller.content }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-xs-10 offset-xs-1 col-md-5 offset-md-0">
                {% if resellers %}
                    <div class="resellers-list-section pl-xs-0 pl-md-5">
                        {#<h2 class="display-4 font-weight-bold text-uppercase title">{{ __('Seleziona la provincia più vicina', THEME_CONTEXT ) }}</h2>#}

                        <div class="pl-xs-0 pl-md-5">
                            <div class="jumbotron jumbotron-fluid jumbotron--transparent w-100 mb-0">
                                <div class="align-self-center">
                                    <div class="container-fluid">
                                        <div id="hero-title" class="row">
                                            <div class="col col-xs-12 underlined underlined--thin">
                                                <span class="pre-title mb-3 mt-5">Un network di valore</span>
                                                <h1 class="title text-uppercase"><span class="d-block font-primary font-italic display-2 ls-2 lh-1">I Nostri rivenditori</span></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <select id="resellers-filter" class="mb-4 display-4 ls-0" name="areas-list" id="areas-list">
                                <option value="">Seleziona una provincia</option>
                            </select>

                            <ul id="resellers-info" class="list-unstyled mt-5">
                                {% for reseller in resellers %}
                                    {% set pos = reseller.address %}
                                    <li id="{{ reseller.title|slugify }}" class="d-block mb-5 pb-3 reseller-info__single"
                                        data-lat="{{ pos.lat }}" data-lng="{{ pos.lng }}" data-province="">
                                        <h3 class="display-4 font-weight-bold text-uppercase mb-3">{{ reseller.title }}</h3>

                                        {% if pos.address %}
                                            <address class="display-4">{{ pos.address }}</address>
                                        {% endif %}

                                        {% if reseller.email %}
                                            <a class="d-block display-4 lh-3 email" target="_blank"
                                               href="mailto:{{ reseller.email }}">{{ reseller.email }}</a>
                                        {% endif %}

                                        {% if reseller.tel %}
                                            <a class="d-block display-4 lh-3 tel" target="_blank"
                                               href="tel:{{ reseller.tel|telephone }}">{{ reseller.tel }}</a>
                                        {% endif %}

                                        {% if reseller.web %}
                                            <a class="d-block display-4 lh-3 web" target="_blank"
                                               href="{{ reseller.web }}">{{ reseller.web|urn }}</a>
                                        {% endif %}

                                        {% if reseller.content %}
                                            <div class="d-block display-4 desc">
                                                {{ reseller.content }}
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'partial/newsletter-section.twig' %}
    {% include 'partial/after-content.twig' with { 'smooth_scrollbar' : true } %}
{% endblock %}
