{% extends "base.twig" %}

{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}
    <article class="mt-5 mb-5 pb-5">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="img-wrapper aspect-16-9">
                        {{ get_img() }}
                    </div>
                </div>
            </div>
        </div>

        {% include ["partial/page-welcome.twig"] %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center mt-5 mb-5">
                    <time class="pre-title mt-5" datetime="{{ post.date('j-m-Y') }}" pubdate="pubdate">{{ post.date('j F Y') }}</time>
                </div>
            </div>

            <div class="col-xs-10 offset-xs-1 col-md-8 offset-md-2 display-4 lh-4 post-content">{{ post.content }}</div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center mt-5 mb-5 pt-5">
                <a class="display-4 font-weight-bold" href="{{ blog_url }}"><img class="d-inline-block pr-4" src="{{ parent_link }}/dist/vectors/arrow-left.svg">{{ __('Torna agli gli articoli', THEME_CONTEXT ) }}</a></h2>
            </div>
        </div>
    </article>

    {% include 'partial/newsletter-section.twig' %}
    {% include 'partial/after-content.twig' with { 'smooth_scrollbar' : true } %}
{% endblock %}
