{% extends "base.twig" %}

{% block content %}
    {% if (user_logged_in or is_checkout or is_cart) %}
        <section class="container">
            <div class="row user-related-content align-items-center pt-5">
                <div class="col align-self-center pt-5 pb-5">
                    {{post.content}}
                </div>
            </div>
        </section>
    {% else %}
        <section class="container-fluid user-related-content d-flex align-items-stretch user-login-wrapper">
            {{post.content}}
        </section>
    {% endif %}
{% endblock %}

{% block outer_content %}
    {% if user_logged_in and not (is_checkout or is_cart) %}
        <div class="form-address-wrapper woocommerce">
            <div class="form-address-inner{# d-flex align-items-center flex-grow-1#} pt-5 pb-5">
                <span class="form-address-close mt-5">
                    {{ close_icon }}
                </span>
                <div class="container">
                    {% for name in addresses %}
                        <div id="form-{{ name }}-address" class="form-address row">
                            {% do action('woocommerce_account_edit-address_endpoint', name ) %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
