<div class="row">
    <div class="col-xs-12 mb-5 pb-5">
        <h1 class="main-title font-primary font-italic color-primary text-center">{{ __('Il mio carrello', THEME_CONTEXT ) }}</h1>
    </div>
    <div class="col-xs-12 mb-5">
        <a href="{{configurator_link }}" class="btn btn--text btn--back">{{ __('Torna allo shopping', THEME_CONTEXT) }}</a>
    </div>
    <div class="col-xs-12 col-md-8">
        {% do action( 'woocommerce_before_cart' ) %}
        <h2 class="display-4 font-weight-bold text-uppercase mb-5 ls-1">{{ __( 'Riepilogo Ordine', THEME_CONTEXT ) }}</h2>
        {#{% if user_logged_in and user_is_shop_manager %}
            <div class="dev-helper">
                <small>(Strumenti per i manager dell'ecommerce)</small>
                {{ fn('do_shortcode', '[wec_button]') }}
            </div>
        {% endif %}#}

        <form class="woocommerce-cart-form" action="{{ cart_url }}" method="post">
            {% do action( 'woocommerce_before_cart_table' ) %}

            <div class="shop_table shop_table_responsive cart woocommerce-cart-form__contents floating-table">
                {% do action( 'woocommerce_before_cart_contents' ) %}

                {% for cart_item_key, cart_item in cart %}
                    {% set _product =  cart_item.data|apply_filters('woocommerce_cart_item_product', cart_item, cart_item_key) %}
                    {% set product_id =  cart_item.product_id|apply_filters('woocommerce_cart_item_product_id', cart_item, cart_item_key) %}
                    {% set tr = true %}

                    {% if _product and _product.exists and cart_item.quantity > 0 and true|apply_filters( 'woocommerce_cart_item_visible', cart_item, cart_item_key ) %}

                        {% set product_permalink = fn('get_prod_permalink', _product , cart_item, cart_item_key) %}

                        <div class="woocommerce-cart-form__cart-item {{ ('cart_item'|apply_filters( 'woocommerce_cart_item_class', cart_item, cart_item_key ))|e('html_attr') }}" data-item-key="{{ cart_item_key }}">
                            <div class="d-flex flex-wrap">
                                <div class="prod-image-wrapper">
                                    <div class="prod-image-inner">
                                        <div class="product-thumbnail">
                                            <div class="product-remove d-flex align-items-center">
                                                {{ fn('print_remove_link', cart_item_key, product_id, _product) }}
                                            </div>
                                            <div class="img-wrapper">
                                                {% set _prod_image = _product.get_image_id %}
                                                {% set thumbnail = _prod_image|apply_filters('woocommerce_cart_item_thumbnail', cart_item, cart_item_key) %}
                                                {% set thumb = thumbnail|e('wp_kses_post')  %}
                                                {% if not product_permalink %}
                                                    {{ thumb }}
                                                {% else %}
                                                    <a href="{{ product_permalink|e('esc_url') }}">{{ thumb }}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-quantity d-flex align-items-start ml-auto" data-title="{{ __( 'Quantity', 'woocommerce' )|e('html_attr') }}">
                                    {% if _product.is_sold_individually  %}
                                        {% set prod_quantity = '1 <input type="hidden" name="cart['~ cart_item_key ~'][qty]" value="1" />' %}
                                    {% else %}
                                        {% set prod_quantity = fn('woocommerce_quantity_input', {
                                            'input_name'  : 'cart['~ cart_item_key ~'][qty]',
                                            'input_value' : cart_item.quantity,
                                            'max_value' : _product.get_max_purchase_quantity,
                                            'min_value'  : '0',
                                            'product_name'  : prod_name
                                        }, _product, false) %}
                                    {% endif %}

                                    {{ prod_quantity|apply_filters('woocommerce_cart_item_quantity', cart_item_key, cart_item) }}

                                </div>
                                <div class="product-meta-wrapper d-flex flex-wrap">
                                    <div class="product-name" data-title="{{ __('Product', 'woocommerce')|e('html_attr') }}">
                                        {% set prod_name = _product.get_title %}
                                        {% if not product_permalink %}
                                            {{ ((prod_name|apply_filters('woocommerce_cart_item_name', cart_item, cart_item_key )) ~ '&nbsp;')|e('wp_kses_post') }}
                                        {% else %}
                                            {{ ('<a href="'~ (product_permalink|e('esc_url'))~'">'~ prod_name|apply_filters('woocommerce_cart_item_name', cart_item, cart_item_key) ~'</a>')|e('wp_kses_post') }}
                                        {% endif %}

                                        {% do action( 'woocommerce_after_cart_item_name', cart_item, cart_item_key )  %}

                                        {{ fn('custom_get_formatted_cart_item_data', cart_item, 0 ) }}
                                        {# Backorder notification.#}

                                        {% if _product.backorders_require_notification and _product.is_on_backorder( cart_item.quantity ) %}
                                            {{ (('<p class="backorder_notification">'~__( 'Available on backorder', 'woocommerce' )|e('esc_html')~'</p>')|apply_filters('woocommerce_cart_item_backorder_notification'))|e('wp_kses_post') }}
                                        {% endif %}
                                    </div>

                                    <div class="accessories">
                                        <h5 class="text-uppercase mb-3">{{ __('Accessory', THEME_CONTEXT) }}</h5>
                                        <ul class="list-unstyled row">
                                            {% set prod = TimberPost(product_id) %}
                                            {% if prod.has_term(id_translate(1030, 'product_cat'), 'product_cat') %}
                                                {% for accessory in sandal_accessories %}
                                                    {% include 'partial/accessory.twig' with {'accessory' : accessory, 'selected_accessories': selected_accessories, 'cart_item_key' : cart_item_key } %}
                                                {% endfor %}
                                            {% endif %}
                                            {% for accessory in accessories %}
                                                {% include 'partial/accessory.twig' with {'accessory' : accessory, 'selected_accessories': selected_accessories, 'cart_item_key' : cart_item_key } %}
                                            {% endfor %}
                                        </ul>
                                        <div>
                                            {% set term_id = function("apply_filters", 'wpml_object_id', 1747, 'product_cat') %}
                                            <small>{{ __("Do you want to add accessories?","dancenaturals") }} <a href="{{ get_term_link(term_id, 'product_cat') }}">{{ __("Click here","dancenaturals") }}</a></small>
                                        </div>
                                    </div>


                                    {# A GABRI DA FASTIDIO
                                    <div class="product-price" data-title="{{ __( 'Price', 'woocommerce' )|e('html_attr') }} ">
                                         {% set prod_price = fn('get_prod_price', _product) %}
                                         {{ prod_price|apply_filters('woocommerce_cart_item_price', cart_item, cart_item_key ) }}
                                     </div>#}
                                </div>
                                <div class="product-price-wrapper d-flex justify-content-end pr-5">
                                    <div class="product-subtotal" data-title="{{ __( 'Total', 'woocommerce' )|e('html_attr') }}">
                                        <strong>{{ __( 'Total', 'woocommerce' )}}: </strong>
                                        {% set subtotal = fn('get_subtotal', _product, cart_item) %}
                                        {{ subtotal|apply_filters( 'woocommerce_cart_item_subtotal', cart_item, cart_item_key ) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}

                {% do action( 'woocommerce_cart_contents' ) %}
                {% if coupons_enabled %}
                    <div class="coupon input-type-text d-flex justify-content-end align-items-end mb-4 mt-5">
                        <div class="woocommerce-input-wrapper mr-5 mb-0 d-flex flex-column flex-grow-1">
                            <label for="coupon_code">{{ __( 'Coupon:', 'woocommerce' )|e('esc_html') }}</label>
                            <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="{{ __( 'Coupon code', 'woocommerce' )|e('html_attr') }}" />
                        </div>

                        <div class="apply_coupon_wrapper">
                            <button type="submit" class="btn btn--outlined display-4 font-weight-bold text-uppercase view mt-5" name="apply_coupon" value="{{ __( 'Apply coupon', 'woocommerce' )|e('html_attr') }}"> {{ __( 'Apply coupon', 'woocommerce' )|e('esc_html') }}</button>
                        </div>

                        {% do action( 'woocommerce_cart_coupon' ) %}
                    </div>
                {% endif %}

                <button type="submit" class="btn btn--full view mt-5 w-100" name="update_cart" value="{{  __( 'Update cart', 'woocommerce' )|e('html_attr') }}"> {{ __( 'Update cart', 'woocommerce' )|e('esc_html') }}</button>
                {% do action( 'woocommerce_cart_actions' ) %}
                {{ fn('wp_nonce_field', 'woocommerce-cart', 'woocommerce-cart-nonce') }}

                {% do action( 'woocommerce_after_cart_contents' ) %}
            </div>
            {% do action( 'woocommerce_after_cart_table' ) %}
        </form>
        {% do action( 'woocommerce_after_cart' ) %}
    </div>

    <div class="col-xs-12 col-md-4 pl-sm-5 xxs-mt-5 xs-mt-5" data-pinned-bounds>
        <div class="cart-collaterals" data-pinned-el data-self-bottom="true" data-pinned-offset="30">
            {#**
             * Cart collaterals hook.
             *
             * @hooked woocommerce_cross_sell_display
             * @hooked woocommerce_cart_totals - 10
             *#}
            {% do action( 'woocommerce_cart_collaterals' ) %}
        </div>
    </div>
</div>

<button class="btn btn--full view mt-5 w-100 xxs-visible xs-visible mobile-submit-proxy"> {{ __( 'Proceed to checkout', 'woocommerce' )|e('esc_html') }}</button>

