{% set acc = fn('wc_get_product', accessory.id) %}
{% set is_selected = accessory.id in selected_accessories[cart_item_key]|keys %}
<li class="col-xs-6" data-accessory-number="{{ accessory.id }}">
    <label class="woocommerce-form__label-for-checkbox {% if is_selected %}checkbox-checked{% endif %}">
        <input type="checkbox" value="{{ accessory.id }}" name="{{ 'cart['~ cart_item_key ~'][selected_accessories][]' }}" {% if is_selected %}checked{% endif %}/>
        <span class="svg-wrapper">{{tick}}</span>
    </label>

    <small>{{ acc.get_title() }}</small>
    <small class="accessory-price">+{{ acc.get_price() }}€</small>
</li>