{% if sidebar %}
    <aside class="layout-sidebar">
        {{ sidebar }}
    </aside>
{% endif %}
</main>

{% block footer %}
    {% include 'partial/footer.twig' %}
{% endblock %}
{% if smooth_scrollbar %}
</div>
{% endif %}
