<article {{ fn('post_class', ['card', 'card--shoe', 'w-100']) }} data-sim-link>
    {% if not prod %}
        {% set prod = post %}
    {% endif %}

    {{ fn('timber_set_product', prod) }}

    <div class="card-img-top d-flex align-items-center overlay-100 pb-5">
        <div class="img-wrapper">
            {{ get_img({
                id: prod.id,
                sizes_attr: '25vw',
                cover : false,
                size : THEME_SLUG~'_medium',
            }) }}
        </div>
    </div>

    <div class="card-body w-100 mb-3 pb-5">
        {#{% do action('woocommerce_before_shop_loop_item_title') %}#}
        <h5 class="card-title display-4 font-weight-bold upperlined mb-0">
            <a href="{% if link_to_configurator %}{{ get_configuration_url(prod.id) }}{% else %}{{ prod.link }}{% endif %}">{{ prod.title }}

                <small class="d-block w-100 mt-3 ls-1 in-card-price">{{ custom_get_prod_price(prod.id) }}</small>
            </a>
        </h5>
        {#{% do action( 'woocommerce_after_shop_loop_item_title' ) %}#}
    </div>

    {#{% do action( 'woocommerce_after_shop_loop_item' ) %}#}

</article>
