<a class="credits" href="http://www.noooagency.com/" title="Web Agency - NOOO Agency" target="_blank" rel="nofollow">
    <img src="{{ asset_path('vectors/nooo-agency-logo.svg') }}" alt="Web agency NOOO">
</a>