<!doctype html>
<html class="no-js" {{ site.language_attributes }}>
<head>
    <script>

        /**
         * SETUP GlobalObject
         */

        window.gc = {
            isMobile: null,
            themePath: '{{ theme.link }}',
            domain: '{{ site.link }}',
            lang: '{{ lang }}',
            cookies: null,
            isDev: {{ isDev }},
            labels: {
                variations_alert: "{{  __('È necessario selezionare alcuni attributi per procedere con l\'ordine, clicca sul link che trovi sul riepilogo dei dati di prodotto.', THEME_CONTEXT) }}"
            }
        };

        /**
         * Check if js is available
         */

        var root = document.getElementsByTagName('html')[0];

        if (root.classList) {
            root.classList.remove('no-js');
            root.classList.add('js');
        } else {
            root.className += ' js';
        }

        window.mapsManager = {
            googleApiReady: false,
            initializerReady: false,
            gmapsCheck : function() {
                console.log('gmaps '+ new Date().getTime());
                window.mapsManager.googleApiReady = true;
                if (window.mapsManager.initializerReady) {
                    window.mapsManager.mapsInit();
                }
            },
            myMapsCheck : function() {
                window.mapsManager.initializerReady = true;
                console.log('mymaps '+ new Date().getTime());
                if (window.mapsManager.googleApiReady){
                    window.mapsManager.mapsInit();
                }
            }
        };

    </script>
    <meta charset="{{ site.charset }}"/>
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible  x" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="author" href="{{ site.theme.link }}/humans.txt"/>
    <link rel="pingback" href="{{ site.pingback_url }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ theme.link }}/dist/images/icons/apple-touch-icon.png">
    {#<link rel="icon" type="image/png" sizes="32x32" href="{{ theme.link }}/dist/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ theme.link }}/dist/images/icons/favicon-16x16.png">#}
    <link rel="manifest" href="{{ theme.link }}/dist/images/icons/manifest.json">
    <link rel="mask-icon" href="{{ theme.link }}/dist/images/icons/safari-pinned-tab.svg" color="#f4364c">
    <meta name="theme-color" content="#000000">

    {{ function('wp_head') }}
