<div class="d-xs-none d-sm-none d-lg-inline-block display-4 info-badge">
    <div class="d-flex align-items-center justify-content-start display-4 info-badge__container">
        <img class="d-inline-block p-xs-4 p-xl-5" src="{{ asset_path('vectors/info.svg') }}">

        <div class="info-badge__content d-flex align-items-center">
            <div class="info-badge__content-wrapper p-xs-4 pt-xl-4 b-xl-4 pl-xl-0 pl-0">
                <p>{{ __('Possiamo aiutarti nella configurazione?', THEME_CONTEXT ) }}</p>
                <span
                        class="d-block mt-3"><a class="d-xs-block d-md-inline-block font-weight-bold" href="mailto:info@dancenaturals.it">info@dancenaturals.it</a><span class="d-xs-none d-lg-inline-block">&nbsp;-&nbsp;</span><a class="d-xs-block d-lg-inline-block mt-xs-2 mt-lg-0" href="tel:+390498935140">tel.+39 049 893 5140</a></span>
            </div>
            <span class="info-badge__close pr-xl-5"></span>
        </div>
    </div>
</div>
