{% if menu %}
    <ul class="menu-level-{{ level }} list-unstyled ">
        {% for item in menu %}
            <li class="{{ item.classes | join(' ') }}">
                    <a target="{{ item.target }}" href="{{ item.link }}"
                                                data-menu-item-id="menu-item-{{ item.object_id }}">{{ item.title }}</a>
                {% include "partial/menu.twig" with {'menu': item.get_children, 'level': level+1 } %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
