<div class="dn-modal-wrapper align-items-center d-none">
    <div class="dn-modal-background"></div>
    <div id="dn-modal" class="dn-modal align-items-center bg-white p-5" aria-labelledby="dn-modal-label">
        <div class="dn-modal-header pt-3 position-relative">
            <h5 class="dn-modal-title d-block font-primary font-italic display-2 mb-3" id="dn-modal-label"></h5>
            <button type="button" class="close" aria-label="Close"><span>{{ close_icon }}</span></button>
        </div>
        <div id="dn-modal-body" class="dn-modal-body modal-body mb-5"></div>
        <div class="dn-modal-footer pt-3 d-flex justify-content-end">
            <button type="button" class="btn btn--full modal-close">{{ __('Chiudi', THEME_CONTEXT) }}</button>
        </div>
    </div>
</div>
