<section class="section section-background d-flex align-items-center justify-content-center w-100 vh-50-min pt-5 pb-5"
         id="section-newsletter">
    <div class="container-fluid mt-5 mb-5 pt-5 pb-5">
        <div class="row">
            <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3 text-center">
                <h5 class="display-3 font-weight-bold text-uppercase">{{ options['newsletter_t'|translate_field] }}</h5>
                <p class="display-3 mt-3 mb-5 font-primary font-italic lh-2">{{ options['newsletter_paragraph'|translate_field] }}</p>
            </div>

            <div class="col-xs-10 offset-xs-1 col-lg-6 offset-lg-3 form-wrapper">
                {{ newsletter_form }}
            </div>
        </div>
    </div>
</section>
