<section id="hero" class="section hero d-flex">
    <div class="d-flex align-items-center w-100">
        <div class="jumbotron jumbotron-fluid jumbotron--transparent text-center w-100 mb-0">
            <div class="align-self-center">
                <div class="container-fluid">
                    <div id="hero-title" class="row">
                        {% if post.page_title %}
                            {% set title = post.page_title %}
                        {% else %}
                            {% set title = post.title %}
                        {% endif %}
                        <div
                            class="{{ col_title ? col_title : 'col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4' }}">
                            {% if post.page_label %}
                                <span class="pre-title mb-3 mt-5 text-center">{{ post.page_label }}</span>
                            {% endif %}
                            <h1 class="title text-uppercase text-center">
                                    <span class="d-block font-primary font-italic display-2 ls-2 lh-1">
                                        {{ title }}
                                    </span>
                            </h1>
                        </div>
                        {% if  post.page_intro %}
                            <div
                                class="{{ col_intro ? col_intro : 'col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3' }}">

                                <p class="lead pr-5 pl-5 display-4 lh-3 text-center upperlined upperlined--thin">
                                    {{  post.page_intro }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {#{% if post.intro_floating_text %}#}
                {#<div#}
                {#class="w-100 text-nowrap text-white text-scrolling text-scrolling--faded o-hidden">#}
                {#<span class="display-1 color-primary font-weight-bold font-italic ls-4 text-uppercase ">{{ post.intro_floating_text }}</span>#}
                {#</div>#}
                {#{% endif %}#}

                {#{% if post.get_field('intro_gallery') %}#}
                {#<div class="container-fluid">#}
                {#<div class="row">#}
                {#{% for image in post.get_field('intro_gallery') %}#}
                {#{% for i in 0..2 %}#}
                {#<div class="col-xs-12 col-md-4">#}
                {#<div class="img-wrapper">#}
                {#{{ get_img({#}
                {#id: image.id,#}
                {#sizes_attr: '20vw',#}
                {#cover: false,#}
                {#}) }}#}
                {#</div>#}
                {#</div>#}
                {#{% endfor %}#}
                {#{% endfor %}#}
                {#</div>#}
                {#</div>#}
                {#{% endif %}#}
            </div>
        </div>
    </div>
</section>
