<div class="privacy-wrapper d-flex flex-grow-1">
    <div class="form-group col col-xs-12 col-md-10 p-0">
        <div class="privacy">{{ __('I dati verranno trattati conformemente al Reg. EU 2016/679 può trovare l\'', THEME_CONTEXT~'_privacy') }}<a href="{{ privacy_policy_url }}">{{ __('informativa ai sensi dell\'art. 13', THEME_CONTEXT~'_privacy') }}</a></div>
        <div class="privacy">
            <span class="wpcf7-form-control-wrap privacy-acceptance">
                <span class="wpcf7-form-control wpcf7-custom_acceptance">
                    <label class="wpcf7-list-item woocommerce-form__label-for-checkbox">
                        <input type="checkbox" name="privacy-acceptance">
                        <span class="svg-wrapper"><!--?xml version="1.0" encoding="UTF-8"?-->
<svg width="168px" height="157px" viewBox="0 0 168 157" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
    <title>tick</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <g id="tick" transform="translate(43.000000, 42.000000)">
            <polyline class="strokable" id="bottom-tick" stroke="#FFFFFF" stroke-width="60" points="0 55.3803711 12.6542174 65.768075 21.3183594 72.8803711 81.8271484 1.19824219"></polyline>
            <polyline class="strokable" id="top-tick" stroke="#1F1F1F" stroke-width="25" points="0 54.918457 12.6542174 65.3061609 21.3183594 72.418457 82.6259766 0"></polyline>
        </g>
    </g>
</svg>
</span>
                        <span class="wpcf7-list-item-label">{{ __('Ricevuta, letta e compresa l’informativa relativa all’utilizzo dei miei dati personali (di cui all’art. 13 del Regolamento Europeo 2016/679), da parte del Titolare del Trattamento Dance Naturals di Calzaturificio Lady Laura Srl secondo le finalità riportate di seguito nell\'',  THEME_CONTEXT~'_privacy') }}<a href="{{ data_processing_policy_url }}">{{ __('informativa specifica',  THEME_CONTEXT~'_privacy') }}</a>
                        </span>
                    </label>
                </span>
            </span>
        </div>
        <div class="privacy">
            <span class="wpcf7-form-control-wrap mailchimp-acceptance">
                <span class="wpcf7-form-control wpcf7-custom_acceptance">
                    <label class="wpcf7-list-item woocommerce-form__label-for-checkbox">
                        <input type="checkbox" name="mailchimp-acceptance">
                        <span class="svg-wrapper"><!--?xml version="1.0" encoding="UTF-8"?-->
<svg width="168px" height="157px" viewBox="0 0 168 157" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
    <title>tick</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <g id="tick" transform="translate(43.000000, 42.000000)">
            <polyline class="strokable" id="bottom-tick" stroke="#FFFFFF" stroke-width="60" points="0 55.3803711 12.6542174 65.768075 21.3183594 72.8803711 81.8271484 1.19824219"></polyline>
            <polyline class="strokable" id="top-tick" stroke="#1F1F1F" stroke-width="25" points="0 54.918457 12.6542174 65.3061609 21.3183594 72.418457 82.6259766 0"></polyline>
        </g>
    </g>
</svg>
</span>
                        <span class="wpcf7-list-item-label">{{ __('Sono a conoscenza che i dati potranno essere trasferiti in USA secondo le garanzie sancite dal Privacy-Shield', THEME_CONTEXT~'_privacy') }}</span>
                    </label>
                </span>
            </span>
        </div>
    </div>
</div>