@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "_variables";

$theme-colors: map-remove($theme-colors, "info", "light", "dark", "danger", "gray", "warning", "secondary");
//$font-family-monospace: $monospace;

$grid-breakpoints: (
    xxs: 0,
    xs: 321px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
);

$theme-colors: (
    primary: $primary
);

@import "~bootstrap/scss/mixins/_breakpoints";

