// convert rem unit to px
$pixelBase: 16;

@function parseInt($n) {
    @return $n / ($n * 0 + 1);
}

@function calcFullHeight ($elements) {
    $result: 'calc(100vh';

    $isMap : type_of($elements) == 'list';

    @if $isMap {
        @each $element in $elements {
            $result: $result+' - '+$element;
        }
    }

    @else {
        $result: $result+' - '+$elements;
    }

    $result: $result+')';

    @return unquote($result);
}
