//generate no-alpha background
@mixin alpha($property, $color, $alpha) {
    #{$property}: $color;
    #{$property}: rgba($color, $alpha);
}

// genereate fallbacks for alpha propriety
@mixin opacity($opacity) {
    $opacity-ie: $opacity * 100;

    filter: alpha(opacity=$opacity-ie); //IE8
    opacity: $opacity;
}

@mixin aspect-ratio($width, $height) {
    padding-top: ($height / $width) * 100%;
}

@mixin respond-to($property, $map) {
    @each $key, $val in $map {
        @include media-breakpoint-up($key) {
            #{$property}: #{$val};
        }
    }
}

@mixin dynamic-respond-to($args) {
    $property : map_get($args, property);
    $map : map_get($args, map);
    $fn : map_get($args, fn);
    $fnArgs : map_get($args, fn_args);

    @each $key, $val in $map {
        @include media-breakpoint-up($key) {
            #{$property}: call(get-function($fn), join($val, $fnArgs));
        }
    }
}

/*
 * USAGE:
 * @include generate-class([string]'.d', [string]'font-size', [sass-list]$list);
 * EXAMPLE $list: (
 *     4rem,
 *     6rem,
 *      ecc....
 * )
 */
@mixin generate-class($classPrefix, $property, $list) {
    $i : 0;

    //FIRST LOOP CREATES A RESETTER CLASS
    #{$classPrefix}-#{$i} {
        #{$property}: $i;
    }
    $i: $i + 1;

    @each $val in $list {
        #{$classPrefix}-#{$i} {
            #{$property}: $val;
        }
        $i: $i + 1;
    }
}

/*
 * USAGE:
 * @include generate-responsive-class([string]'.d', [string]'font-size', [sass-map]$sizes);
 * EXAMPLE $sizes: (
 *     xs: 4rem,
 *     sm: 6rem,
 *      ecc....
 * )
 */
@mixin generate-responsive-class($classPrefix, $property, $sizeSmap) {
    @each $key, $val in $sizeSmap {
        @for $i from 1 through length($sizeSmap) {
            #{$classPrefix}-#{$key}-#{$i} {
                @include media-breakpoint-up($key) {
                    #{$property}: map_get($sizeSmap, $key);
                }
            }
        }
    }
}

/**
 * ALL TITLES
 */

@mixin all-titles {
    h1,
    h2,
    h3,
    h4,
    h6 {
        @content;
    }
}
