.btn .badge {
    &--menu {
        width: 2.2rem;
        height: 2.2rem;
        top: .2rem;
        right: -1rem;
        padding-top: .5rem;
        // DANCE NATURALS FIXES
        //background-color: $primary;
        background-color: $brand;
        color: #fff;
        border-radius: 100%;
    }
}

.info-badge {
    padding-top: 3rem;
    transform: translateY(50%);
    opacity: 0;
    z-index: 1;
    transition: opacity .6s ease, transform .6s ease;

    &__container {
        border-radius: 10px;
        box-shadow: 0 4px 15px 0 rgba(#000, .05), 0 7px 40px 0 rgba(#000, .05);
    }
}

.page-load-end {
    .info-badge {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 4s;
    }
}

.page-template-configurator {
    .info-badge {
        bottom: 0;
        left: 0;
    }
}
