.btn {
    padding: 0;
    background-color: transparent;
    font-size: map_get($display-sizes, xs);
    border-color: transparent;
    outline: none;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }

    &[disabled],
    &.disabled {
        opacity: .15;
    }

    &--menu {
        width: 10.5rem;
        height: map-get($navbar-height, lg);
        background-color: $brand;
        color: $white !important;
        border: none;
        border-radius: 0;

        .fillable {
            fill: $white;
        }
    }

    &--text {
        background-color: transparent;
        color: $primary;
        border: none;

        &:hover,
        &:active,
        &:focus {
            color: $primary;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &--submit {
        // DANCE NATURALS FIXES
        //background-color: $primary;
        background-color: $brand;
        color: #fff;
        border-radius: 0;
        transition: background .3s ease;

        &:hover {
            background-color: darken($brand, 5%);
        }
    }

    &--full {
        min-width: 22rem;
        padding: 1rem 2rem;
        border: 3px solid $brand;
        border-radius: 0;
        background-color: $brand;
        color: $white;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;

        &:hover {
            background-color: darken($brand, 5%);
        }
    }

    &__outlined {
        @extend .btn--full !optional;

        line-height: 1.5;
        // DANCE NATURALS FIXES
        //color: $primary;
        color: $brand;
        background-color: transparent;
        text-align: center;

        @include hover-focus-active {
            color: $white;
            background-color: $brand;
        }
    }

    &__underlined {
        position: relative;
        display: inline-block;
        padding: 1rem 0;
        line-height: 2;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;

            &::after {
                transform: scale(.85) translateY(-.2rem);
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: $brand;
            transition: transform .35s;
        }
    }

    &.loading {
        background-color: $brand;
    }
}

#btn-toggle {
    z-index: 3;

    .navbar-icon__line {
        background-color: $white;
    }
}

.woocommerce .vpc-configure-button.button {
    @extend .btn;
    @extend .btn__outlined;
}

.primary-cta {
    cursor: pointer;
    transition: opacity .5s ease;

    &:hover {
        opacity: .8;
    }
}
