input {
    font-size: 1.6rem;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 1.2rem;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        font-size: 1.2rem;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        font-size: 1.2rem;
    }

    &:-moz-placeholder { /* Firefox 18- */
        font-size: 1.2rem;
    }

    &[type="checkbox"] {
        appearance: none;
        width: 14px;
        height: 14px;
        border: 2px solid $black;
    }
}

// RESETTING SELECTWOO STYLES
.select2-container--default {
    .select2-selection--single {
        border: 0;
        background-color: transparent;
        outline: none;

        .select2-selection__arrow b {
            display: none;
        }
    }

    .select2-results__option[aria-selected=true],
    .select2-results__option[data-selected=true] {
        color: $primary;
        background-color: $background;
    }

    .select2-results__option--highlighted[aria-selected],
    .select2-results__option--highlighted[data-selected] {
        color: $white;
        background-color: $primary;
    }

    .select2-dropdown--below,
    .select2-dropdown--above {
        .select2-search--dropdown {
            padding: 1rem 2rem;
        }

        .select2-search__field {
            padding: 1rem;
            border: 0;
            border-radius: 0;
            background-color: $background;
        }
    }
}

.select2-container--open {
    .select2-dropdown--below {
        border: 0;
        border-radius: 0;
        box-shadow: 0 40px 60px 0 rgba(#000, .15);
    }

    .select2-dropdown--above {
        border: 0;
        border-radius: 0;
        box-shadow: 0 -20px 60px 0 rgba(#000, .15);
    }
}

.select2-results__option {
    padding-left: 2rem;
    padding-right: 2rem;
}

.input-text {
    padding: 1rem 2rem 2rem 0;
    border: 0;
}

.woocommerce-form__label-for-checkbox {
    position: relative;

    .svg-wrapper {
        position: absolute;
        top: -5px;
        left: 1px;
        height: 18px;

        .strokable {
            stroke-dasharray: 130;
            stroke-dashoffset: 130;
            transition: .25s stroke-dashoffset $cubicFastInSlowOut;
        }
    }

    &.checkbox-checked {
        .strokable {
            stroke-dashoffset: 0;
        }
    }
}

.woocommerce,
.form-address {
    form {
        &.login,
        &.register {
            margin-left: auto;
            margin-right: auto;
            border: 0;
            padding: 0;
        }

        .form-row {
            padding-left: 0;
            padding-right: 0;
            margin-right: 0;
            margin-left: 0;

            .woocommerce-form__label-for-checkbox {
                line-height: 1;
            }
        }

        label {
            @extend .display-4 !optional;
            @extend .ls-1 !optional;

            text-transform: uppercase;

            small {
                text-transform: none;
                letter-spacing: 0;
            }
        }

        .required {
            @extend .font-primary !optional;

            color: red;
            font-weight: 700;
            cursor: default;
        }
    }

    .woocommerce-input-wrapper {
        display: block;
        position: relative;
        margin: 1rem 0;
        width: 100%;

        label {
            text-align: left;
        }
    }

    .form-notice {
        margin-left: 2rem;
    }

    legend {
        @extend .ls-1 !optional;
        @extend .text-uppercase !optional;

        display: block;
        font-weight: 700;
    }
}

.form-address {
    form {
        max-width: 70rem;
    }
}

.input-underlined {
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $primary;
    }

    &::before {
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 1s $cubicFastInSlowOut;
    }

    &::after {
        opacity: .2;
    }

    &.in-focus {
        &::before {
            transform: scaleX(1);
        }
    }
}

.input-type-text {
    .woocommerce-input-wrapper,
    .wpcf7-form-control-wrap {
        @extend .input-underlined;
    }
}
