#preloader {
    &::before {
        background-image: url('../vectors/tail-spin-red.svg');
    }
}

.tax-product_cat {
    &::before {
        background-image: url('../vectors/tail-spin-red.svg');
    }
}
