.product-category-tabs__nav {
    .nav-item .nav-link {
        position: relative;
        opacity: .5;

        &::after {
            @extend .position-absolute;
            @extend .w-100;

            height: 2px;
            bottom: -10px;
            left: -.2rem;
            background-color: $primary;
            transform: scaleX(0);
            transform-origin: left center;
            transition: .3s ease;
            content: '';
        }

        &.active {
            opacity: 1;

            &::after {
                transform: scaleX(1);
            }
        }
    }
}
