.colophon {
    .logo {
        // DANCE NATURALS FIXES
        display: inline-block;
        //width: 3rem;
        //height: 100%;
        width: 11rem;
        vertical-align: middle;

        @include media-breakpoint-down(md) {
            //width: 4.5rem;
            width: 14rem;
        }
    }

    &__nav {
        li.social {
            transition: opacity .3s ease;

            &:hover {
                opacity: .7;
            }
        }
    }
}
