.main-navigation {
    &__nav {
        display: flex;
        width: 100%;
        height: map_get($navbar-height, lg);
        justify-content: space-between;
        background-color: $white;
        box-shadow: 0 0 5rem 0 rgba(#000, .05);
        transition: background-color .3s ease, box-shadow .3s ease;

        @include media-breakpoint-down(sm) {
            background-color: $brand;
        }

        &--transparent {
            background-color: transparent;
            box-shadow: none;

            #nav-logo {
                .fillable {
                    fill: #fff;
                }
            }
        }
    }
}

.mobile {
    .main-navigation {
        z-index: 99; // Fixing rendering problems with slider
    }
}

#nav-logo {
    display: block;
    //transform: translateX(50%);

    svg {
        width: 4rem;
        height: auto;
    }

    // DANCE NATURALS FIXES
    width: 12rem;
    overflow: hidden;
    transform: none !important;

    picture,
    img {
        display: block;
        width: 100%;
    }
}

.overlay-menu__shutter,
.overlay-menu__shutter-inverted {
    transform: scaleX(0);
}

.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    &__main-wrapper {
        background-color: #fff;
        overflow: hidden;
        transform: translateX(-100%);

        @include media-breakpoint-down(md) {
            height: 100%;
        }
    }

    &__main-nav {
        .current-menu-item {
            a {
                opacity: 1;
                transform: scale(1);
            }
        }

        li {
            @extend .d-block !optional;

            @include hover-focus-active {
                a {
                    color: $primary;
                    opacity: 1;
                    text-decoration: none;

                    &::before {
                        transform: scaleX(1);
                        transform-origin: left center;
                    }
                }

                &.current-menu-item {
                    a {
                        transform: scale(1);
                        cursor: default;

                        &::before {
                            transform: scaleX(0);
                        }
                    }
                }
            }
        }

        a {
            position: relative;

            @extend .d-inline-block !optional;
            @extend .font-primary !optional;
            @extend .font-italic !optional;
            @extend .ls-0 !optional;

            transform: scale(.85);
            transform-origin: center left;
            opacity: .4;
            transition: opacity .3s ease, transform .8s $cubicFastInSlowOut;

            @media (min-width: 1680px) {
                font-size: calc(3.5rem + 1vw) !important;
            }

            &::before {
                position: absolute;

                @extend .d-block !optional;
                @extend .w-100 !optional;

                height: .2rem;
                top: 55%;
                left: 0;
                background-color: $brand;
                z-index: 1;
                transform: scaleX(0);
                transform-origin: right center;
                transition: transform .6s $cubicFastInSlowOut;
                content: '';
            }
        }
    }

    &__main-inner {
        //padding-left: 10%;
        //width: 100%;
        transform: translateX(100%);

        li {
            opacity: 0;
            transform: translateY(80px) rotate(-5deg);
        }
    }

    &__secondary-nav {
        a {
            font-weight: 400;
        }
    }

    &__cta-wrapper {
        overflow: hidden;
        transform: translateX(-100%);
    }

    &__cta-inner {
        width: 100%;
        transform: translateX(100%);

        a {
            display: block;
            width: 100%;

            @include hover-focus-active {
                text-decoration: none;
            }
        }

        p {
            opacity: 0;
            transform: translateY(50px) rotate(-5deg);
        }
    }

    &__cta {
        overflow: hidden;
    }

    .img-wrapper {
        transform: translateX(-10%);
    }
}
