.home {
    &.hero {
        background-image: url();
    }
}

.display-1 {
    @media (min-width: 1680px) {
        font-size: calc(7rem + 1vw) !important;
    }
}

.display-2 {
    @media (min-width: 1680px) {
        font-size: calc(5rem + 1vw) !important;
    }
}
