{% extends 'base.twig' %}

{% block outer_content %}
    {% if filters_sidebar %}
        <div class="range-slider">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-xs-12 col-lg-12">
                        <ul class="d-flex list-unstyled mb-0 justify-content-center">
                            {{ filters_sidebar }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}

    {% if post.page_welcome %}
        {% include ["partial/page-welcome.twig"] %}
    {% endif %}

    {% do action('woocommerce_before_main_content') %}
    {% if fn('woocommerce_product_loop') %}
        <section id="products-grid" class="section d-flex">
            <div class="container-fluid p-5 product-category-tabs">
                {% do action('woocommerce_before_shop_loop') %}

                {% if posts_per_category %}
                    <div class="row row-eq-height">
                        <ul id="product-tabs" class="nav nav-tabs col-xs-12 product-category-tabs__nav d-flex justify-content-center mb-4 pb-5 border-0" id="product-category-tabs__nav" role="tablist">
                            {% for cat_name,posts in posts_per_category %}
                                {% set cat_slug =  cat_name|slugify %}
                                <li class="nav-item ml-4 mr-4 nooo-ajax-link">
                                    <a class="nav-link display-4 text-uppercase font-weight-bold ls-2 p-0 border-0 {% if loop.index == 1 %}active{% endif %}" id="{{cat_slug}}-tab" data-toggle="tab" href="#archive-tab-{{cat_slug}}" role="tab" aria-controls="archive-tab-{{cat_slug}}" aria-selected="{% if loop.index == 0 %}true{% else %}false{% endif %}">{{cat_name}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tab-content product-category-tabs__content" id="product-category-tabs__content">
                        {% for cat_name,posts in posts_per_category %}
                            {% set cat_slug =  cat_name|slugify %}
                            <div class="tab-pane fade {% if loop.index == 1 %}show active{% endif %}" id="archive-tab-{{ cat_slug }}" role="tabpanel" aria-labelledby="{{ cat_slug }}-tab">
                                <div class="row row-eq-height">
                                    {% for prod in posts %}
                                        <div class="col-xs-6 col-md-4 col-lg-3 col-lg-2_4 d-flex mb-5 shoes-cards-grid">
                                            {% include ["partial/card-product.twig"] with { 'link_to_configurator' : true, 'prod' : prod } %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </section>
        {% do action('woocommerce_after_shop_loop') %}
    {% else %}
        {% do action( 'woocommerce_no_products_found' ) %}
    {% endif %}

    {% do action('woocommerce_after_main_content') %}
    {% include 'partial/newsletter-section.twig' %}
    {% include 'partial/after-content.twig' with {'smoot_scrollbar' : true }%}

{% endblock %}
