{% extends "base.twig" %}

{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}
    {% do action('woocommerce_before_single_product') %}

    <article itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class }}"
             data-pinned-bounds data-above-the-fold>
        <div class="container-fluid">
            <div class="row d-flex no-gutters align-items-start">
                <div class="col-xs-12 col-mobile-md-12 col-md-6 single-product-details__images">
                    {% do action('woocommerce_before_single_product_summary') %}
                </div>

                <div class="col-xs-12 col-mobile-md-10 col-md-4 offset-md-1 single-product-details__summary mt-5 pt-5" {% if config_price %}data-config-price="{{ config_price }}"{% endif %}
                     data-pinned-el>
                    {% do action('woocommerce_single_product_summary') %}
                </div>
            </div>
        </div>

        <meta itemprop="url" content="{{ current_prod.link }}"/>
    </article>

    <section id="prod-info" class="section w-100 spacer spacer--top-2 spacer--bottom-2 o-hidden mb-5 p-xs-0 p-md-5 justify-content-center align-items-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-mobile-md-10 col-md-5 offset-md-1">
                    <div class="tabProduct tabProduct-tabs">
                        <div class="row row-eq-height">
                            <ul class="nav nav-tabs col-xs-12 product-category-tabs__nav d-xs-block d-md-flex justify-content-start mt-5 pt-5 mb-4 pb-5 border-0">
                                {% for i in 1..3 %}
                                    <li class="nav-item ml-4 mr-4">
                                        <a class="nav-link display-4 text-uppercase font-weight-bold ls-1 p-0 border-0 {% if i is same as(1) %}active{% endif %}"
                                           id="{{ options['tab_'~i~'_t'|translate_field]|slugify }}-tab" data-toggle="tab" href="#{{ options['tab_'~i~'_t'|translate_field]|slugify }}" role="tab"
                                           aria-controls="{{ options['tab_'~i~'_t'|translate_field]|slugify }}"
                                           aria-selected="{% if i is same as(1) %}true{% else %}false{% endif %}">{{ options['tab_'~i~'_t'|translate_field]  }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="tab-content mt-5 mb-3" id="tabProductContent">
                            {% for i in 1..3 %}
                                <div class="tab-pane fade {% if i is same as(1) %}active show{% endif %}" id="{{ options['tab_'~i~'_t'|translate_field]|slugify }}" role="tabpanel"
                                     aria-labelledby="{{ options['tab_'~i~'_p'|translate_field]|slugify }}-tab">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="display-4 mb-5 lh-4">
                                                {{  options['tab_'~i~'_p'|translate_field] }}
                                                {% if(post.get_field('global_config')) %}
                                                    {{  options['tab_4_p'|translate_field] }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if 7581 in product_terms or 7582 in product_terms %}
                <div class="col-xs-12 col-mobile-md-10 col-md-4 offset-md-1 d-xs-none d-md-block">
                    <svg id="sole" width="100%" viewBox="0 0 638 582" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Configuratore" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Artboard" transform="translate(-252.000000, -130.000000)">
                                <g transform="translate(252.000000, 130.000000)">
                                    <g id="wave-1">
                                        <path
                                            d="M304.295543,482.12945 C339.622629,514.133703 392.293161,533.504324 448.647802,537.810027 C500.884112,541.801076 549.705586,532.046165 575.844673,512.223014 C610.75416,485.748637 601.261779,453.568299 547.01538,415.314821 C439.09363,328.417203 364.542752,268.340073 323.362603,235.083316 C243.087344,170.253663 184.39764,122.637517 147.293071,92.234532 C103.35606,56.2331358 64.6563166,48.1155867 37.2512209,62.7986022 C15.0672349,74.684268 4.95668542,100.81905 14.3573588,117.837334 C19.5021728,127.151125 24.757585,133.689003 32.3709855,140.554518 C37.4666822,145.14965 62.4729675,164.630595 67.4747824,168.713585 C87.3137967,184.908203 107.994595,203.69974 133.291423,229.244705 C162.991205,262.260957 185.348081,292.522815 203.826941,323.330228 C211.172,335.575695 217.768616,347.64383 224.815773,361.47313 C228.715554,369.126038 240.748532,393.532802 241.713109,395.457949 C255.64315,423.260177 266.149617,440.51878 281.132619,458.255073 C288.029966,466.419883 295.669213,474.314504 304.295543,482.12945 Z"
                                            id="Path-7" stroke="#363B3D" opacity="0.22312128"></path>
                                    </g>

                                    <g id="wave-2">
                                        <path
                                            d="M308.335894,519.629628 C346.575447,554.309391 406.304137,575.337594 471.008928,579.918448 C530.870126,584.156394 586.759455,573.385681 615.071794,551.891473 C652.989428,523.105102 642.677106,488.107741 583.783306,446.532776 C466.651969,352.118991 385.739235,286.845519 341.04496,250.712247 C253.91941,180.275234 190.221432,128.5406 149.950607,95.5079973 C101.940658,56.1272907 59.2980838,45.9195101 29.6322989,60.4883287 C4.85672696,72.6555716 -5.52503098,101.108642 5.61608969,123.398045 C12.8130424,137.796577 20.5599339,147.142411 33.0306619,157.52346 C36.2017382,160.163169 60.8305852,179.022018 70.0596405,186.769621 C88.2971221,202.079612 106.548062,219.936956 127.395075,243.693544 C156.506704,281.223477 178.871959,314.850764 198.156262,348.776802 C205.580187,361.83739 212.284371,374.43395 220.018589,389.629851 C221.489796,392.520423 234.366568,418.134339 238.008643,425.173151 C250.48783,449.290905 260.569297,465.892518 273.40772,482.345314 C283.358996,495.098151 294.728269,507.288762 308.335894,519.629628 Z"
                                            id="Path-7-Copy" stroke="#363B3D" opacity="0.22312128"></path>
                                    </g>

                                    <path
                                        d="M26.1778426,112.907993 C28.8026027,115.997616 31.6116301,118.832391 34.965482,121.810824 C39.6671619,125.986214 63.0752353,144.110727 68.1455648,148.211311 C87.409034,163.79047 108.116245,182.202597 134.096315,207.476235 C160.569725,235.82571 181.48188,263.137463 200.159889,292.50625 C207.454551,303.976177 214.202308,315.395101 221.970275,329.206668 C224.735168,334.12269 237.182017,356.619569 240.542891,362.552819 C260.428319,397.658333 275.807823,418.560983 298.767937,438.598069 C329.069143,465.041659 378.87741,481.388061 433.408596,485.154491 C483.897995,488.641757 530.812863,480.538627 553.098348,464.258231 C558.211329,460.523003 561.746478,457.377174 564.254294,454.312128 C567.4731,450.37811 569.154841,446.405153 569.953197,441.0665 C570.618178,436.619736 570.690588,432.932104 570.562276,420.619891 C570.521257,416.6839 570.504034,414.293982 570.504034,411.515805 C570.504034,405.329492 556.405801,396.255691 528.432835,385.222437 L528.310259,385.17409 L528.197989,385.105113 C424.371345,321.315513 354.650515,275.568188 319.001039,247.835518 C288.865318,224.392144 264.67265,201.360791 235.793953,170.374921 C234.017914,168.469292 212.173748,144.747247 206.429168,138.720455 C196.413004,128.212231 188.637423,120.814615 181.290681,115.015734 C149.505009,89.9268782 113.121237,69.1923113 83.23095,59.2465173 C51.3008652,48.621994 29.8914644,51.1181249 23.9091333,67.5141432 C17.209851,85.8751393 18.8461876,102.897882 26.1778426,112.907993 Z"
                                        id="Path-7" stroke="#363B3D" stroke-width="3" fill="#FFFFFF"></path>
                                    <g id="sole-base">
                                        <path
                                            d="M306.7588,412.349714 C373.964529,470.602699 506.60938,471.160482 553.554559,437.097295 C584.851344,414.388504 576.321672,386.721649 527.965541,354.096729 C400.228845,285.062404 319.809759,229.134579 286.708282,186.313256 C193.368732,65.5656826 163.491771,53.5301374 111.680971,41.2868228 C59.8701716,29.0435083 -8.38059343,54.3754442 41.935664,100.70371 C92.2519215,147.031976 108.354888,147.974477 151.535433,192.767164 C250.861547,298.412409 239.553071,354.096729 306.7588,412.349714 Z"
                                            id="Path-7" fill="#D8D8D8" fill-rule="nonzero"></path></g>
                                    <g id="arrow-near">
                                        <g transform="translate(398.000000, 307.000000) rotate(-180.000000) translate(-398.000000, -307.000000) translate(375.000000, 260.000000)"
                                           fill="#363B3D">
                                            <polygon id="Path"
                                                     points="25.8245614 94 20.1754386 94 20.1754386 10.7427905 4.03508772 26.3329377 0 22.4026485 23 0 46 22.4026485 41.9649123 26.4639474 25.8245614 10.7427905"></polygon>
                                        </g>
                                    </g>
                                    <g id="arrow-far">
                                        <g transform="translate(117.000000, 39.000000) rotate(-180.000000) translate(-117.000000, -39.000000) translate(99.000000, 0.000000)"
                                           fill="#363B3D">
                                            <polygon id="Path"
                                                     points="20.2105263 78 15.7894737 78 15.7894737 8.91423043 3.15789474 21.8507356 0 18.5894318 18 0 36 18.5894318 32.8421053 21.9594457 20.2105263 8.91423043"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>

                    <h4 class="d-block display-4 text-uppercase ls-1 w-100 text-center pt-5 text-center font-weight-bold">{{ options['insole_t'|translate_field] }}</h4>
                    <small class="d-block w-100 text-center font-italic mt-3 lh-3">{{ options['insole_p'|translate_field] }}</small>
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    {% include 'partial/module-ecommerce-cta.twig' %}

    {% include 'partial/related-section.twig' %}

    {% include 'partial/newsletter-section.twig' %}

    {% do action('woocommerce_after_single_product') %}
    {% include 'partial/after-content.twig' with {'smooth_scrollbar' : true } %}
{% endblock %}

{% block outer_content %}
    {% include 'partial/modal.twig' %}
    {% include 'partial/info-badge.twig' %}
{% endblock %}
