{% extends 'base.twig' %}

{% block outer_content %}
    {% if filters_sidebar %}
        <div class="range-slider">
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-xs-12 col-lg-12">
                        <ul class="d-flex list-unstyled mb-0 justify-content-center">
                            {{ filters_sidebar }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'partial/before-content.twig' with { 'smooth_scrollbar' : true } %}

    {% if post.page_welcome %}
        {% include ["partial/page-welcome.twig"] %}
    {% endif %}
    {% do action('woocommerce_before_main_content') %}
    {% if fn('woocommerce_product_loop') %}
        <section id="products-grid" class="section d-flex">
            <div class="container-fluid p-5 product-category-tabs">
                {% do action('woocommerce_before_shop_loop') %}

                {% if cats %}
                    <div class="row row-eq-height">
                        <ul class="nav nav-tabs col-xs-12 product-category-tabs__nav d-flex justify-content-center mb-4 pb-5 border-0" id="product-category-tabs__nav" role="tablist">
                            {% for cat_name, cat_link in cats %}
                                <li class="nav-item ml-4 mr-4 nooo-ajax-link">
                                    <a class="nav-link display-4 text-uppercase font-weight-bold ls-2 p-0 border-0 {% if cat_name == current_cat %}active{% endif %}" id="{{cat_name|slugify}}-tab" data-toggle="tab" href="{{cat_link}}" role="tab" aria-controls="archive-tab-{{cat_name|slugify}}" aria-selected="{% if loop.index == 0 %}true{% else %}false{% endif %}">{{cat_name}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="row row-eq-height">
                    {% for prod in products %}
                        <div class="col col-xs-6 col-md-4 col-lg-3 col-lg-2_4 d-flex mb-5 shoes-cards-grid">
                            {% include ["partial/card-product.twig"] with { 'prod' : prod } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% do action('woocommerce_after_shop_loop') %}
    {% else %}
        {% do action( 'woocommerce_no_products_found' ) %}
    {% endif %}

    {% do action('woocommerce_after_main_content') %}

    {% include 'partial/newsletter-section.twig' %}
    {% include 'partial/after-content.twig' with {'smoot_scrollbar' : true }%}

{% endblock %}
