.woocommerce-account {
    .woocommerce-form.woocommerce-form-login.login {
        background-color: transparent;
        padding: 0 !important;
    }

    .login__content-col {
        background-color: transparent !important;
    }

    .user-related-content {
        min-height: 100vh;
    }
}
