noscript img {
    @extend .overlay-100;

    height: auto;
}

.img-wrapper {
    width: 100%;
    overflow: hidden;
    z-index: 0;

    img {
        width: 100%;
        overflow: hidden;
        z-index: 0;
    }

    &.has-overlay {
        &::before {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background-color: #382f2d;

            @include opacity(.5);

            z-index: 1;
            content: '';
        }
    }
}

.lazy-canvas {
    @extend .overlay-100;

    opacity: 0;
    pointer-events: none;
    transition: opacity .3s linear .7s, transform 1s cubic-bezier(0.13, 0.75, 0.36, 1);
}

.lazy-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img[data-magic-src],
.lazy-canvas[data-magic-src] {
    opacity: 1;
    transform: scale(1.1);
    z-index: 2;
}
