<section class="woocommerce-order-details pt-5">
    {% do action( 'woocommerce_order_details_before_order_table', order ) %}

    <h2 class="display-4 ls-1 text-uppercase ml-2 mb-4 d-none">{{ __( 'Order details', 'woocommerce' ) }}</h2>

    <table class="woocommerce-table woocommerce-table--order-details shop_table order_details w-100">

        <thead>
        <tr>
            <th class="woocommerce-table__product-name product-name">{{ __( 'Product', 'woocommerce' ) }}</th>
            <th class="woocommerce-table__product-table product-total">{{ __( 'Total', 'woocommerce' ) }}</th>
        </tr>
        </thead>

        <tbody>
        {% do action( 'woocommerce_order_details_before_order_table_items', order ) %}

        {% for item_id, item in order_items %}
        {% set product = item.get_product %}
        {% set purchase_note = product ? product.get_purchase_note : '' %}
        {{ fn('wc_get_template', 'order/order-details-item.php', { 'order' : order, 'item_id' : item_id, 'item' : item, 'show_purchase_note' : show_purchase_note, 'purchase_note' : purchase_note, 'product' : product } ) }}
        {% endfor %}

        {% do action( 'woocommerce_order_details_after_order_table_items', order ) %}

        </tbody>

        <tfoot>
        {% set totals = order.get_order_item_totals %}
        {% for key, total in totals %}
        <tr>
            <th scope="row">{{ total.label }}</th>
            <td>{{ total.value }}</td>
        </tr>
        {% endfor %}
        {% set customer_note = order.get_customer_note %}
        {% if customer_note  %}
            <tr>
                <th>{{ __( 'Note:', 'woocommerce' ) }}</th>
                <td> {{ fn('wptexturize', customer_note ) }}</td>
            </tr>
        {% endif %}
        </tfoot>
    </table>

    <a class="btn btn--submit btn--submit__proxy pt-4 pr-5 pb-4 pl-5 font-weight-bold text-white text-uppercase ls-1" href="{{ site.url }}">homepage</a>

    {% do action( 'woocommerce_order_details_after_order_table', order )  %}
</section>
{% if show_customer_details  %}
    {{ fn('wc_get_template', 'order/order-details-customer.php', {'order' : order }) }}
{% endif %}
