<tr class="{{ ('woocommerce-table__line-item order_item'|apply_filters( 'woocommerce_order_item_class', item, order ))|e('html_attr') }}">

    <td class="woocommerce-table__product-name product-name">
        {{ order_item_name }}
        <span class="badge badge-light">{{ order_item_quantity }}</span>
        {% do action( 'woocommerce_order_item_meta_start', item_id, item, order, false ) %}
        {{ fn('wc_display_item_meta', item ) }}
        {% do action( 'woocommerce_order_item_meta_end', item_id, item, order, false ) %}
    </td>

    <td class="woocommerce-table__product-total product-total">
        {{ formatted_subtotal }}
    </td>

</tr>

{% if show_purchase_note and purchase_note %}

<tr class="woocommerce-table__product-purchase-note product-purchase-note">

    <td colspan="2">{{ formatted_purchase_note }}</td>

</tr>

{% endif %}
