{% if show_shipping %}
<section class="woocommerce-customer-details row">
    <div class="woocommerce-columns woocommerce-columns--2 woocommerce-columns--addresses col2-set addresses d-md-flex d-lg-flex align-items-stretch">
        <div class="woocommerce-column woocommerce-column--billing-address col-xs-12 col-md-6 d-md-flex d-lg-flex">

            {% endif %}

            <div class="floating-table flex-fill {% if show_shipping %}mb-5{% endif %} mb-sm-0">
                <div class="floating-table__header">
                    <h2 class="woocommerce-column__title">{{ __( 'Billing address', 'woocommerce' ) }} </h2>
                    <a class="btn" href="{{ fn('wc_get_endpoint_url', 'edit-address' ) }}/billing" class="btn" data-address-target="form-billing-address" aria-label="{{ __('Modifica indirizzo di fatturazione', THEME_CONTEXT ~ '-aria') }}">
                        {{ edit_icon }}
                    </a>
                </div>
                <address class="pl-5 pt-4 pr-5 pb-4 display-4">
                    <p>{{ billing_address.company }}</p>
                    <p><strong>{{ billing_address.first_name }} {{ billing_address.last_name }}</strong>
                        </br>
                        {{ billing_address.address_1 }}
                        {% if billing_address.address_2 %}
                            </br>
                            {{ billing_address.address_2 }}
                        {% endif %}
                        </br>
                        {{ billing_address.city }}
                        </br>
                        {{ billing_address.postcode }} {{ billing_address.state }}
                    </p>
                    {% if order.get_billing_phone %}
                        <p class="woocommerce-customer-details--phone">{{ order.get_billing_phone|e('esc_html') }}</p>
                    {% endif %}

                    {% if order.get_billing_email %}
                        <p class="woocommerce-customer-details--email">{{ order.get_billing_email|e('esc_html') }}</p>
                    {% endif %}
                </address>
            </div>

            {% if show_shipping %}

        </div>

        <div class="woocommerce-column woocommerce-column--shipping-address col-xs-12 col-md-6 d-md-flex d-lg-flex">
            <div class="floating-table flex-fill">
                <div class="floating-table__header">
                    <h2 class="woocommerce-column__title">{{ __( 'Shipping address', 'woocommerce' ) }}</h2>
                    <a class="btn" href="{{ fn('wc_get_endpoint_url', 'edit-address' ) }}/shipping" class="btn" data-address-target="form-shipping-address" aria-label="{{ __('Modifica indirizzo di spedizione', THEME_CONTEXT ~ '-aria') }}">
                        {{ edit_icon }}
                    </a>
                </div>
                <address class="pl-5 pt-4 pr-5 pb-4 display-4">
                    <p>{{ shipping_address.company }}</p>
                    <p><strong>{{ shipping_address.first_name }} {{ shipping_address.last_name }}</strong>
                        </br>
                        {{ shipping_address.address_1 }}
                        {% if shipping_address.address_2 %}
                            </br>
                            {{ shipping_address.address_2 }}
                        {% endif %}
                        </br>
                        {{ shipping_address.city }}
                        </br>
                        {{ shipping_address.postcode }} {{ shipping_address.state }}
                    </p>
                </address>
            </div>
        </div>

    </div>

</section>
{% endif %}
