<form class="woocommerce-form woocommerce-form-login login" method="post" {{ hidden }}>

    {% do action( 'woocommerce_login_form_start' ) %}

    {{ message }}

    <p class="form-row form-row-first input-type-text">
        <span class="woocommerce-input-wrapper">
        <label for="username">{{ __( 'Username or email', 'woocommerce' )|e('esc_html') }}&nbsp;<span class="required">*</span></label>
        <input type="text" class="input-text" name="username" id="username" autocomplete="username" />
        </span>
    </p>
    <p class="form-row form-row-last input-type-text">
    <span class="woocommerce-input-wrapper">
        <label for="password">{{ __( 'Password', 'woocommerce' )|e('esc_html') }}&nbsp;<span class="required">*</span></label>
        <input class="input-text" type="password" name="password" id="password" autocomplete="current-password" />
    </span>
    </p>
    <div class="clear mb-5"></div>

    {% do action( 'woocommerce_login_form' ) %}

    <p class="form-row">
        {{  fn('wp_nonce_field', 'woocommerce-login', 'woocommerce-login-nonce' ) }}
        <button type="submit" class="btn btn--full" name="login" value="{{ __( 'Login', 'woocommerce' )|e('html_attr') }}">{{ __( 'Login', 'woocommerce' )|e('esc_html') }}</button>
        <input type="hidden" name="redirect" value="{{ redirect|e('esc_url') }}" />
        <label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline ml-5">
            <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" />
            <span class="svg-wrapper">{{ tick }}</span>
            <span>{{ __( 'Remember me', 'woocommerce' ) }}</span>
        </label>
    </p>
    <p class="lost_password mt-4">
        <a href="{{ fn('wp_lostpassword_url')|e('esc_url') }}">{{__( 'Lost your password?', 'woocommerce' )|e('esc_html') }}</a>
    </p>

    <div class="clear"></div>
    {% do action( 'woocommerce_login_form_end' ) %}

</form>